.feed-heading::after {
  display: block;
  width: 100%;
  height: 0;
}

.feed {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}
.feed-heading {
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
}
.feed-heading::after {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-transform: translatey(50%);
          transform: translatey(50%);
}
.feed-heading .icon {
  margin-right: 20px;
}
.feed-content {
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feed-button {
  grid-row: 3;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}
@media (min-width: 601px) and (max-width: 900px) {
  .feed-button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
@media (min-width: 901px) {
  .feed-button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.feed-heading {
  font: normal bold 24px/1.7083 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  color: #004990 !important;
}
.feed-heading::after {
  border-top: 6px solid #E7EAF1;
  width: 30px;
  background-color: transparent;
  color: transparent;
}
.feed-heading .icon {
  width: 24px;
  height: 24px;
}
.feed-heading svg {
  fill: #004990;
}
.feed .feed-item {
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #E7EAF1;
}