{{! Group and sort events. }}
{{assign 'events' (getEvents events)}}

<div class="calendar-page">

  {{> organisms-header classes='calendar-page-header'}}

  <!-- NOTE: Passing `global.location.params` below is only to enable internal linking within the Pattern Library. This is not the recommended approach for production. -->
  <eul-calendar inline-template :feed="global.location.params.feed || '{{feed}}'" :model="{{JSONstringify model}}" :archive="{{default archive false}}" v-cloak>

    <div class="calendar-page-main">

      {{> organisms-main type='calendar-page' classes='' vue=false}}

      {{#extend 'organisms-major' theme='light' foreach='group in calendar' heading='<% group.name %>' vue=true}}
        {{#content 'section-major-body'}}

          {{> compounds-tiles
              columns=(objectify m=2 l=2 xl=3)
              tile-type='listing'
              vue=true
              tiles='group.events'
              tile='tile'
              date='<% tile.date.formatted | decode %>'
              title='<% tile.title %>'
              description=false
              image='<% tile.image %>'
              link='<% tile.link %>'
              badge=false}}

        {{/content}}
      {{/extend}}

      {{#if button}}
      <div class="button-group">
        {{#with button}}{{> atoms-button-link icon=false interpolate=false}}{{/with}}
      </div>
      {{/if}}

    </div>

  </eul-calendar>

  <noscript>

    <div class="calendar-page-main">

      {{> 'organisms-main' type='calendar-page' classes=''}}

      <p class="text">
        We were unable to load the calender you were looking for because JavaScript is disabled in your browser. JavaScript is required in order for this page to work. Please, enable JavaScript, then try again.
      </p>

    </div>

  </noscript>

  {{> organisms-footer classes='calendar-page-footer'}}

</div>
