{{! Group and sort events. }}
{{assign 'events' (getEvents events)}}

<div class="calendar-page">

  {{> organisms-header classes='calendar-page-header'}}

  <eul-calendar inline-template :feed="'{{feed}}'" :model="{{JSONstringify model}}" :archive="{{default archive false}}" v-cloak>

    <div class="calendar-page-main">

      {{> organisms-main type='calendar-page' classes=''}}

      {{#extend 'organisms-major' theme='light' foreach='group in calendar' heading='<% group.name %>' vue=true}}
        {{#content 'section-major-body'}}

          {{> compounds-tiles
              columns=(objectify m=2 l=2 xl=3)
              tile-type='listing'
              vue=true
              tiles='group.events'
              tile='tile'
              date='<% tile.date.formatted %>'
              title='<% tile.title %>'
              description=false
              image='<% tile.image %>'
              link='<% tile.link %>'
              badge=false}}

        {{/content}}
      {{/extend}}

      {{#if button}}
      <div class="button-group">
        {{> atoms-button-link href=button.href label=button.label}}
      </div>
      {{/if}}

    </div>

  </eul-calendar>

  <noscript>

    <div class="calendar-page-main">

      {{> 'organisms-main' type='calendar-page' classes=''}}

      <p class="text">
        We were unable to load the calender you were looking for because JavaScript is disabled in your browser. JavaScript is required in order for this page to work. Please, enable JavaScript, then try again.
      </p>

    </div>

  </noscript>

  {{> organisms-footer classes='calendar-page-footer'}}

</div>
