<div class="event-page">

  {{> organisms-header classes='event-page-header'}}

  <eul-event inline-template :feed="'{{feed}}'" :id="'{{id}}'" :model="{{JSONstringify model}}" v-cloak>

    <div class="event-page-main">

      {{! Display a spinner while loading. }}
      <template v-if="loading">
        {{> tokens-spinner}}
      </template>

      {{! Then, display the events details for valid events. }}
      <template v-else-if="event">
        {{#extend 'organisms-main' type='event-page' classes='' title='<% event.title %>' hero='<% event.hero %>' subtitle='<% event.date %>' vue=true}}
          {{#content 'section-main-body'}}
            <p class="text" v-if="event.description" v-html="event.description"></p>
            <p class="text" v-else>
              No additional information is available for this event at this time. Please, check back at a later date, or contact the event organizer for more information.
            </p>
          {{/content}}
          {{#content 'section-main-sidebar'}}
            {{> compounds-sidebar-list foreach='(section, i) in event.sections' collection='event.sections' key='i' index='i' value='section' outer='event'}}
          {{/content}}
          {{#content 'section-main-other'}}
            <div class="section-main-spacer"></div>
            <div class="section-main-other">
              {{> atoms-rule classes=''}}
              {{> tokens-heading level=6 heading='Related University Event Topics' classes='list-title'}}
              {{> atoms-list-related-topics foreach='(topic, i) in event.topics' key='i' value='topic'}}
            </div>
          {{/content}}
        {{/extend}}
      </template>

      {{! Otherwise, display an error for invalid events. }}
      <template v-else>
        {{#extend 'organisms-main' type='event-page' classes='' title='Event Not Found'}}
          {{#content 'section-main-body'}}
            <p class="text">
              The event you were looking for could not be found. Please, check that you have the correct feed URL and event ID, then try again.
            </p>
          {{/content}}
        {{/extend}}
      </template>

    </div>

  </eul-event>

  <noscript>

    <div class="event-page-main">

      {{#extend 'organisms-main' type='event-page' classes='' title='Error Loading Event' hero=null vue=false}}
        {{#content 'section-main-body'}}
          <p class="text">
          We were unable to load the event you were looking for because JavaScript is disabled in your browser. JavaScript is required in order for this page to work. Please, enable JavaScript, then try again.
          </p>
        {{/content}}
      {{/extend}}

    </div>

  </noscript>

  {{> organisms-footer classes='event-page-footer'}}

</div>
