{{! Create an index contianing the IDs of all staff in order to enable filtering. }}
{{#each staff}}

  {{storagePush 'index' (dashcase (lowercase name))}}

{{/each}}

{{assign 'index' (storageGet 'index')}}

{{! Determine the default query in the search filter menu. }}
{{#if __params__}}{{assign 'query' (default __params__.q __params__.query '')}}{{/if}}

<div class="staff-directory-page">

  {{> organisms-header classes='staff-directory-page-header'}}

  {{#extend 'organisms-main' type="staff-directory-page" classes="staff-directory-page-main"}}
    {{#content 'section-main-body'}}

      {{! Use a grid to better position stuff inside the main section. }}
      {{#extend 'tokens-grid' cols='1fr' gap=(objectify cols='25px' rows='25px')}}
        {{#content 'grid-items'}}

          {{! Render a search filter. }}
          {{> atoms-filter-search aria-label="Enter a name, title, library, phone number, or email to filter the list of staff"
                                  layout='contained'
                                  mode='big'
                                  keys=(makeArray 'name' 'title' 'library' 'phone' 'email')
                                  config=(objectify tokenize=true matchAllTokens=true sort=true)
                                  placeholder=(default input-placeholder placeholder 'Search for a Staff Member')}}

          {{! Render the bio cards. }}
          {{> compounds-cards card-type='staff' cards=staff columns=1 classes="" filterable=true}}

        {{/content}}
      {{/extend}}

    {{/content}}
  {{/extend}}

  {{> organisms-footer classes='staff-directory-page-footer'}}

</div>
