{{! Create an index contianing the IDs of all librarians in order to enable filtering. }}
{{assign 'index' (pluck librarians 'id')}}

{{! Create a list of options for the dropdown filter. }}
{{assign 'options' (sort (unique (condense (pluck librarians 'subjects'))))}}

{{! Determine the default selection in the dropdown filter menu. }}
{{#if __params__}}{{assign 'selected' (default __params__.subject '')}}{{/if}}

<div class="subject-librarian-directory-page">

  {{> organisms-header classes='subject-librarian-page-header'}}

  {{#extend 'organisms-main' type="subject-librarian-directory-page" classes="subject-librarian-directory-page-main"}}
    {{#content 'section-main-body'}}

      {{! Use a grid to better position stuff inside the main section. }}
      {{#extend 'tokens-grid' cols='1fr' gap=(objectify cols='25px' rows='25px')}}
        {{#content 'grid-items'}}

          {{! Render a search filter. }}
          {{> atoms-filter-dropdown key='subjects'
                                    config=(objectify sort=true)
                                    label=(default label 'View All')}}

          {{! Render the bio cards. }}
          {{> compounds-cards card-type='librarian' cards=librarians columns=1 classes="" filterable=true}}

        {{/content}}
      {{/extend}}

    {{/content}}
  {{/extend}}

  {{> organisms-footer classes='subject-librarian-directory-page-footer'}}

</div>
