@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
ico,
[class^=ico-],
[class*=ico-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-arrow-down-circle::before {
  content: "";
}

.ico-arrow-left-circle::before {
  content: "";
}

.ico-arrow-right-circle::before {
  content: "";
}

.ico-arrow-up-circle::before {
  content: "";
}

.ico-arrow-down-left::before {
  content: "";
}

.ico-arrow-down-right::before {
  content: "";
}

.ico-arrow-up-right::before {
  content: "";
}

.ico-arrow-up-left::before {
  content: "";
}

.ico-arrow-down::before {
  content: "";
}

.ico-arrow-left::before {
  content: "";
}

.ico-arrow-right::before {
  content: "";
}

.ico-arrow-up::before {
  content: "";
}

.ico-chevron-down::before {
  content: "";
}

.ico-chevron-left::before {
  content: "";
}

.ico-chevron-right::before {
  content: "";
}

.ico-chevron-up::before {
  content: "";
}

.ico-chevrons-down::before {
  content: "";
}

.ico-chevrons-left::before {
  content: "";
}

.ico-chevrons-right::before {
  content: "";
}

.ico-chevrons-up::before {
  content: "";
}

.ico-corner-down-left::before {
  content: "";
}

.ico-corner-down-right::before {
  content: "";
}

.ico-corner-left-down::before {
  content: "";
}

.ico-corner-left-up::before {
  content: "";
}

.ico-corner-right-down::before {
  content: "";
}

.ico-corner-right-up::before {
  content: "";
}

.ico-corner-up-left::before {
  content: "";
}

.ico-corner-up-right::before {
  content: "";
}

/*** INSERT NEW TOKENS HERE ***/
.list {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
}
.list:not(.-numbered):not(.-links):not(.-topics):not(.-files) .list-item, .-bulleted.list .list-item {
  display: block;
}
.list:not(.-numbered):not(.-links):not(.-topics):not(.-files) .list-item::before, .-bulleted.list .list-item::before {
  position: absolute;
  display: block;
  top: 0;
}
.list:not(.-numbered):not(.-links):not(.-topics):not(.-files) .list-item :first-child, .-bulleted.list .list-item :first-child {
  margin-top: 0;
}
.list:not(.-numbered):not(.-links):not(.-topics):not(.-files) .list-item :last-child, .-bulleted.list .list-item :last-child {
  margin-bottom: 0;
}
.-numbered.list .list-item {
  display: block;
}
.-numbered.list .list-item::before {
  position: absolute;
  display: block;
  top: 0;
}
.-numbered.list .list-item :first-child {
  margin-top: 0;
}
.-numbered.list .list-item :last-child {
  margin-bottom: 0;
}
.-links.list .list-item {
  display: block;
}
.-topics.list .list-item {
  display: inline-block;
}
.-files.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.-files.list .list-item {
  display: block;
}
.-files.list .link {
  align-items: flex-start;
}

/*** INSERT NEW ATOMS HERE ***/
/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.list:not(.-numbered):not(.-links):not(.-topics):not(.-files), .list.-bulleted {
  padding-left: 25px;
}
.list:not(.-numbered):not(.-links):not(.-topics):not(.-files) .list-item::before, .list.-bulleted .list-item::before {
  content: "■";
  color: #5387F7;
  left: -25px;
}
.list.-numbered {
  counter-reset: numbered-list-item;
  padding-left: 25px;
}
.list.-numbered .list-item::before {
  content: counter(numbered-list-item, decimal) ".";
  counter-increment: numbered-list-item;
  color: #5387F7;
  left: -25px;
  font-family: "Cardo", serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: inherit;
}
.list.-topics .list-item:not(:last-child)::after {
  content: "," " ";
}
.list.-files {
  grid-gap: 10px;
}