/**
 * Load component configurations.
 */
@import 'wells/skin';

/**
 * Defines the well component.
 */
@mixin well( $selector, $custom-skin: () ) {
  
  /**
   * Extend the default appearance with the user-defined appearance.
   */
  $skin: map-extend($well-default-skin, $custom-skin, true);
  
  /**
   * Defines the structure of the well component.
   */
  #{$selector} {
    margin-bottom: 1em;
    
    @each $name, $map in map-deep-get($skin, 'size' 'sizes') {
      
      @if( $name == map-deep-get($skin, 'size' 'default') ) {
        padding: map-get($map, 'padding');
        border-radius: map-get($map, 'radius');
      }
      @else {
        &.#{$name} { 
          padding: map-get($map, 'padding'); 
          border-radius: map-get($map, 'radius');
        }
      }
      
    }
    
    /**
     * Defines the appearance of the well component.
     */
    box-shadow: map-deep-get($skin, 'shadow');
    border: map-deep-get($skin, 'border');
    @if( map-deep-get($skin, 'background') ) {
      background-color: map-deep-get($skin, 'background');
      color: color-contrast( map-deep-get($skin, 'background') );
    }
    @if( map-deep-get($skin, 'color') ) {
      color: map-deep-get($skin, 'color');
    }
    
  }
  
}