@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
/*** INSERT NEW TOKENS HERE ***/
/*** INSERT NEW ATOMS HERE ***/
.figure {
  display: block;
  margin: 0;
  width: 100%;
}
.figure-image {
  display: block;
}
.figure-caption {
  display: block;
  margin: 0;
}

/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.figure {
  border-bottom: 1px solid #e6e8ec;
  margin-top: 2em;
  margin-bottom: 2em;
}
.figure-image {
  width: 100%;
}
.figure-caption {
  padding-top: 25px;
  padding-bottom: 25px;
}
.figure-caption {
  font-family: "Cardo", serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.5;
  text-transform: none;
  text-align: left;
  color: #605858;
}