node_modules/
.DS_Store
patternlab.json
.sass-cache/
/sass-cache
Thumbs.db
public/
secret.json
src/**/css/*.css
src/css/*.css
src/**/css/*.css.map
pattern_exports/
env.json
secret.json
*.temp.*
/dist/*-push/**/*
src/_patterns/**/*.temp.scss
