.DS_Store
.sass-cache/*
node_modules/*
export/*
public/css/*
public/js/*
public/images/*
public/patterns/*
public/annotations/*
public/favicon.ico
public/latest-change.txt
public/styleguide/css/styleguide-specific.css
public/styleguide/data/*
public/styleguide/html/*
