<ul class="breadcrumb">
    <li><a href="/patterns/organisms/index.html">Organisms</a></li>
    <li><a href="/patterns/organisms-40-navigation/index.html">Navigation</a></li>
    <li class="active">Breadcrumbs</li>
</ul>
