<div class="sg-stack">

  {{#wells}}
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.well{{#styleModifier}}.{{styleModifier}}{{/styleModifier}}</code>
    <h5 class="sg-variation-label">{{styleModifier}}{{^styleModifier}}Default{{/styleModifier}}</h5>
    
    {{> molecules-well }}
    
  </div>
  {{/wells}}

</div>