.hours-page {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: -webkit-min-content 1fr auto;
  grid-template-rows: min-content 1fr auto;
  grid-template-columns: 100%;
  /*
    // Adjust grid layout on larger screens.
    @include breakpoint-l {
      grid-template-rows: 150px 1fr auto;
    };

    // Adjust grid layout on even larger screens.
    @include breakpoint-xl {
      grid-template-rows: 130px 1fr auto;
    };
  */
}
.hours-page-header {
  grid-area: header;
}
.hours-page-main {
  grid-area: main;
}
.hours-page-footer {
  grid-area: footer;
}
