<div class="sg-stack sg-inlines">

  {{#inline}}
  <div class="sg-stack-item sg-inlines-inline">
  
    <code class="sg-code-snippet">{{tag}}</code>
    <h5 class="sg-variation-label lowercase code">&lt;{{tag}}&gt;</h5>
    
    <div class="sg-inlines-inline-name">{{name}}</div>
    <p class="sg-inlines-inline-use">{{{use}}}</p>
    
  </div>
  {{/inline}}

</div>
