<p class="{{styleModifier}}">{{text}}{{^text}}Consequat in elit. Tamen quo pariatur nam legam ne an lorem dolor sed consequat aut eu dolore occaecat iis noster incididunt praetermissum ad malis fidelissimae tempor multos senserit, velit id eiusmod quo magna ea enim firmissimum officia anim doctrina ut amet voluptate in distinguantur. Minim concursionibus appellat sunt nostrud est a cupidatat relinqueret, an esse commodo, ubi legam aut nisi.{{/text}}</p>