<div class="sg-stack">
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.size-large</code>
    <h5 class="sg-variation-label">Large</h5>
    
    {{> atoms-button:size-large(text: "Large") }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button</code>
    <h5 class="sg-variation-label">Medium (Default)</h5>
    
    {{> atoms-button(text: "Medium") }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.size-small</code>
    <h5 class="sg-variation-label">Small</h5>
    
    {{> atoms-button:size-small(text: "Small") }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.size-mini</code>
    <h5 class="sg-variation-label">Mini</h5>
    
    {{> atoms-button:size-mini(text: "Mini") }}
    
  </div>

</div>