<div class="sg-stack">
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button</code>
    <h5 class="sg-variation-label">Text</h5>
    
    {{> atoms-button(text: "None") }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.icon</code>
    <h5 class="sg-variation-label">Icon</h5>
    
    {{> atoms-button(icon: "fa-bolt") }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.icon</code>
    <h5 class="sg-variation-label">Icon + Text</h5>
    
    {{> atoms-button(text: "Icon", icon: "fa-bolt") }}
    
  </div>

</div>