.intro-cover {
  display: block;
}
.intro-cover-title {
  grid-row: 1;
  margin-bottom: 0;
}
.intro-cover-subtitle {
  grid-row: 2;
}
.intro-cover-subtitle:not(.-date) {
  margin-top: 0;
}
.intro-cover-image {
  margin-top: 2em;
  margin-bottom: 2em;
  grid-row: 3;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.intro-cover-image img {
  width: 100%;
}

.intro-cover-title, .intro-cover-subtitle {
  text-align: center;
}
.intro-cover-title {
  font: normal normal 48px/1.0833 "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  color: #091C44;
  font-size: 40px !important;
}
@media (min-width: 601px) and (max-width: 900px) {
  .intro-cover-title {
    font-size: 74px !important;
  }
}
@media (min-width: 901px) {
  .intro-cover-title {
    font-size: 74px !important;
  }
}
.intro-cover-subtitle {
  font: normal bold 22px/1.6364 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  color: #091C44;
}
.intro-cover-subtitle.-date {
  font: normal bold 12px/1.6667 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #091C44;
}
.intro-cover-image {
  height: 540px;
}