.intro-hero {
  display: grid;
  grid-template-rows: 5fr repeat(3, -webkit-min-content) 1fr;
  grid-template-rows: 5fr repeat(3, min-content) 1fr;
  grid-template-columns: 1fr minmax(-webkit-min-content, 800px) 1fr;
  grid-template-columns: 1fr minmax(min-content, 800px) 1fr;
  background-size: cover;
  background-position: center center;
  height: 437px;
}
.intro-hero::before {
  content: "";
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}
.intro-hero-badge {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  -ms-flex-item-align: center;
      align-self: center;
}
.intro-hero-title {
  grid-row: 3/span 1;
  grid-column: 2/span 1;
  -ms-flex-item-align: center;
      align-self: center;
}
.intro-hero-subtitle {
  grid-row: 4/span 1;
  grid-column: 2/span 1;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
}

.intro-hero::before {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-14.42%, #282828), color-stop(50%, transparent));
  background-image: linear-gradient(0deg, #282828 -14.42%, transparent 50%);
}
.intro-hero-title {
  margin: 0;
  font: normal bold 50px/1.36 "Cardo", serif !important;
  letter-spacing: normal !important;
  text-transform: none !important;
  color: #FFFFFF !important;
  text-align: center;
}
.intro-hero-subtitle {
  font: normal normal 16px/1.5 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  color: #FFFFFF;
}