.intro-fitted-hero {
  display: grid;
  grid-template-rows: 6fr repeat(2, -webkit-min-content) 1fr;
  grid-template-rows: 6fr repeat(2, min-content) 1fr;
  grid-template-columns: 1fr minmax(-webkit-min-content, 800px) 1fr;
  grid-template-columns: 1fr minmax(min-content, 800px) 1fr;
  background-size: cover;
  height: 437px;
}
.intro-fitted-hero-image {
  grid-row: 1/-1;
  grid-column: 1/-1;
  background-size: cover;
  background-position: center center;
}
.intro-fitted-hero-gradient {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
.intro-fitted-hero-title {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  -ms-flex-item-align: center;
      align-self: center;
}
.intro-fitted-hero-subtitle {
  grid-row: 3/span 1;
  grid-column: 2/span 1;
  -ms-flex-item-align: center;
      align-self: center;
}

.intro-fitted-hero-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-14.42%, #282828), color-stop(50%, rgba(40, 40, 40, 0)));
  background-image: linear-gradient(0deg, #282828 -14.42%, rgba(40, 40, 40, 0) 50%);
}
.intro-fitted-hero-title {
  margin: 0;
  text-align: center;
}
.intro-fitted-hero-title {
  font-family: "Cardo", serif !important;
  font-size: 50px !important;
  font-weight: bold !important;
  font-style: normal !important;
  line-height: 1.36 !important;
  letter-spacing: normal !important;
  text-transform: none !important;
  color: #FFFFFF !important;
}
.intro-fitted-hero-subtitle {
  margin: 0;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}