<header class="intro-interior-cover">
    {{> tokens-heading level="1" alternate=true classes="intro-interior-cover-title" heading=title icon=false}}
    {{#if subtitle}}<p class="intro-interior-cover-subtitle">{{subtitle}}</p>{{/if}}
    <div class="intro-interior-cover-image" style="background-image: url({{background-image}});"></div>
</header>
