.intro-home {
  display: grid;
  grid-template-rows: minmax(180px, -webkit-min-content) -webkit-min-content 6fr repeat(2, -webkit-min-content) 1fr;
  grid-template-rows: minmax(180px, min-content) min-content 6fr repeat(2, min-content) 1fr;
  grid-template-columns: 1fr 2fr minmax(-webkit-min-content, 800px) 2fr 1fr;
  grid-template-columns: 1fr 2fr minmax(min-content, 800px) 2fr 1fr;
  background-size: cover;
  background-position: center;
  height: 845px;
}
.intro-home-search {
  grid-row: 1;
  grid-column: 1/-1;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin: 0 !important;
}
.intro-home-search .search-menu {
  padding-top: 0;
}
.intro-home-badge {
  grid-row: 4;
  grid-column: 3;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto !important;
}
.intro-home-title {
  grid-row: 5;
  grid-column: 3;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto !important;
}

.intro-home {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-14.42%, #091C44), color-stop(51.12%, transparent)), var(--image);
  background-image: linear-gradient(0deg, #091C44 -14.42%, transparent 51.12%), var(--image);
}
.intro-home-title {
  text-align: center;
  text-decoration: none;
}
.intro-home-title h1, .intro-home-title h2, .intro-home-title h3, .intro-home-title h4, .intro-home-title h5, .intro-home-title h6,
.intro-home-title .heading {
  font: normal normal 48px/1.0833 "Cardo", serif !important;
  letter-spacing: normal !important;
  text-transform: none !important;
  color: #FFFFFF !important;
}
.intro-home-search {
  background-color: transparent;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.intro-home-search {
  -webkit-transition: padding 0.25s ease;
  transition: padding 0.25s ease;
}
@media (max-width: 600px) {
  .intro-home-search {
    padding: 0.5em 20px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .intro-home-search {
    padding: 0.5em 20px;
  }
}
@media (min-width: 901px) {
  .intro-home-search {
    padding: 0.5em 40px;
  }
}
@media (min-width: 1200px) {
  .intro-home-search {
    padding: 0.5em 40px;
  }
}
@media (min-width: 1290px) {
  .intro-home-search {
    padding: 0 calc((100vw - 1250px) / 2);
  }
}
.intro-home-search:focus-within, .intro-home-search:focus, .intro-home-search:hover, .intro-home-search:active, .intro-home-search.is-hover, .intro-home-search.is-focus {
  background-color: rgba(9, 28, 68, 0.9);
}
.intro-home-search .search-menu, .intro-home-search .search-menu:hover, .intro-home-search .search-menu:focus, .intro-home-search .search-menu.is-hover, .intro-home-search .search-menu.is-focus, .intro-home-search .search-menu.is-hover, .intro-home-search .search-menu.is-focus {
  background-color: transparent !important;
}
.intro-home-search .tab:active::after, .intro-home-search .tab.is-active::after {
  background-image: none !important;
}