      <header class="intro-fitted-hero">
          <div class="intro-fitted-hero-image" style="background-image: url({{background-image}});"></div>
          <div class="intro-fitted-hero-gradient"></div>
            {{> tokens-heading level="1" alternate=true classes="intro-fitted-hero-title" heading=title icon=false}}
            {{#if subtitle}}<p class="intro-fitted-hero-subtitle">{{subtitle}}</p>{{/if}}
      </header>
