@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
ico,
[class^=ico-],
[class*=ico-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-arrow-down-circle::before {
  content: "";
}

.ico-arrow-left-circle::before {
  content: "";
}

.ico-arrow-right-circle::before {
  content: "";
}

.ico-arrow-up-circle::before {
  content: "";
}

.ico-arrow-down-left::before {
  content: "";
}

.ico-arrow-down-right::before {
  content: "";
}

.ico-arrow-up-right::before {
  content: "";
}

.ico-arrow-up-left::before {
  content: "";
}

.ico-arrow-down::before {
  content: "";
}

.ico-arrow-left::before {
  content: "";
}

.ico-arrow-right::before {
  content: "";
}

.ico-arrow-up::before {
  content: "";
}

.ico-chevron-down::before {
  content: "";
}

.ico-chevron-left::before {
  content: "";
}

.ico-chevron-right::before {
  content: "";
}

.ico-chevron-up::before {
  content: "";
}

.ico-chevrons-down::before {
  content: "";
}

.ico-chevrons-left::before {
  content: "";
}

.ico-chevrons-right::before {
  content: "";
}

.ico-chevrons-up::before {
  content: "";
}

.ico-corner-down-left::before {
  content: "";
}

.ico-corner-down-right::before {
  content: "";
}

.ico-corner-left-down::before {
  content: "";
}

.ico-corner-left-up::before {
  content: "";
}

.ico-corner-right-down::before {
  content: "";
}

.ico-corner-right-up::before {
  content: "";
}

.ico-corner-up-left::before {
  content: "";
}

.ico-corner-up-right::before {
  content: "";
}

.intro-home-title h1 .anchor, .intro-home-title h2 .anchor, .intro-home-title h3 .anchor, .intro-home-title h4 .anchor, .intro-home-title h5 .anchor, .intro-home-title h6 .anchor,
.intro-home-title .heading .anchor {
  display: inline-flex;
  align-items: center;
}
.intro-home-title h1 .anchor .icon, .intro-home-title h2 .anchor .icon, .intro-home-title h3 .anchor .icon, .intro-home-title h4 .anchor .icon, .intro-home-title h5 .anchor .icon, .intro-home-title h6 .anchor .icon,
.intro-home-title .heading .anchor .icon {
  margin: 0 !important;
}
.intro-home-title h1:not(.is-anchored) h1 .anchor, .intro-home-title h2:not(.is-anchored) h1 .anchor, .intro-home-title h3:not(.is-anchored) h1 .anchor, .intro-home-title h4:not(.is-anchored) h1 .anchor, .intro-home-title h5:not(.is-anchored) h1 .anchor, .intro-home-title h6:not(.is-anchored) h1 .anchor,
.intro-home-title .heading:not(.is-anchored) h1 .anchor, .intro-home-title h1:not(.is-anchored) h2 .anchor, .intro-home-title h2:not(.is-anchored) h2 .anchor, .intro-home-title h3:not(.is-anchored) h2 .anchor, .intro-home-title h4:not(.is-anchored) h2 .anchor, .intro-home-title h5:not(.is-anchored) h2 .anchor, .intro-home-title h6:not(.is-anchored) h2 .anchor,
.intro-home-title .heading:not(.is-anchored) h2 .anchor, .intro-home-title h1:not(.is-anchored) h3 .anchor, .intro-home-title h2:not(.is-anchored) h3 .anchor, .intro-home-title h3:not(.is-anchored) h3 .anchor, .intro-home-title h4:not(.is-anchored) h3 .anchor, .intro-home-title h5:not(.is-anchored) h3 .anchor, .intro-home-title h6:not(.is-anchored) h3 .anchor,
.intro-home-title .heading:not(.is-anchored) h3 .anchor, .intro-home-title h1:not(.is-anchored) h4 .anchor, .intro-home-title h2:not(.is-anchored) h4 .anchor, .intro-home-title h3:not(.is-anchored) h4 .anchor, .intro-home-title h4:not(.is-anchored) h4 .anchor, .intro-home-title h5:not(.is-anchored) h4 .anchor, .intro-home-title h6:not(.is-anchored) h4 .anchor,
.intro-home-title .heading:not(.is-anchored) h4 .anchor, .intro-home-title h1:not(.is-anchored) h5 .anchor, .intro-home-title h2:not(.is-anchored) h5 .anchor, .intro-home-title h3:not(.is-anchored) h5 .anchor, .intro-home-title h4:not(.is-anchored) h5 .anchor, .intro-home-title h5:not(.is-anchored) h5 .anchor, .intro-home-title h6:not(.is-anchored) h5 .anchor,
.intro-home-title .heading:not(.is-anchored) h5 .anchor, .intro-home-title h1:not(.is-anchored) h6 .anchor, .intro-home-title h2:not(.is-anchored) h6 .anchor, .intro-home-title h3:not(.is-anchored) h6 .anchor, .intro-home-title h4:not(.is-anchored) h6 .anchor, .intro-home-title h5:not(.is-anchored) h6 .anchor, .intro-home-title h6:not(.is-anchored) h6 .anchor,
.intro-home-title .heading:not(.is-anchored) h6 .anchor,
.intro-home-title h1:not(.is-anchored) .heading .anchor,
.intro-home-title h2:not(.is-anchored) .heading .anchor,
.intro-home-title h3:not(.is-anchored) .heading .anchor,
.intro-home-title h4:not(.is-anchored) .heading .anchor,
.intro-home-title h5:not(.is-anchored) .heading .anchor,
.intro-home-title h6:not(.is-anchored) .heading .anchor,
.intro-home-title .heading:not(.is-anchored) .heading .anchor {
  display: none;
}

/*** INSERT NEW TOKENS HERE ***/
/*** INSERT NEW ATOMS HERE ***/
/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
.intro-home {
  display: grid;
  grid-template-rows: minmax(180px, min-content) min-content 6fr repeat(2, min-content) 1fr;
  grid-template-columns: 1fr 2fr minmax(min-content, 800px) 2fr 1fr;
  background-size: cover;
  background-position: center;
  height: 845px;
}
.intro-home-search {
  grid-row: 1;
  grid-column: 1/-1;
  align-self: stretch;
  margin: 0 !important;
}
.intro-home-search .search-menu {
  padding-top: 0;
}
.intro-home-badge {
  grid-row: 4;
  grid-column: 3;
  align-self: center;
  margin: 0 auto !important;
}
.intro-home-title {
  grid-row: 5;
  grid-column: 3;
  align-self: center;
  margin: 0 auto !important;
}

/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.intro-home {
  background-image: -webkit-linear-gradient(0deg, #091C44 -14.42%, transparent 51.12%), var(--image);
  background-image: -moz-linear-gradient(0deg, #091C44 -14.42%, transparent 51.12%), var(--image);
  background-image: -o-linear-gradient(0deg, #091C44 -14.42%, transparent 51.12%), var(--image);
  background-image: linear-gradient(0deg, #091C44 -14.42%, transparent 51.12%), var(--image);
}
.intro-home-title {
  text-align: center;
  text-decoration: none;
}
.intro-home-title h1, .intro-home-title h2, .intro-home-title h3, .intro-home-title h4, .intro-home-title h5, .intro-home-title h6,
.intro-home-title .heading {
  font-family: "Cardo", serif !important;
  font-size: 48px !important;
  font-weight: normal !important;
  font-style: normal !important;
  line-height: 1.0833 !important;
  letter-spacing: normal !important;
  text-transform: none !important;
  color: #FFFFFF !important;
}
.intro-home-title h1.is-anchored:hover .anchor, .intro-home-title h1.is-anchored.is-hover .anchor, .intro-home-title h1.is-anchored:focus .anchor, .intro-home-title h1.is-anchored.is-focus .anchor, .intro-home-title h2.is-anchored:hover .anchor, .intro-home-title h2.is-anchored.is-hover .anchor, .intro-home-title h2.is-anchored:focus .anchor, .intro-home-title h2.is-anchored.is-focus .anchor, .intro-home-title h3.is-anchored:hover .anchor, .intro-home-title h3.is-anchored.is-hover .anchor, .intro-home-title h3.is-anchored:focus .anchor, .intro-home-title h3.is-anchored.is-focus .anchor, .intro-home-title h4.is-anchored:hover .anchor, .intro-home-title h4.is-anchored.is-hover .anchor, .intro-home-title h4.is-anchored:focus .anchor, .intro-home-title h4.is-anchored.is-focus .anchor, .intro-home-title h5.is-anchored:hover .anchor, .intro-home-title h5.is-anchored.is-hover .anchor, .intro-home-title h5.is-anchored:focus .anchor, .intro-home-title h5.is-anchored.is-focus .anchor, .intro-home-title h6.is-anchored:hover .anchor, .intro-home-title h6.is-anchored.is-hover .anchor, .intro-home-title h6.is-anchored:focus .anchor, .intro-home-title h6.is-anchored.is-focus .anchor,
.intro-home-title .heading.is-anchored:hover .anchor,
.intro-home-title .heading.is-anchored.is-hover .anchor,
.intro-home-title .heading.is-anchored:focus .anchor,
.intro-home-title .heading.is-anchored.is-focus .anchor {
  visibility: visible;
  opacity: 1;
}
.intro-home-title h1 .anchor, .intro-home-title h2 .anchor, .intro-home-title h3 .anchor, .intro-home-title h4 .anchor, .intro-home-title h5 .anchor, .intro-home-title h6 .anchor,
.intro-home-title .heading .anchor {
  transition: visibility 0s, opacity 0.25s ease;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
}
.intro-home-search {
  background-color: transparent;
  transition: background-color 0.25s ease;
}
.intro-home-search {
  transition: padding 0.25s ease;
}
@media (max-width: 600px) {
  .intro-home-search {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .intro-home-search {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 901px) {
  .intro-home-search {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1200px) {
  .intro-home-search {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1290px) {
  .intro-home-search {
    padding-left: calc((100vw - 1250px) / 2);
    padding-right: calc((100vw - 1250px) / 2);
  }
}
@media (max-width: 600px) {
  .intro-home-search {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .intro-home-search {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
@media (min-width: 901px) {
  .intro-home-search {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
@media (min-width: 1200px) {
  .intro-home-search {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
.intro-home-search:focus-within, .intro-home-search:focus, .intro-home-search:hover, .intro-home-search:active, .intro-home-search.is-hover, .intro-home-search.is-focus {
  background-color: rgba(9, 28, 68, 0.9);
}
.intro-home-search .search-menu, .intro-home-search .search-menu:hover, .intro-home-search .search-menu:focus, .intro-home-search .search-menu.is-hover, .intro-home-search .search-menu.is-focus, .intro-home-search .search-menu.is-hover, .intro-home-search .search-menu.is-focus {
  background-color: transparent !important;
}
.intro-home-search .tab:active::after, .intro-home-search .tab.is-active::after {
  background-image: none !important;
}