// table {
//     border-collapse: collapse;
//     margin: $small-spacing 0;
//     table-layout: fixed;
//     width: 100%;
// }
//
// th {
//     border-bottom: 1px solid shade($base-border-color, 25%);
//     font-weight: 600;
//     padding: $small-spacing 0;
//     text-align: left;
// }
//
// td {
//     border-bottom: $base-border;
//     padding: $small-spacing 0;
// }
//
// tr,
// td,
// th {
//     vertical-align: middle;
// }

.table-plain,
table {
    font-family: $label-font-family;
    font-size: 0.9em;
    border-collapse: collapse;

    & td,
    & th {
        padding: 0.25em 0.75em;
        vertical-align: middle;
    }
}

.table-bordered {
    & tr {
        border-bottom: $base-border;
    }
}

.table-striped {
    thead tr {
        background: $lighter-gray;
    }

    tbody tr:nth-of-type(2n) {
        background-color: $ultra-light-gray;
    }

    tfoot tr {
        border-top: $base-border;
    }
}
