.exhibition-page-main-sidenote-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.exhibition-page-main-sidenote-link::after {
  content: attr(data-subtext);
  display: block;
}
.exhibition-page-main-sidenote-link .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.exhibition-page {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: -webkit-min-content 1fr auto;
  grid-template-rows: min-content 1fr auto;
  grid-template-columns: 100%;
  /*
    // Adjust grid layout on larger screens.
    @include breakpoint-l {
      grid-template-rows: 150px 1fr auto;
    };

    // Adjust grid layout on even larger screens.
    @include breakpoint-xl {
      grid-template-rows: 130px 1fr auto;
    };
  */
}
.exhibition-page-header {
  grid-area: header;
}
.exhibition-page-main {
  grid-area: main;
}
.exhibition-page-main-context, .exhibition-page-main-quote, .exhibition-page-main-date, .exhibition-page-main-sidenote {
  display: block;
}
.exhibition-page-main-context {
  margin-top: 4em;
  margin-bottom: 2em;
}
.exhibition-page-main-quote {
  margin-top: 0;
}
.exhibition-page-main-sidenote {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}
.exhibition-page-main-sidenote-heading, .exhibition-page-main-sidenote-content, .exhibition-page-main-sidenote-link {
  display: block;
}
.exhibition-page-main-sidenote-heading {
  margin-top: 0;
  margin-bottom: 1em;
}
.exhibition-page-main-sidenote-content {
  margin: 0;
}
.exhibition-page-main-divider {
  display: none;
}
@media (min-width: 901px) {
  .exhibition-page-main-divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column: divider;
    grid-row: body;
  }
  .exhibition-page-main-divider::after {
    content: "";
    display: block;
    height: calc(100% - 4em);
  }
}
.exhibition-page-main .section-main {
  padding-top: 0 !important;
}
.exhibition-page-main .section-main-body > *:first-child, .exhibition-page-main .section-main-sidebar > *:first-child {
  margin-top: 0;
}
.exhibition-page-footer {
  grid-area: footer;
}

.exhibition-page-main-context {
  font: normal bold 12px/1.6667 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}
.exhibition-page-main-quote {
  font: normal bold 48px/normal "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  color: #004990;
}
.exhibition-page-main-date {
  font: normal normal 28px/1.5 "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  color: #082B73;
}
.exhibition-page-main-sidenote-heading {
  font: normal bold 12px/1.6667 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #082B73;
}
.exhibition-page-main-sidenote-link {
  font-weight: bold;
  font-style: normal;
  color: #5387F7;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background: none;
  border: none;
}
.exhibition-page-main-sidenote-link .icon {
  width: 24px;
  height: 24px;
  margin-right: 1ex;
}
.exhibition-page-main-sidenote-link .icon svg {
  fill: #5387F7;
}
.exhibition-page-main-sidenote-link:hover, .exhibition-page-main-sidenote-link.is-hover, .exhibition-page-main-sidenote-link:focus, .exhibition-page-main-sidenote-link.is-focus {
  color: #004990;
}
.exhibition-page-main-sidenote-link:hover .icon svg, .exhibition-page-main-sidenote-link.is-hover .icon svg, .exhibition-page-main-sidenote-link:focus .icon svg, .exhibition-page-main-sidenote-link.is-focus .icon svg {
  fill: #004990;
}
.exhibition-page-main-sidenote-link:active, .exhibition-page-main-sidenote-link.is-active {
  color: #004990;
}
.exhibition-page-main-sidenote-link:active .icon svg, .exhibition-page-main-sidenote-link.is-active .icon svg {
  fill: #004990;
}
.exhibition-page-main-sidenote-link::after {
  font: italic normal 16px/1.9375 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
  font-size: 12px !important;
  line-height: 1 !important;
}
.exhibition-page-main-sidenote-link.-popular {
  font: normal normal 18px/2.05 "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #FFFFFF;
  font-size: 20px !important;
  color: #FFFFFF;
}
.exhibition-page-main-sidenote-link.-popular:hover, .exhibition-page-main-sidenote-link.-popular.is-hover, .exhibition-page-main-sidenote-link.-popular:focus, .exhibition-page-main-sidenote-link.-popular.is-focus {
  color: #336BE6;
}
.exhibition-page-main-sidenote-link.-popular:active, .exhibition-page-main-sidenote-link.-popular.is-active {
  color: #336BE6;
}
.exhibition-page-main-sidenote-link.-underline {
  text-decoration: underline;
}
.exhibition-page-main-divider::after {
  width: 1px;
  background-color: #E7EAF1;
}