{{! Group and sort exhibits. }}
{{assign 'exhibits' (getExhibits exhibits)}}

{{! Set a limit on the number of past exhibitions that should be displayed if not given. }}
{{#unless limit}}{{assign 'limit' 6}}{{/unless}}

<div class="gallery-page">

  {{> organisms-header classes='gallery-page-header'}}

  <div class="gallery-page-main">
    {{> organisms-main type='gallery-page'}}
    {{#extend 'organisms-major' theme='dark' heading='Current Exhibitions'}}
      {{#content 'section-major-body'}}

        {{> compounds-cards columns=(objectify m=1 l=1 xl=2) card-type='listing' cards=exhibits.current}}

      {{/content}}
    {{/extend}}
    {{#extend 'organisms-major' theme='light' heading='Past Exhibitions'}}
      {{#content 'section-major-body'}}

        {{> compounds-tiles columns=(objectify m=2 l=2 xl=3) tile-type='listing' tiles=(limit exhibits.past this.limit)}}

        {{#if (gt (length (limitDifference exhibits.past this.limit)) 0)}}
          {{#extend 'tokens-reveal' once=true label='View All Past Exhibitions'}}
            {{#content 'big-reveal-content'}}
              {{> compounds-tiles columns=(objectify m=2 l=2 xl=3) tile-type='listing' tiles=(limitDifference exhibits.past this.limit)}}
            {{/content}}
          {{/extend}}
        {{/if}}

      {{/content}}
    {{/extend}}
  </div>

  {{> organisms-footer classes='gallery-page-footer'}}

</div>
