.gallery-page-header {
  grid-area: header;
}
.gallery-page-main {
  grid-area: main;
}
.gallery-page-footer {
  grid-area: footer;
}

.gallery-page {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: -webkit-min-content 1fr auto;
  grid-template-rows: min-content 1fr auto;
  grid-template-columns: 100%;
}