.main {
  margin: 0 auto;
  max-width: 1236px;
  grid-area: main;
  display: grid;
  grid-column-gap: 40px;
  grid-template-areas: "title" "subtitle" "body" "guides" "aside";
}
@media (min-width: 901px) {
  .main {
    grid-template-areas: "title title" "subtitle subtitle" "body  aside" "guides guides";
    grid-template-columns: minmax(auto, 840px) minmax(auto, 340px);
  }
}
.main-title {
  grid-area: title;
}
.main .heading.-h1 {
  font-size: 48px;
  grid-area: title;
}
.main .text.-lead {
  font-size: 28px;
  line-height: 42px;
  grid-area: subtitle;
}
.main-body-content {
  grid-area: body;
}
.main-body-content .heading.-h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  color: #082B73;
}
.main-body-content .image.-center {
  max-width: 100%;
}
.main-sidebar {
  grid-area: aside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-sidebar::after {
  content: "Sidebar";
}
.main-guides {
  grid-area: guides;
}

.main-sidebar {
  border: 1px solid #B6BDCC;
}
@media (min-width: 901px) {
  .main.materials-page-main {
    grid-template-areas: "title title" "subtitle aside" "body aside" "guides guides";
    grid-template-columns: minmax(auto, 840px) minmax(auto, 340px);
  }
}
@media (min-width: 901px) {
  .main.tool-page-main {
    grid-template-areas: "title title" "subtitle aside" "body aside" "guides guides";
    grid-template-columns: minmax(auto, 840px) minmax(auto, 340px);
  }
}