<div class="main materials-page-main">
    {{>tokens-heading level="1"}}
    {{>tokens-text type="lead"}}
    <main class="main-body-content">
        {{>compounds-blocks classes="main-body-content"}}
    </main>
    <aside class="main-sidebar"></aside>
</div>
