{{! Add IDs to accordions and panels if not already set. }}
{{assign 'accordions' (assignIDs accordions)}}

{{! Create an index containing the IDs of all accordion panels in order to enable filtering. }}
{{assign 'index' (pluck (condense (pluck accordions 'panels')) 'id')}}

{{! Determine the default query in the search filter menu. }}
{{#if __params__}}{{assign 'query' (default __params__.q __params__.query '')}}{{/if}}

<div class="service-directory-page">

  {{> organisms-header classes='service-directory-page-header'}}

  {{#extend 'organisms-main' type="service-directory-page" classes="service-directory-page-main"}}
    {{#content 'section-main-body'}}

      {{! Use a grid to better position stuff inside the main section. }}
      {{#extend 'tokens-grid' cols='1fr' gap=(objectify cols='25px' rows='25px')}}
        {{#content 'grid-items'}}

          {{! Render a search filter. }}
          {{> atoms-filter-search layout='contained'
                                  mode='big'
                                  keys=(makeArray 'group' 'title')
                                  config=(objectify sort=false)
                                  placeholder=(default input-placeholder placeholder 'Search for a Service')}}

          {{! Render the card buttons in a grid. }}
          {{#embed 'tokens-grid' sizes=(objectify s=(objectify cols='1fr')  m=(objectify cols=(makeArray 'repeat' 3 '1fr')) l=(objectify cols=(makeArray 'repeat' 3 '1fr')))}}
            {{#content 'grid-items'}}
              {{#each buttons}}{{> molecules-card-button}}{{/each}}
            {{/content}}
          {{/embed}}

          {{! Render the accordions. }}
          {{#each accordions}}{{> compounds-accordion filterable=true}}{{/each}}

        {{/content}}
      {{/extend}}

    {{/content}}
  {{/extend}}

  {{> organisms-footer classes='service-directory-page-footer'}}

</div>
