@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
/*** INSERT NEW TOKENS HERE ***/
/*** INSERT NEW ATOMS HERE ***/
/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
/*** INSERT NEW ORGANISMS HERE ***/
.service-directory-page {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: min-content 1fr auto;
  grid-template-columns: 100%;
  /*
    // Adjust grid layout on larger screens.
    @include breakpoint-l {
      grid-template-rows: 150px 1fr auto;
    };

    // Adjust grid layout on even larger screens.
    @include breakpoint-xl {
      grid-template-rows: 130px 1fr auto;
    };
  */
}
.service-directory-page-header {
  grid-area: header;
}
.service-directory-page-main {
  grid-area: main;
}
.service-directory-page-footer {
  grid-area: footer;
}

/*** INSERT NEW TEMPLATES HERE ***/