<div class="sg-stack">

  {{#lists}}
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">{{type}}</code>
    <h5 class="sg-variation-label">{{label}}</h5>
    
    <{{type}}>
      {{#isDefinition}}
      {{#items}}
      <dt>{{{term}}}</dt>
      <dd>{{{desc}}}</dd>
      {{/items}}
      {{/isDefinition}}
      {{^isDefinition}}
      {{#items}}
      <li>{{{.}}}</li>
      {{/items}}
      {{/isDefinition}}
    </{{type}}>
  
  </div>
  {{/lists}}

</div>