<nav role="navigation" class="nav breadcrumb">
  
  <ul class="nav-menu">
    {{#items}}
    <li class="nav-menu-item 
               {{#active}}active{{/active}}">
      {{^active}}<a href="{{url}}" title="{{title}}">{{/active}}{{label}}{{^active}}</a>{{/active}}
    </li>
    {{/items}}
  </ul>

</nav>