{{> atoms-button:(label: "Default") }}
{{> atoms-button: btn-primary(label: "Primary") }}
{{> atoms-button: btn-info(label: "Info") }}
{{> atoms-button: btn-success(label: "Success!") }}
{{> atoms-button: btn-warning(label: "Warning!") }}
{{> atoms-button: btn-danger(label: "Danger, Will Robinson!") }}
{{> atoms-button:(label: "Disabled", booleans: "disabled") }}
