/**
 * Use this file to set button configuration variables.
 */

$config-button-base: (
  
  'font': (
    'size': 1em,
    'weight': 400,
    'family': font('heading')
  ),
  
  'radius': 4px
  
);

/**
 * Sets the button styles based on the given class.
 */
$config-button-styles: (
  
  'default': (
    
    'normal': (
      'background-color': color('white', 'off'),
      'border': 1px solid color('grey'),
      'gradient': (
        'type': 'linear',
        'stops': (
          to bottom, 
          rgba(color('white'), 0.25), 
          rgba(color('white'), 0)
        )
      )
    ),
    
    'hover': (
      'background-color': color('blue', 'powder'),
      'background-image': none
    ),
    
    'focus': (
      'background-color': color('blue', 'powder')
    )
    
  ),
  
  'primary': (
    
    'normal': (
      'background-color': color('primary'),
      'border-color': transparent,
    ),
    
    'hover': (
      'background-color': color('primary')
    ),
    
    'focus': (
      'background-color': color('primary')
    )
    
  ),
  
  'info': (
    
    'normal': (
      'background-color': color('info'),
      'border-color': transparent
    ),
    
    'hover': (
      'background-color': color('info')
    ),
    
    'focus': (
      'background-color': color('info')
    )
    
  ),
  
  'success': (
    
    'normal': (
      'background-color': color('success'),
      'border-color': transparent,
    ),
    
    'hover': (
      'background-color': color('success')
    ),
    
    'focus': (
      'background-color': color('success')
    )
    
  ),
  
  'warning': (
    
    'normal': (
      'background-color': color('warning'),
      'border-color': transparent,
    ),
    
    'hover': (
      'background-color': color('warning')
    ),
    
    'focus': (
      'background-color': color('warning')
    )
    
  ),
  
  'danger': (
    
    'normal': (
      'background-color': color('danger'),
      'border-color': transparent,
    ),
    
    'hover': (
      'background-color': color('danger')
    ),
    
    'focus': (
      'background-color': color('danger')
    )
    
  )
  
);

/**
 * Sets the ratios for different button sizes,
 * where using a ratio of 1 is equal to the default
 * button size. This ratio is used to scale the 
 * button's size and font.
 */
$config-button-ratios: (
  'large': 1.25,
  'small': .75,
  'mini': .65
);

/**
 * Sets the base icon button configurations.
 */
$config-button-icon-base: (
  
  'spacing': 5px,
  
  /**
   * The following only gets applied to block icons.
   * Non-block icons inherit button styles instead.
   */
  'background': rgba(color('black'), 0.05),
  'size': 2.5em
  
);

/**
 * Sets the opacity of disabled buttons.
 */
$config-button-disabled: 0.5;