/**
 * COLOR CLASSES
 *
 * Below are the configurations for color classes.
 */

/**
 * Sets the class prefix. To not use a class prefix,
 * set this variable equal to an empty string ('' or "").
 */
$config-classes-color-prefix: 'color';

/**
 * Determines whether or not the word 'base' should be
 * included in color classes that use the base tone.
 */ 
$config-classes-color-include-base: false;

/**
 * Sets the suffix for foreground color classes. To not
 * use a suffix, set this variable equal to an empty string
 * ('' or ""). Make sure that none of your suffixes clash.
 */
$config-classes-color-suffix-foreground: '';

/**
 * Sets the suffix for background color classes. To not
 * use a suffix, set this variable equal to an empty string
 * ('' or ""). Make sure that none of your suffixes clash.
 */
$config-classes-color-suffix-background: 'bg';

/**
 * Sets the suffix for contrasting color classes. To not
 * use a suffix, set this variable equal to an empty string
 * ('' or ""). Make sure that none of your suffixes clash.
 */
$config-classes-color-suffix-contrast: 'contrast';

/**
 * FONT CLASSES
 *
 * Below are the configurations for font classes.
 */

/**
 * Sets the class prefix. To not use a class prefix,
 * set this variable equal to an empty string ('' or "").
 */
$config-classes-font-prefix: 'font';