/**
 * Use this file to set form configuration variables.
 */

/**
 * Sets the base configurations for form elements.
 */
$config-form-base: (

  'background': color('white'),
  'border': 1px solid color('grey'),
  'shadow': inset 0 1px 3px rgba(color('black'), .06),
  'radius': 3px,
  
  'label': (
    'font': (
      'family': font('label'),
      'weight': 400
    )
  )

);

/**
 * Sets the color of any placeholder text.
 */
$config-form-placeholder: color('grey', 'medium');

/**
 * Sets styles specific to dropdown menu elements.
 */
$config-form-dropdown: (
  
  'background': rgb(248,248,248)
  
);