/**
 * Use this file to define list variables.
 */

/**
 * Sets the base configurations for footer link lists.
 */
$config-footer-link-base: (
  
  'decoration': none
  
);

/**
 * Sets configurations specific to footer link lists for the Library sites.
 */
$config-footer-link-sites: (
  
  'normal': (
    'background': color('grey', 'dark'),
    'border': 2px solid color('white')
  ),
  
  'hover': (
    'background': color('grey'),
    'color': color('grey', 'dark')
  )
  
);

/**
 * Sets configurations specific to Library footer link lists.
 */
$config-footer-link-library: (
  
  'normal': (
    'background': color('grey'),
    'border': 2px solid color('white'),
    'color': color('white')
  ),
  
  'hover': (
    'background': color('grey', 'medium'),
    'color': color('grey', 'dark')
  )
  
);

/**
 * Sets configurations specific to Emory footer link lists.
 */
$config-footer-link-emory: (
  
  'normal': (
    'background': color('grey'),
    'color': color('blue')
  ),
  
  'hover': (
    'background': color('grey', 'medium'),
    'color': color('white')
  )
  
);