/**
 * Use this file to define table variables.
 */

/**
 * Sets the base configurations for tables.
 */
$config-table-base: (
  
  'font': (
    'family': font('label'),
    'size': 1em
  ),
  
  'caption': (
    'font': (
      'family': font('caption' 'sans'),
      'size': .9em
    )
  ),
  
  'data': (
    'font': ()
  ),
  
  'heading': (
    'font': (
      'family': font('heading'),
      'size': 1.25em,
      'weight': normal,
      'color': color('grey', 'dark')
    )
  )
  
);

/**
 * Sets the configurations for bordered tables.
 */
$config-table-bordered: (
  
  'head': (),
  
  'body': (
    'border': 1px solid color('grey')
  ),
  
  'foot': ()
  
);

/**
 * Sets the configurations for striped tables.
 */
$config-table-striped: (
  
  'head': (
    'background': color('grey', 'light')
  ),
  
  'body': (
    'odd': (),
    'even': (
      'background': color('white', 'off')
    )
  ),
  
  'foot': (
    'border': 1px solid color('grey')
  )
  
);