/**
 * Use this file to define text variables.
 * These configurations should only impact plain
 * text and paragraphs.
 */

/**
 * Sets the base configurations for paragraph text.
 */
$config-text-paragraph-base: (
  
  'font': (
    'size': config('font' 'size')
  )
  
);

/**
 * Set this variable equal to the default paragraph style's
 * optional class name. This variable is used for clarity.
 */
$config-text-paragraph-class: 'copy';

/**
 * Sets the font-size ratio for the different paragraph styles.
 * Be sure to set the ratio for the paragraph base
 * class (see the value in the variable above) equal to 1.
 */
$config-text-paragraph-ratios: (
  'copy': 1,
  'lead': 1.2,
  'meta': .8,
  'caption': .9,
  'disclaimer': .7
);

/**
 * Sets any base paragraph styles that need to
 * be applied for a given class.
 */
$config-text-paragraph-styles: (
  
  'lead': (
    'font': (
      'family': font('caption' 'serif')
    )
  )
  
);

/**
 * Sets inline text styles based on the given element.
 */
$config-text-inline-styles: (
  
  'abbr': (
    'decoration': underline dotted
  ),
  
  'kbd': (
    'background': color('grey', 'light'),
    'shadow': 1px 1px 1px 0px color('black', 'off'),
    'font': (
      'size': .9em,
      'color': color('black', 'off')
    )
  ),
  
  'samp': (
    'background': color('black', 'off'),
    'font': (
      'color': color('grey'),
      'size': .9em
    )
  ),
  
  'dt': (
    'font': (
      'weight': 600
    )
  )
  
);