@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
/*** INSERT NEW TOKENS HERE ***/
.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.link::after {
  content: attr(data-subtext);
  display: block;
}
.link .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*** INSERT NEW ATOMS HERE ***/
/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.link {
  font-weight: bold;
  font-style: normal;
  color: #5387F7;
  transition: all 0.25s ease;
  background: none;
  border: none;
}
.link .icon {
  width: 24px;
  height: 24px;
  margin-right: 1ex;
}
.link .icon svg {
  fill: #5387F7;
}
.link:hover, .link.is-hover, .link:focus, .link.is-focus {
  color: #004990;
}
.link:hover .icon svg, .link.is-hover .icon svg, .link:focus .icon svg, .link.is-focus .icon svg {
  fill: #004990;
}
.link:active, .link.is-active {
  color: #004990;
}
.link:active .icon svg, .link.is-active .icon svg {
  fill: #004990;
}
.link::after {
  font-size: 12px !important;
  line-height: 1 !important;
}
.link::after {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.9375;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.link.-popular {
  font-family: "Cardo", serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 2.05;
  color: #FFFFFF;
}
.link.-popular:hover, .link.-popular.is-hover, .link.-popular:focus, .link.-popular.is-focus {
  color: #336BE6;
}
.link.-popular:active, .link.-popular.is-active {
  color: #336BE6;
}
.link.-underline {
  text-decoration: underline;
}