<section class="sg-section color-grey-bg">

  <h1>Emory Libraries Pattern Library</h1>
  
  <p>This is the official Pattern Library of Emory Libraries. This Pattern Library is used to maintain cohesive code and ensure visual consistenty across library solutionss. The goal of this Pattern Library is to create and serve as a front-end style guide, complete with standard patterns and styles. This <a href="http://patternlab.io" target="_blank">Pattern Library</a> is powered by Pattern Lab, a design system based on <a href="http://atomicdesign.bradfrost.com/table-of-contents" target="_blank">atomic design methodology</a>.</p>
  
</section>