<div class="sg-stack">
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button</code>
    <h5 class="sg-variation-label">Default</h5>
    
    {{> atoms-button(text: "Default") }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.primary</code>
    <h5 class="sg-variation-label">Primary</h5>
    
    {{> atoms-button:primary(text: "Primary") }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.info</code>
    <h5 class="sg-variation-label">Information</h5>
    
    {{> atoms-button:info(text: "Information") }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.success</code>
    <h5 class="sg-variation-label">Success</h5>
    
    {{> atoms-button:success(text: "Success") }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.warning</code>
    <h5 class="sg-variation-label">Warning</h5>
    
    {{> atoms-button:warning(text: "Warning") }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.danger</code>
    <h5 class="sg-variation-label">Danger</h5>
    
    {{> atoms-button:danger(text: "Danger") }}
    
  </div>

</div>