<div class="sg-stack">
  
  <div class="sg-stack-item">
  
    <h5 class="sg-variation-label">Large</h5>
    
    {{> atoms-button:size-large(text: "Large", icon: "fa-bolt") }}
    {{> atoms-button:size-large(text: "Large", icon: "fa-chevron-left", iconLeft: true) }}
    {{> atoms-button:size-large(text: "Large", icon: "fa-chevron-right", iconRight: true) }}
    {{> atoms-button:size-large(text: "Large", icon: "fa-chevron-left", iconLeft: true, iconBlock: true) }}
    {{> atoms-button:size-large(text: "Large", icon: "fa-chevron-right", iconRight: true, iconBlock: true) }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <h5 class="sg-variation-label">Medium (Default)</h5>
    
    
    {{> atoms-button(text: "Medium", icon: "fa-bolt") }}
    {{> atoms-button(text: "Medium", icon: "fa-chevron-left", iconLeft: true) }}
    {{> atoms-button(text: "Medium", icon: "fa-chevron-right", iconRight: true) }}
    {{> atoms-button(text: "Medium", icon: "fa-chevron-left", iconLeft: true, iconBlock: true) }}
    {{> atoms-button(text: "Medium", icon: "fa-chevron-right", iconRight: true, iconBlock: true) }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <h5 class="sg-variation-label">Small</h5>
    
    {{> atoms-button:size-small(text: "Small", icon: "fa-bolt") }}
    {{> atoms-button:size-small(text: "Small", icon: "fa-chevron-left", iconLeft: true) }}
    {{> atoms-button:size-small(text: "Small", icon: "fa-chevron-right", iconRight: true) }}
    {{> atoms-button:size-small(text: "Small", icon: "fa-chevron-left", iconLeft: true, iconBlock: true) }}
    {{> atoms-button:size-small(text: "Small", icon: "fa-chevron-right", iconRight: true, iconBlock: true) }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <h5 class="sg-variation-label">Mini</h5>
    
    {{> atoms-button:size-mini(text: "Mini", icon: "fa-bolt") }}
    {{> atoms-button:size-mini(text: "Mini", icon: "fa-chevron-left", iconLeft: true) }}
    {{> atoms-button:size-mini(text: "Mini", icon: "fa-chevron-right", iconRight: true) }}
    {{> atoms-button:size-mini(text: "Mini", icon: "fa-chevron-left", iconLeft: true, iconBlock: true) }}
    {{> atoms-button:size-mini(text: "Mini", icon: "fa-chevron-right", iconRight: true, iconBlock: true) }}
    
  </div>



</div>