<div class="sg-stack">
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.icon</code>
    <h5 class="sg-variation-label">Default</h5>
    
    {{> atoms-button(text: "Default", icon: "fa-bolt") }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.icon.icon-left</code>
    <h5 class="sg-variation-label">Left</h5>
    
    {{> atoms-button(text: "Left", icon: "fa-chevron-left", iconLeft: true) }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.icon.icon-right</code>
    <h5 class="sg-variation-label">Right</h5>
    
    {{> atoms-button(text: "Right", icon: "fa-chevron-right", iconRight: true) }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.icon.icon-block-left</code>
    <h5 class="sg-variation-label">Block Left</h5>
    
    {{> atoms-button(text: "Block Left", icon: "fa-chevron-left", iconLeft: true, iconBlock: true ) }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.button.icon.icon-block-right</code>
    <h5 class="sg-variation-label">Block Right</h5>
    
    {{> atoms-button(text: "Block Right", icon: "fa-chevron-right", iconRight: true, iconBlock: true ) }}
    
  </div>

</div>