<{{#url}}a role="button" href="{{url}}"{{/url}}{{^url}}button {{#type}}type="{{type}}"{{/type}}{{/url}} 
           class="button {{styleModifier}} {{#disabled}}disabled{{/disabled}} {{#icon}}icon{{/icon}}
                  {{#iconRight}}icon{{#iconBlock}}-block{{/iconBlock}}-right{{/iconRight}}
                  {{#iconLeft}}icon{{#iconBlock}}-block{{/iconBlock}}-left{{/iconLeft}}"
           {{#disabled}}disabled{{/disabled}}>
  {{#icon}}{{^iconRight}}
  <span class="icon {{icon}}" aria-hidden="true" {{#iconTitle}}title="{{iconTitle}}"{{/iconTitle}}></span>
  {{#iconRead}}<span class="sr-only">{{iconRead}}</span>{{/iconRead}}
  {{/iconRight}}{{/icon}}
  {{text}}
  {{#icon}}{{#iconRight}}
  <span class="icon {{icon}}" aria-hidden="true" {{#iconTitle}}title="{{iconTitle}}"{{/iconTitle}}></span>
  {{#iconRead}}<span class="sr-only">{{iconRead}}</span>{{/iconRead}}
  {{/iconRight}}{{/icon}}
</{{#url}}a{{/url}}{{^url}}button{{/url}}>