@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
ico,
[class^=ico-],
[class*=ico-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-arrow-down-circle::before {
  content: "";
}

.ico-arrow-left-circle::before {
  content: "";
}

.ico-arrow-right-circle::before {
  content: "";
}

.ico-arrow-up-circle::before {
  content: "";
}

.ico-arrow-down-left::before {
  content: "";
}

.ico-arrow-down-right::before {
  content: "";
}

.ico-arrow-up-right::before {
  content: "";
}

.ico-arrow-up-left::before {
  content: "";
}

.ico-arrow-down::before {
  content: "";
}

.ico-arrow-left::before {
  content: "";
}

.ico-arrow-right::before {
  content: "";
}

.ico-arrow-up::before {
  content: "";
}

.ico-chevron-down::before {
  content: "";
}

.ico-chevron-left::before {
  content: "";
}

.ico-chevron-right::before {
  content: "";
}

.ico-chevron-up::before {
  content: "";
}

.ico-chevrons-down::before {
  content: "";
}

.ico-chevrons-left::before {
  content: "";
}

.ico-chevrons-right::before {
  content: "";
}

.ico-chevrons-up::before {
  content: "";
}

.ico-corner-down-left::before {
  content: "";
}

.ico-corner-down-right::before {
  content: "";
}

.ico-corner-left-down::before {
  content: "";
}

.ico-corner-left-up::before {
  content: "";
}

.ico-corner-right-down::before {
  content: "";
}

.ico-corner-right-up::before {
  content: "";
}

.ico-corner-up-left::before {
  content: "";
}

.ico-corner-up-right::before {
  content: "";
}

.event-page {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 150px 1fr 420px;
  grid-template-columns: 1fr;
}
.event-page-header {
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.event-page-header::after {
  content: "Header";
}
.event-page-main {
  grid-area: main;
  /*.section-main {
    padding-top: 0 !important;

    // Adjust the main body and sidebar section.
    &-body,
    &-sidebar {
      margin-top: ($rhythm-y * 2);
    }

    // Adjust the main body section.
    &-body {

      > *:first-child {
        margin-top: 0;
      }

    }

    // Adjust the main sidebar section.
    &-sidebar {

      > * + * {
        margin-top: $rhythm-y;
      }

    }

  }*/
}
.event-page-footer {
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.event-page-footer::after {
  content: "Footer";
}

.event-page {
  grid-gap: 20px;
}
.event-page-header, .event-page-footer {
  border: 1px solid #B6BDCC;
}
.event-page-main .intro-interior-cover-title {
  font-size: 40px;
}
@media (min-width: 601px) and (max-width: 900px) {
  .event-page-main .intro-interior-cover-title {
    font-size: 74px;
  }
}
@media (min-width: 901px) {
  .event-page-main .intro-interior-cover-title {
    font-size: 74px;
  }
}
@media (min-width: 1200px) {
  .event-page-main .intro-interior-cover-title {
    font-size: 74px;
  }
}