{{> organisms-header }}
{{> organisms-top-navigation }}
<main role="main" class="subpage">
    {{> organisms-breadcrumbs }}
    <article>
        <h1>Page Title</h1>
        {{> molecules-lead-paragraph }}
        {{> organisms-section }}
    </article>
    {{> organisms-secondary-navigation }}
</main>
{{> organisms-footer }}
