@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
/*** INSERT NEW TOKENS HERE ***/
.callout {
  display: block;
}
.callout :first-child {
  margin-top: 0;
}
.callout :last-child {
  margin-bottom: 0;
}

/*** INSERT NEW ATOMS HERE ***/
/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.callout {
  background-color: #E7EAF1;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 16px;
  margin-right: 16px;
  box-shadow: 0 0 0 1px rgba(96, 88, 88, 0.2), 0 0 0 15px #E7EAF1;
}