<div class="cover-page{{#if hero}} has-hero{{/if}}">

  {{> organisms-header classes='cover-page-header'}}

  <div class="cover-page-main">

    {{! Load a hero if applicable. }}
    {{#if hero}}{{> organisms-intro-hero classes='cover-page-intro' background-image=hero}}{{/if}}

    {{! Load the main section. }}
    {{#extend 'organisms-main' type='cover-page' classes=main-classes}}
      {{#content 'section-main-body'}}
        {{> organisms-flow-content-boxes}}
        {{> compounds-tiles tile-type='listing'}}
        {{#with listing}}{{> molecules-card-listing theme='light'}}{{/with}}
      {{/content}}
    {{/extend}}

    {{! Load the major section if applicable. }}
    {{#if (gt (length related.cards) 0)}}
    {{#extend 'organisms-major' theme='light' heading=(default related.heading 'Get Help Using the Library')}}
      {{#content 'section-major-body'}}
        {{> compounds-cards cards=related.cards card-type='library-aid' filterable=false classes=''}}
        {{#if related.buttons}}
          <div class="button-group -align-center">
            {{#each related.buttons}}{{> atoms-button-link}}{{/each}}
          </div>
        {{/if}}
      {{/content}}
    {{/extend}}
    {{/if}}

    {{! Load the major section only if feeds exist. }}
    {{#if (gt (length feeds.sources) 0)}}
      {{#extend 'organisms-major' theme='light' heading=(default feeds.heading 'Upcoming')}}
        {{#content 'section-major-body'}}
          {{> organisms-flow-feed-preview feature=false feeds=feeds.sources}}
        {{/content}}
      {{/extend}}
    {{/if}}

  </div>

  {{> organisms-footer classes='cover-page-footer'}}

</div>
