<div class="home-page">

  {{> organisms-header classes='home-page-header'}}

  <div class="home-page-main">

    {{#with intro}}{{> organisms-intro-home background-image=hero}}{{/with}}

    {{> organisms-popular }}

    {{#with slider}}{{> compounds-slider arrows=true}}{{/with}}

    {{#with related}}
    {{#extend 'organisms-major' theme='light' classes='home-page-main-cards' heading=(default heading 'Get Help Using the Library')}}
      {{#content 'section-major-body'}}
        {{> compounds-cards card-type='library-aid'}}
        {{#if buttons}}
          <div class="button-group">
            {{#each buttons}}{{> atoms-button-link}}{{/each}}
          </div>
        {{/if}}
      {{/content}}
    {{/extend}}
    {{/with}}

    {{#with boxes}}
    {{#extend 'organisms-major' theme='dark' classes='home-page-main-boxes'}}
      {{#content 'section-major-body'}}
        {{> organisms-flow-content-boxes}}
        {{#with wayfinder}}{{> molecules-wayfinder}}{{/with}}
      {{/content}}
    {{/extend}}
    {{/with}}

    {{#if (gt (length feeds.sources) 0)}}
    {{#with feeds}}
    {{#extend 'organisms-major' theme='light' classes='home-page-main-feeds'}}
      {{#content 'section-major-body'}}
        {{> organisms-flow-feed-preview feeds=sources}}
      {{/content}}
    {{/extend}}
    {{/with}}
    {{/if}}

  </div>

  {{> organisms-footer classes='home-page-footer'}}

</div>
