.home-page {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: -webkit-min-content 1fr auto;
  grid-template-rows: min-content 1fr auto;
  grid-template-columns: 100%;
  /*
    // Adjust grid layout on larger screens.
    @include breakpoint-l {
      grid-template-rows: 150px 1fr auto;
    };

    // Adjust grid layout on even larger screens.
    @include breakpoint-xl {
      grid-template-rows: 130px 1fr auto;
    };
  */
}
.home-page-header {
  grid-area: header;
}
.home-page-main {
  grid-area: main;
}
.home-page-main-cards .button-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-page-main-boxes .section-major-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  margin-top: 2em;
}
.home-page-main-feeds .section-major-body {
  margin-top: 2em;
}
.home-page-footer {
  grid-area: footer;
}
