<div class="index-page">

  {{> organisms-header classes='index-page-header'}}

  {{#extend 'organisms-main' type='index-page' classes='index-page-main'}}
    {{#content 'section-main-body'}}
      {{> compounds-tiles columns=(objectify s=1 m=2 l=3) tile-type='utility'}}
    {{/content}}
  {{/extend}}

  {{> organisms-footer classes='index-page-footer'}}

</div>
