.info-page {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: -webkit-min-content 1fr auto;
  grid-template-rows: min-content 1fr auto;
  grid-template-columns: 100%;
  /*
    // Adjust grid layout on larger screens.
    @include breakpoint-l {
      grid-template-rows: 150px 1fr auto;
    };

    // Adjust grid layout on even larger screens.
    @include breakpoint-xl {
      grid-template-rows: 130px 1fr auto;
    };
  */
}
.info-page-header {
  grid-area: header;
}
.info-page-main {
  grid-area: main;
}
.info-page-main .section-main {
  padding-top: 0 !important;
}
.info-page-main .section-main-body, .info-page-main .section-main-sidebar {
  margin-top: 4em;
}
.info-page-main .section-main-body > *:first-child {
  margin-top: 0;
}
.info-page-main .section-main-sidebar > * + * {
  margin-top: 2em;
}
.info-page-footer {
  grid-area: footer;
}
