<div class="search-bar">
    <form role="search">
      <input type="search" placeholder="Enter Search" />
      <button class="btn btn-primary" type="submit">
          <span class="fa fa-search" aria-hidden="true"></span><span class="sr-only">Search</span>
      </button>
    </form>
</div>
