.flow-feed-preview {
  display: grid;
  grid-template-areas: "feeds";
  grid-template-columns: 1fr;
}
.has-feature.flow-feed-preview {
  grid-template-areas: "feature" "feeds";
}
.flow-feed-preview-feature {
  grid-area: feature;
}
.flow-feed-preview:not(.has-feature) .flow-feed-preview-feature {
  display: none;
}
.flow-feed-preview-feeds {
  display: grid;
  grid-area: feeds;
  grid-template-columns: 1fr;
}
@media (min-width: 901px) {
  .flow-feed-preview-feeds {
    grid-template-columns: repeat(2, 1fr);
  }
}

.flow-feed-preview {
  grid-row-gap: 40px;
}
.flow-feed-preview-feeds {
  grid-column-gap: 80px;
  grid-row-gap: 40px;
}