@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
/*** INSERT NEW TOKENS HERE ***/
/*** INSERT NEW ATOMS HERE ***/
/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
.flow-content-boxes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(460px, min-content);
}
.flow-content-boxes-feature {
  order: 2;
}
@media (min-width: 1200px) {
  .flow-content-boxes-feature {
    order: unset;
  }
}
.flow-content-boxes-explorer {
  order: 1;
}
@media (min-width: 1200px) {
  .flow-content-boxes-explorer {
    order: unset;
  }
}
@media (min-width: 1200px) {
  .flow-content-boxes {
    grid-template-columns: minmax(min-content, 2fr) minmax(min-content, 376px);
  }
  .flow-content-boxes-feature {
    grid-column: 1;
  }
  .flow-content-boxes-explorer {
    grid-column: 2;
  }
}

/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.flow-content-boxes {
  grid-row-gap: 23px;
}
@media (min-width: 1200px) {
  .flow-content-boxes {
    grid-column-gap: 36px;
    grid-row-gap: 0;
  }
}