.section-deep-dive-body a,
.section-deep-dive-body .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.section-deep-dive-body a::after,
.section-deep-dive-body .link::after {
  content: attr(data-subtext);
  display: block;
}
.section-deep-dive-body a .icon,
.section-deep-dive-body .link .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-deep-dive-footer::before, .section-deep-dive-title::after {
  display: block;
  width: 100%;
  height: 0;
}

.section-deep-dive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-deep-dive-title {
  margin-top: 0;
}
.section-deep-dive-title::after {
  content: "";
  display: block;
  right: 0;
  bottom: -0.83em;
  left: 0;
  position: absolute;
  margin: 0 auto;
}
.section-deep-dive-body {
  display: grid;
  margin-top: 2em;
  margin-bottom: 2em;
}
@media (min-width: 1200px) {
  .section-deep-dive-body {
    grid-template-columns: repeat(3, minmax(10%, calc((1250px - (100px * 3)) / 3)));
    grid-column-gap: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section-deep-dive-body ol {
  counter-reset: counter;
  list-style: none;
}
.section-deep-dive-body ol li {
  counter-increment: counter;
}
.section-deep-dive-body ol li::before {
  content: counter(counter) " - ";
}
.section-deep-dive-link {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
}

.section-deep-dive {
  background-color: #082B73;
}
.section-deep-dive {
  -webkit-transition: padding 0.25s ease;
  transition: padding 0.25s ease;
}
@media (max-width: 600px) {
  .section-deep-dive {
    padding: 30px 20px 70px 20px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .section-deep-dive {
    padding: 30px 20px 70px 20px;
  }
}
@media (min-width: 901px) {
  .section-deep-dive {
    padding: 60px 40px 100px 40px;
  }
}
@media (min-width: 1200px) {
  .section-deep-dive {
    padding: 60px 40px 100px 40px;
  }
}
@media (min-width: 1290px) {
  .section-deep-dive {
    padding: 40px calc((100vw - 1250px) / 2)0 80px calc((100vw - 1250px) / 2)0;
  }
}
@media (min-width: 1250px + 40px) {
  .section-deep-dive {
    padding: 60px 0 100px 0;
  }
}
.section-deep-dive-title {
  font: normal normal 26px/normal "Cardo", serif !important;
  letter-spacing: normal !important;
  text-transform: none !important;
  color: #FFFFFF !important;
  text-align: center;
}
.section-deep-dive-title::after {
  border-top: 6px solid #E9BF55;
  width: 60px;
  background-color: transparent;
  color: transparent;
}
@media (min-width: 601px) and (max-width: 900px) {
  .section-deep-dive-title {
    font: normal normal 48px/1.0833 "Cardo", serif !important;
    letter-spacing: normal !important;
    text-transform: none !important;
  }
}
@media (min-width: 901px) {
  .section-deep-dive-title {
    font: normal normal 48px/1.0833 "Cardo", serif !important;
    letter-spacing: normal !important;
    text-transform: none !important;
  }
}
.section-deep-dive-body {
  font: normal normal 16px/1.9375 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #FFFFFF;
}
.section-deep-dive-body a,
.section-deep-dive-body .link {
  text-decoration: underline;
}
.section-deep-dive-body a,
.section-deep-dive-body .link {
  font-weight: bold;
  font-style: normal;
  color: #FFFFFF;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background: none;
  border: none;
}
.section-deep-dive-body a .icon,
.section-deep-dive-body .link .icon {
  width: 24px;
  height: 24px;
  margin-right: 1ex;
}
.section-deep-dive-body a .icon svg,
.section-deep-dive-body .link .icon svg {
  fill: #FFFFFF;
}
.section-deep-dive-body a:hover, .section-deep-dive-body a.is-hover, .section-deep-dive-body a:focus, .section-deep-dive-body a.is-focus,
.section-deep-dive-body .link:hover,
.section-deep-dive-body .link.is-hover,
.section-deep-dive-body .link:focus,
.section-deep-dive-body .link.is-focus {
  color: #FFFFFF;
}
.section-deep-dive-body a:hover .icon svg, .section-deep-dive-body a.is-hover .icon svg, .section-deep-dive-body a:focus .icon svg, .section-deep-dive-body a.is-focus .icon svg,
.section-deep-dive-body .link:hover .icon svg,
.section-deep-dive-body .link.is-hover .icon svg,
.section-deep-dive-body .link:focus .icon svg,
.section-deep-dive-body .link.is-focus .icon svg {
  fill: #FFFFFF;
}
.section-deep-dive-body a:active, .section-deep-dive-body a.is-active,
.section-deep-dive-body .link:active,
.section-deep-dive-body .link.is-active {
  color: #FFFFFF;
}
.section-deep-dive-body a:active .icon svg, .section-deep-dive-body a.is-active .icon svg,
.section-deep-dive-body .link:active .icon svg,
.section-deep-dive-body .link.is-active .icon svg {
  fill: #FFFFFF;
}
.section-deep-dive-body a::after,
.section-deep-dive-body .link::after {
  font: italic normal 16px/1.9375 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
  font-size: 12px !important;
  line-height: 1 !important;
}
.section-deep-dive-body a.-popular,
.section-deep-dive-body .link.-popular {
  font: normal normal 18px/2.05 "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #FFFFFF;
  font-size: 20px !important;
  color: #FFFFFF;
}
.section-deep-dive-body a.-popular:hover, .section-deep-dive-body a.-popular.is-hover, .section-deep-dive-body a.-popular:focus, .section-deep-dive-body a.-popular.is-focus,
.section-deep-dive-body .link.-popular:hover,
.section-deep-dive-body .link.-popular.is-hover,
.section-deep-dive-body .link.-popular:focus,
.section-deep-dive-body .link.-popular.is-focus {
  color: #336BE6;
}
.section-deep-dive-body a.-popular:active, .section-deep-dive-body a.-popular.is-active,
.section-deep-dive-body .link.-popular:active,
.section-deep-dive-body .link.-popular.is-active {
  color: #336BE6;
}
.section-deep-dive-body a.-underline,
.section-deep-dive-body .link.-underline {
  text-decoration: underline;
}
.section-deep-dive-body ol li::before {
  color: #FFFFFF;
}
.section-deep-dive-column-heading {
  font: normal normal 12px/1.6667 "Open Sans", sans-serif !important;
  letter-spacing: 0.05em !important;
  text-transform: uppercase !important;
  color: #E9BF55 !important;
}
.section-deep-dive-footer {
  color: #FFFFFF;
  text-align: center;
  font-style: italic;
}
.section-deep-dive-footer::before {
  margin: 0 auto;
  max-width: 1200px;
  content: "";
}
.section-deep-dive-footer::before {
  border-top: 1px solid rgba(231, 234, 241, 0.5);
  width: 100%;
  background-color: transparent;
  color: transparent;
}