@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
ico,
[class^=ico-],
[class*=ico-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-arrow-down-circle::before {
  content: "";
}

.ico-arrow-left-circle::before {
  content: "";
}

.ico-arrow-right-circle::before {
  content: "";
}

.ico-arrow-up-circle::before {
  content: "";
}

.ico-arrow-down-left::before {
  content: "";
}

.ico-arrow-down-right::before {
  content: "";
}

.ico-arrow-up-right::before {
  content: "";
}

.ico-arrow-up-left::before {
  content: "";
}

.ico-arrow-down::before {
  content: "";
}

.ico-arrow-left::before {
  content: "";
}

.ico-arrow-right::before {
  content: "";
}

.ico-arrow-up::before {
  content: "";
}

.ico-chevron-down::before {
  content: "";
}

.ico-chevron-left::before {
  content: "";
}

.ico-chevron-right::before {
  content: "";
}

.ico-chevron-up::before {
  content: "";
}

.ico-chevrons-down::before {
  content: "";
}

.ico-chevrons-left::before {
  content: "";
}

.ico-chevrons-right::before {
  content: "";
}

.ico-chevrons-up::before {
  content: "";
}

.ico-corner-down-left::before {
  content: "";
}

.ico-corner-down-right::before {
  content: "";
}

.ico-corner-left-down::before {
  content: "";
}

.ico-corner-left-up::before {
  content: "";
}

.ico-corner-right-down::before {
  content: "";
}

.ico-corner-right-up::before {
  content: "";
}

.ico-corner-up-left::before {
  content: "";
}

.ico-corner-up-right::before {
  content: "";
}

.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a::after, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a::after, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a::after {
  content: attr(data-subtext);
  display: block;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a .icon, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a .icon, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-main {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-area: main;
  padding: 0 1.25em 1.25em;
}
.section-main-breadcrumb {
  grid-column: main;
  grid-row: breadcrumb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 2em;
}
.section-main-title {
  grid-column: main;
  grid-row: title;
}
.section-main-subtitle {
  grid-column: main;
  grid-row: subtitle;
}
.section-main-body {
  grid-column: main;
  grid-row: body;
}
.section-main-sidebar {
  grid-column: main;
  grid-row: sidebar;
  display: block;
}
@media (min-width: 901px) {
  .section-main-sidebar {
    grid-column: sidebar;
    grid-row: main;
  }
}
.section-main-spacer {
  grid-column: main;
  grid-row: auto;
}
.section-main-content {
  grid-column: main;
  grid-row: auto;
}
.section-main-section {
  grid-column: main/sidebar;
  grid-row: section;
}
.section-main:not(.-landing-page) {
  max-width: 1236px;
}
.-info-page.section-main .section-main-title, .-material-page.section-main .section-main-title, .-tool-page.section-main .section-main-title, .-bio-page.section-main .section-main-title, .-research-help-page.section-main .section-main-title, .-service-directory-page.section-main .section-main-title, .-form-page.section-main .section-main-title, .-subject-librarian-directory-page.section-main .section-main-title, .-staff-directory-page.section-main .section-main-title, .-research-help-directory-page.section-main .section-main-title {
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .section-main:not(.-info-page):not(.-material-page):not(.-tool-page):not(.-bio-page):not(.-research-help-page):not(.-service-directory-page):not(.-form-page):not(.-subject-librarian-directory-page):not(.-staff-directory-page):not(.-landing-page):not(.-gallery-page):not(.-exhibition-page):not(.-research-help-directory-page):not(.-index-page):not(.-periodicals-page), .-info-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) repeat(10, [section-start] -webkit-min-content [section-end]) [sidebar-start] -webkit-min-content [sidebar-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) repeat(10, [section-start] min-content [section-end]) [sidebar-start] min-content [sidebar-end];
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .section-main:not(.-info-page):not(.-material-page):not(.-tool-page):not(.-bio-page):not(.-research-help-page):not(.-service-directory-page):not(.-form-page):not(.-subject-librarian-directory-page):not(.-staff-directory-page):not(.-landing-page):not(.-gallery-page):not(.-exhibition-page):not(.-research-help-directory-page):not(.-index-page):not(.-periodicals-page), .-info-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) repeat(10, [section-start] -webkit-min-content [section-end]) [sidebar-start] -webkit-min-content [sidebar-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) repeat(10, [section-start] min-content [section-end]) [sidebar-start] min-content [sidebar-end];
  }
}
@media (min-width: 901px) {
  .section-main:not(.-info-page):not(.-material-page):not(.-tool-page):not(.-bio-page):not(.-research-help-page):not(.-service-directory-page):not(.-form-page):not(.-subject-librarian-directory-page):not(.-staff-directory-page):not(.-landing-page):not(.-gallery-page):not(.-exhibition-page):not(.-research-help-directory-page):not(.-index-page):not(.-periodicals-page), .-info-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) repeat(10, [section-start] -webkit-min-content [section-end]) [sidebar-start] -webkit-min-content [sidebar-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) repeat(10, [section-start] min-content [section-end]) [sidebar-start] min-content [sidebar-end];
  }
}
@media (min-width: 901px) {
  .section-main:not(.-info-page):not(.-material-page):not(.-tool-page):not(.-bio-page):not(.-research-help-page):not(.-service-directory-page):not(.-form-page):not(.-subject-librarian-directory-page):not(.-staff-directory-page):not(.-landing-page):not(.-gallery-page):not(.-exhibition-page):not(.-research-help-directory-page):not(.-index-page):not(.-periodicals-page), .-info-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end sidebar-start] 340px [sidebar-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end main-start title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) [main-end] repeat(10, [section-start] -webkit-min-content [section-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end main-start title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) [main-end] repeat(10, [section-start] min-content [section-end]);
  }
}
@media (min-width: 901px) {
  .section-main:not(.-info-page):not(.-material-page):not(.-tool-page):not(.-bio-page):not(.-research-help-page):not(.-service-directory-page):not(.-form-page):not(.-subject-librarian-directory-page):not(.-staff-directory-page):not(.-landing-page):not(.-gallery-page):not(.-exhibition-page):not(.-research-help-directory-page):not(.-index-page):not(.-periodicals-page) .section-main-breadcrumb, .-info-page.section-main .section-main-breadcrumb {
    grid-column: main/sidebar;
  }
  .section-main:not(.-info-page):not(.-material-page):not(.-tool-page):not(.-bio-page):not(.-research-help-page):not(.-service-directory-page):not(.-form-page):not(.-subject-librarian-directory-page):not(.-staff-directory-page):not(.-landing-page):not(.-gallery-page):not(.-exhibition-page):not(.-research-help-directory-page):not(.-index-page):not(.-periodicals-page) .section-main-title,
.section-main:not(.-info-page):not(.-material-page):not(.-tool-page):not(.-bio-page):not(.-research-help-page):not(.-service-directory-page):not(.-form-page):not(.-subject-librarian-directory-page):not(.-staff-directory-page):not(.-landing-page):not(.-gallery-page):not(.-exhibition-page):not(.-research-help-directory-page):not(.-index-page):not(.-periodicals-page) .section-main-subtitle, .-info-page.section-main .section-main-title,
.-info-page.section-main .section-main-subtitle {
    grid-column: main/sidebar;
  }
  .section-main:not(.-info-page):not(.-material-page):not(.-tool-page):not(.-bio-page):not(.-research-help-page):not(.-service-directory-page):not(.-form-page):not(.-subject-librarian-directory-page):not(.-staff-directory-page):not(.-landing-page):not(.-gallery-page):not(.-exhibition-page):not(.-research-help-directory-page):not(.-index-page):not(.-periodicals-page) .section-main-sidebar, .-info-page.section-main .section-main-sidebar {
    grid-row: body/main;
  }
}
@media (max-width: 600px) {
  .-landing-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-landing-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 901px) {
  .-landing-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
.-landing-page.section-main .section-main-spacer,
.-landing-page.section-main .section-main-content,
.-landing-page.section-main .section-main-section,
.-landing-page.section-main .section-main-sidebar {
  display: none;
}
@media (max-width: 600px) {
  .-landing-page.without-intro.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-landing-page.without-intro.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 901px) {
  .-landing-page.without-intro.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
.-landing-page.without-intro.section-main .section-main-title,
.-landing-page.without-intro.section-main .section-main-subtitle {
  display: none;
}
@media (max-width: 600px) {
  .-material-page.section-main, .-tool-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) repeat(10, [section-start] -webkit-min-content [section-end]) [sidebar-start] -webkit-min-content [sidebar-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) repeat(10, [section-start] min-content [section-end]) [sidebar-start] min-content [sidebar-end];
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-material-page.section-main, .-tool-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) repeat(10, [section-start] -webkit-min-content [section-end]) [sidebar-start] -webkit-min-content [sidebar-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) repeat(10, [section-start] min-content [section-end]) [sidebar-start] min-content [sidebar-end];
  }
}
@media (min-width: 901px) {
  .-material-page.section-main, .-tool-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) repeat(10, [section-start] -webkit-min-content [section-end]) [sidebar-start] -webkit-min-content [sidebar-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) repeat(10, [section-start] min-content [section-end]) [sidebar-start] min-content [sidebar-end];
  }
}
@media (min-width: 901px) {
  .-material-page.section-main, .-tool-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end sidebar-start] 340px [sidebar-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end main-start title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) [main-end] repeat(10, [section-start] -webkit-min-content [section-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end main-start title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) [main-end] repeat(10, [section-start] min-content [section-end]);
  }
}
@media (min-width: 901px) {
  .-material-page.section-main .section-main-breadcrumb, .-tool-page.section-main .section-main-breadcrumb {
    grid-column: main/sidebar;
  }
  .-material-page.section-main .section-main-title, .-tool-page.section-main .section-main-title {
    grid-column: main/sidebar;
  }
  .-material-page.section-main .section-main-sidebar, .-tool-page.section-main .section-main-sidebar {
    grid-row: subtitle/main;
  }
}
@media (max-width: 600px) {
  .-bio-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) repeat(10, [section-start] -webkit-min-content [section-end]) [sidebar-start] -webkit-min-content [sidebar-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) repeat(10, [section-start] min-content [section-end]) [sidebar-start] min-content [sidebar-end];
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-bio-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) repeat(10, [section-start] -webkit-min-content [section-end]) [sidebar-start] -webkit-min-content [sidebar-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) repeat(10, [section-start] min-content [section-end]) [sidebar-start] min-content [sidebar-end];
  }
}
@media (min-width: 901px) {
  .-bio-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) repeat(10, [section-start] -webkit-min-content [section-end]) [sidebar-start] -webkit-min-content [sidebar-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) repeat(10, [section-start] min-content [section-end]) [sidebar-start] min-content [sidebar-end];
  }
}
@media (min-width: 901px) {
  .-bio-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end sidebar-start] 340px [sidebar-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end main-start title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) [main-end] repeat(10, [section-start] -webkit-min-content [section-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end main-start title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) [main-end] repeat(10, [section-start] min-content [section-end]);
  }
}
.-bio-page.section-main .section-main-title,
.-bio-page.section-main .section-main-sidebar {
  margin-top: 48.24px;
}
.-bio-page.section-main .section-main-subtitle {
  margin-top: 1em;
  margin-bottom: 1em;
}
@media (min-width: 901px) {
  .-bio-page.section-main .section-main-breadcrumb {
    grid-column: main/sidebar;
  }
  .-bio-page.section-main .section-main-title {
    grid-column: main;
  }
}
@media (max-width: 600px) {
  .-service-directory-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end];
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-service-directory-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end];
  }
}
@media (min-width: 901px) {
  .-service-directory-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end];
  }
}
.-service-directory-page.section-main .section-main-spacer,
.-service-directory-page.section-main .section-main-content,
.-service-directory-page.section-main .section-main-section,
.-service-directory-page.section-main .section-main-sidebar {
  display: none;
}
@media (max-width: 600px) {
  .-service-directory-page.without-intro.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-service-directory-page.without-intro.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 901px) {
  .-service-directory-page.without-intro.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
.-service-directory-page.without-intro.section-main .section-main-title,
.-service-directory-page.without-intro.section-main .section-main-subtitle {
  display: none;
}
@media (max-width: 600px) {
  .-periodicals-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-periodicals-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 901px) {
  .-periodicals-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
.-periodicals-page.section-main .section-main-subtitle,
.-periodicals-page.section-main .section-main-sidebar,
.-periodicals-page.section-main .section-main-section {
  display: none;
}
@media (max-width: 600px) {
  .-research-help-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-research-help-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 901px) {
  .-research-help-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
.-research-help-page.section-main .section-main-subtitle,
.-research-help-page.section-main .section-main-section,
.-research-help-page.section-main .section-main-sidebar .section-main-content .section-main-spacer {
  display: none;
}
@media (max-width: 600px) {
  .-service-directory-page.section-main, .-subject-librarian-directory-page.section-main, .-staff-directory-page.section-main, .-research-help-directory-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end];
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-service-directory-page.section-main, .-subject-librarian-directory-page.section-main, .-staff-directory-page.section-main, .-research-help-directory-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end];
  }
}
@media (min-width: 901px) {
  .-service-directory-page.section-main, .-subject-librarian-directory-page.section-main, .-staff-directory-page.section-main, .-research-help-directory-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end];
  }
}
.-service-directory-page.section-main .section-main-spacer,
.-service-directory-page.section-main .section-main-content,
.-service-directory-page.section-main .section-main-section,
.-service-directory-page.section-main .section-main-sidebar, .-subject-librarian-directory-page.section-main .section-main-spacer,
.-subject-librarian-directory-page.section-main .section-main-content,
.-subject-librarian-directory-page.section-main .section-main-section,
.-subject-librarian-directory-page.section-main .section-main-sidebar, .-staff-directory-page.section-main .section-main-spacer,
.-staff-directory-page.section-main .section-main-content,
.-staff-directory-page.section-main .section-main-section,
.-staff-directory-page.section-main .section-main-sidebar, .-research-help-directory-page.section-main .section-main-spacer,
.-research-help-directory-page.section-main .section-main-content,
.-research-help-directory-page.section-main .section-main-section,
.-research-help-directory-page.section-main .section-main-sidebar {
  display: none;
}
@media (max-width: 600px) {
  .-service-directory-page.without-intro.section-main, .-subject-librarian-directory-page.without-intro.section-main, .-staff-directory-page.without-intro.section-main, .-research-help-directory-page.without-intro.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-service-directory-page.without-intro.section-main, .-subject-librarian-directory-page.without-intro.section-main, .-staff-directory-page.without-intro.section-main, .-research-help-directory-page.without-intro.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 901px) {
  .-service-directory-page.without-intro.section-main, .-subject-librarian-directory-page.without-intro.section-main, .-staff-directory-page.without-intro.section-main, .-research-help-directory-page.without-intro.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
.-service-directory-page.without-intro.section-main .section-main-title,
.-service-directory-page.without-intro.section-main .section-main-subtitle, .-subject-librarian-directory-page.without-intro.section-main .section-main-title,
.-subject-librarian-directory-page.without-intro.section-main .section-main-subtitle, .-staff-directory-page.without-intro.section-main .section-main-title,
.-staff-directory-page.without-intro.section-main .section-main-subtitle, .-research-help-directory-page.without-intro.section-main .section-main-title,
.-research-help-directory-page.without-intro.section-main .section-main-subtitle {
  display: none;
}
@media (max-width: 600px) {
  .-gallery-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-gallery-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 901px) {
  .-gallery-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
.-gallery-page.section-main .section-main-subtitle,
.-gallery-page.section-main .section-main-body,
.-gallery-page.section-main .section-main-spacer,
.-gallery-page.section-main .section-main-content,
.-gallery-page.section-main .section-main-section,
.-gallery-page.section-main .section-main-sidebar {
  display: none;
}
@media (max-width: 600px) {
  .-exhibition-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) [sidebar-start] -webkit-min-content [sidebar-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) [sidebar-start] min-content [sidebar-end];
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-exhibition-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) [sidebar-start] -webkit-min-content [sidebar-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) [sidebar-start] min-content [sidebar-end];
  }
}
@media (min-width: 901px) {
  .-exhibition-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) [sidebar-start] -webkit-min-content [sidebar-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) [sidebar-start] min-content [sidebar-end];
  }
}
@media (min-width: 901px) {
  .-exhibition-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end sidebar-start] 340px [sidebar-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end main-start subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]) [main-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end main-start subtitle-start] min-content [subtitle-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]) [main-end];
  }
}
.-exhibition-page.section-main .section-main-title,
.-exhibition-page.section-main .section-main-section,
.-exhibition-page.section-main .section-main-spacer {
  display: none;
}
.-exhibition-page.section-main .section-main-content {
  grid-row: sidebar-end;
}
.-exhibition-page.section-main .section-main-body,
.-exhibition-page.section-main .section-main-sidebar {
  margin-top: 2em;
  margin-bottom: 2em;
}
@media (min-width: 901px) {
  .-exhibition-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end divider-start] 0.25fr [divider-end sidebar-start] 1fr [sidebar-end] !important;
  }
  .-exhibition-page.section-main .section-main-breadcrumb {
    grid-column: main/sidebar;
  }
  .-exhibition-page.section-main .section-main-subtitle {
    grid-column: main/sidebar;
  }
  .-exhibition-page.section-main .section-main-sidebar {
    grid-row: body;
  }
  .-exhibition-page.section-main .section-main-spacer,
.-exhibition-page.section-main .section-main-content {
    grid-column: main/sidebar;
  }
}
@media (max-width: 600px) {
  .-index-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end];
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-index-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end];
  }
}
@media (min-width: 901px) {
  .-index-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end subtitle-start] -webkit-min-content [subtitle-end body-start] -webkit-min-content [body-end];
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end subtitle-start] min-content [subtitle-end body-start] min-content [body-end];
  }
}
.-index-page.section-main .section-main-spacer,
.-index-page.section-main .section-main-content,
.-index-page.section-main .section-main-section,
.-index-page.section-main .section-main-sidebar {
  display: none;
}
@media (max-width: 600px) {
  .-form-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-form-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
@media (min-width: 901px) {
  .-form-page.section-main {
    grid-template-columns: [main-start] 1fr [main-end];
    grid-template-rows: [breadcrumb-start] -webkit-min-content [breadcrumb-end title-start] -webkit-min-content [title-end body-start] -webkit-min-content [body-end] repeat(100, [auto-start] -webkit-min-content [auto-end]);
    grid-template-rows: [breadcrumb-start] min-content [breadcrumb-end title-start] min-content [title-end body-start] min-content [body-end] repeat(100, [auto-start] min-content [auto-end]);
  }
}
.-form-page.section-main .section-main-subtitle,
.-form-page.section-main .section-main-section,
.-form-page.section-main .section-main-sidebar {
  display: none;
}

.section-main {
  background-color: #FFFFFF;
  color: #605858;
  grid-column-gap: 40px;
}
.section-main-breadcrumb {
  min-height: 40px;
}
.section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a {
  font-weight: bold;
  font-style: normal;
  color: #5387F7;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background: none;
  border: none;
}
.section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a .icon {
  width: 24px;
  height: 24px;
  margin-right: 1ex;
}
.section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a .icon svg {
  fill: #5387F7;
}
.section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:hover, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-hover, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:focus, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-focus {
  color: #004990;
}
.section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:hover .icon svg, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-hover .icon svg, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:focus .icon svg, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-focus .icon svg {
  fill: #004990;
}
.section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:active, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-active {
  color: #004990;
}
.section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:active .icon svg, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-active .icon svg {
  fill: #004990;
}
.section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a::after {
  font-size: 12px !important;
  line-height: 1 !important;
}
.section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a::after {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.9375;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular {
  font-family: "Cardo", serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 2.05;
  color: #FFFFFF;
}
.section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular:hover, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular.is-hover, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular:focus, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular.is-focus {
  color: #336BE6;
}
.section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular:active, .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular.is-active {
  color: #336BE6;
}
.section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-underline {
  text-decoration: underline;
}
.section-main-title.intro-title {
  color: #082B73 !important;
}
.section-main-spacer {
  height: 40px;
}
.section-main.-light {
  background-color: #FFFFFF;
  color: #605858;
}
.section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a {
  font-weight: bold;
  font-style: normal;
  color: #5387F7;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background: none;
  border: none;
}
.section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a .icon {
  width: 24px;
  height: 24px;
  margin-right: 1ex;
}
.section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a .icon svg {
  fill: #5387F7;
}
.section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:hover, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-hover, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:focus, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-focus {
  color: #004990;
}
.section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:hover .icon svg, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-hover .icon svg, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:focus .icon svg, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-focus .icon svg {
  fill: #004990;
}
.section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:active, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-active {
  color: #004990;
}
.section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:active .icon svg, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-active .icon svg {
  fill: #004990;
}
.section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a::after {
  font-size: 12px !important;
  line-height: 1 !important;
}
.section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a::after {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.9375;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular {
  font-family: "Cardo", serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 2.05;
  color: #FFFFFF;
}
.section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular:hover, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular.is-hover, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular:focus, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular.is-focus {
  color: #336BE6;
}
.section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular:active, .section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular.is-active {
  color: #336BE6;
}
.section-main.-light .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-underline {
  text-decoration: underline;
}
.section-main.-light .section-main-title.intro-title {
  color: #082B73 !important;
}
.section-main.-light .section-main-body .heading.-h2 {
  color: #082B73;
}
.section-main.-dark {
  background-color: #091C44;
  color: #FFFFFF;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a {
  font-weight: bold;
  font-style: normal;
  color: #5387F7;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background: none;
  border: none;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a .icon {
  width: 24px;
  height: 24px;
  margin-right: 1ex;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a .icon svg {
  fill: #5387F7;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:hover, .section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-hover, .section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:focus, .section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-focus {
  color: #E9BF55;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:hover .icon svg, .section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-hover .icon svg, .section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:focus .icon svg, .section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-focus .icon svg {
  fill: #E9BF55;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:active, .section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-active {
  color: #E9BF55;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a:active .icon svg, .section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.is-active .icon svg {
  fill: #E9BF55;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a::after {
  font-size: 12px !important;
  line-height: 1 !important;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a::after {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.9375;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular {
  font-family: "Cardo", serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 2.05;
  color: #FFFFFF;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular:hover, .section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular.is-hover, .section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular:focus, .section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular.is-focus {
  color: #336BE6;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular:active, .section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-popular.is-active {
  color: #336BE6;
}
.section-main.-dark .section-main-breadcrumb .breadcrumbs .breadcrumbs-crumb a.-underline {
  text-decoration: underline;
}
.section-main.-dark .section-main-title.intro-title {
  color: #FFFFFF !important;
}
.section-main.-dark .section-main-body .heading.-h2 {
  color: #FFFFFF;
}