.section-main {
  margin: 0 auto;
  max-width: 1236px;
  display: grid;
  grid-area: main;
}
.section-main {
  grid-template-areas: "title" "subtitle" "body" "guides" "aside";
}
@media (min-width: 901px) {
  .section-main {
    grid-template-areas: "title title" "subtitle subtitle" "body  aside" "guides guides";
    grid-template-columns: minmax(auto, 840px) minmax(auto, 340px);
  }
}
.section-main-title {
  grid-area: title;
}
.section-main-subtitle {
  grid-area: subtitle;
}
.section-main-body {
  grid-area: body;
}
.section-main-sidebar {
  grid-area: aside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-main-sidebar::after {
  content: "Sidebar";
}
.section-main-guides {
  grid-area: guides;
}
@media (min-width: 901px) {
  .-material-page.section-main {
    grid-template-areas: "title title" "subtitle aside" "body aside" "guides guides";
  }
}
@media (min-width: 901px) {
  .-tool-page.section-main {
    grid-template-areas: "title title" "subtitle aside" "body aside" "guides guides";
  }
}
.-service-directory-page.section-main {
  grid-template-areas: "title" "subtitle" "body";
}
@media (max-width: 600px) {
  .-service-directory-page.section-main {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-service-directory-page.section-main {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 901px) {
  .-service-directory-page.section-main {
    grid-template-columns: 1fr;
  }
}
.-service-directory-page.section-main .section-main-guides,
.-service-directory-page.section-main .section-main-sidebar {
  display: none;
}
.-research-help-page.section-main {
  grid-template-areas: "title" "subtitle" "body";
}
@media (max-width: 600px) {
  .-research-help-page.section-main {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .-research-help-page.section-main {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 901px) {
  .-research-help-page.section-main {
    grid-template-columns: 1fr;
  }
}
.-research-help-page.section-main .section-main-guides,
.-research-help-page.section-main .section-main-sidebar {
  display: none;
}

.section-main {
  grid-column-gap: 40px;
}
.section-main-body .heading.-h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: normal;
  text-transform: none;
  color: #082B73;
}
.section-main-sidebar {
  border: 1px solid #B6BDCC;
}