@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
ico,
[class^=ico-],
[class*=ico-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-arrow-down-circle::before {
  content: "";
}

.ico-arrow-left-circle::before {
  content: "";
}

.ico-arrow-right-circle::before {
  content: "";
}

.ico-arrow-up-circle::before {
  content: "";
}

.ico-arrow-down-left::before {
  content: "";
}

.ico-arrow-down-right::before {
  content: "";
}

.ico-arrow-up-right::before {
  content: "";
}

.ico-arrow-up-left::before {
  content: "";
}

.ico-arrow-down::before {
  content: "";
}

.ico-arrow-left::before {
  content: "";
}

.ico-arrow-right::before {
  content: "";
}

.ico-arrow-up::before {
  content: "";
}

.ico-chevron-down::before {
  content: "";
}

.ico-chevron-left::before {
  content: "";
}

.ico-chevron-right::before {
  content: "";
}

.ico-chevron-up::before {
  content: "";
}

.ico-chevrons-down::before {
  content: "";
}

.ico-chevrons-left::before {
  content: "";
}

.ico-chevrons-right::before {
  content: "";
}

.ico-chevrons-up::before {
  content: "";
}

.ico-corner-down-left::before {
  content: "";
}

.ico-corner-down-right::before {
  content: "";
}

.ico-corner-left-down::before {
  content: "";
}

.ico-corner-left-up::before {
  content: "";
}

.ico-corner-right-down::before {
  content: "";
}

.ico-corner-right-up::before {
  content: "";
}

.ico-corner-up-left::before {
  content: "";
}

.ico-corner-up-right::before {
  content: "";
}

.anchor.section-major-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.anchor.section-major-title .icon {
  visibility: hidden;
}
.anchor.section-major-title:hover .icon {
  visibility: visible;
}

.section-major-title::after {
  display: block;
  width: 100%;
  height: 0;
}

.section-major {
  display: grid;
}
.section-major-title {
  margin-top: 0;
}
.section-major-title::after {
  content: "";
  display: block;
  right: 0;
  bottom: -0.83em;
  left: 0;
  position: absolute;
  margin: 0 auto;
}
.section-major-body {
  padding-top: 2em;
}

.section-major {
  background-color: #FFFFFF;
}
.section-major {
  -webkit-transition: padding 0.25s ease;
  transition: padding 0.25s ease;
}
@media (max-width: 600px) {
  .section-major {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .section-major {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media (min-width: 901px) {
  .section-major {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 1200px) {
  .section-major {
    padding-left: 170px;
    padding-right: 170px;
  }
}
@media (max-width: 600px) {
  .section-major {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .section-major {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 901px) {
  .section-major {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section-major {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.section-major-title {
  text-align: center;
}
.section-major-title {
  font-family: "Cardo", serif !important;
  font-size: 26px !important;
  font-weight: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-transform: none !important;
  color: #605858 !important;
}
.section-major-title::after {
  border-top: 6px solid #E9BF55;
  width: 60px;
  background-color: transparent;
  color: transparent;
}
@media (min-width: 601px) and (max-width: 900px) {
  .section-major-title {
    font-family: "Cardo", serif !important;
    font-size: 48px !important;
    font-weight: normal !important;
    font-style: normal !important;
    line-height: 1.0833 !important;
    letter-spacing: normal !important;
    text-transform: none !important;
  }
}
@media (min-width: 901px) {
  .section-major-title {
    font-family: "Cardo", serif !important;
    font-size: 48px !important;
    font-weight: normal !important;
    font-style: normal !important;
    line-height: 1.0833 !important;
    letter-spacing: normal !important;
    text-transform: none !important;
  }
}
.section-major-body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.9375;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.section-major.-light {
  background-color: #FFFFFF;
}
.section-major.-light .section-major-title {
  color: #605858 !important;
}
.section-major.-light .section-major-body {
  color: #605858;
}
.section-major.-dark {
  background-color: #091C44;
}
.section-major.-dark .section-major-title {
  color: #FFFFFF !important;
}
.section-major.-dark .section-major-body {
  color: #FFFFFF;
}