@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
ico,
[class^=ico-],
[class*=ico-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-arrow-down-circle::before {
  content: "";
}

.ico-arrow-left-circle::before {
  content: "";
}

.ico-arrow-right-circle::before {
  content: "";
}

.ico-arrow-up-circle::before {
  content: "";
}

.ico-arrow-down-left::before {
  content: "";
}

.ico-arrow-down-right::before {
  content: "";
}

.ico-arrow-up-right::before {
  content: "";
}

.ico-arrow-up-left::before {
  content: "";
}

.ico-arrow-down::before {
  content: "";
}

.ico-arrow-left::before {
  content: "";
}

.ico-arrow-right::before {
  content: "";
}

.ico-arrow-up::before {
  content: "";
}

.ico-chevron-down::before {
  content: "";
}

.ico-chevron-left::before {
  content: "";
}

.ico-chevron-right::before {
  content: "";
}

.ico-chevron-up::before {
  content: "";
}

.ico-chevrons-down::before {
  content: "";
}

.ico-chevrons-left::before {
  content: "";
}

.ico-chevrons-right::before {
  content: "";
}

.ico-chevrons-up::before {
  content: "";
}

.ico-corner-down-left::before {
  content: "";
}

.ico-corner-down-right::before {
  content: "";
}

.ico-corner-left-down::before {
  content: "";
}

.ico-corner-left-up::before {
  content: "";
}

.ico-corner-right-down::before {
  content: "";
}

.ico-corner-right-up::before {
  content: "";
}

.ico-corner-up-left::before {
  content: "";
}

.ico-corner-up-right::before {
  content: "";
}

.section-major-title .anchor {
  display: inline-flex;
  align-items: center;
}
.section-major-title .anchor .icon {
  margin: 0 !important;
}
.section-major-title:not(.is-anchored) .section-major-title .anchor {
  display: none;
}

/*** INSERT NEW TOKENS HERE ***/
.section-major-title::after {
  display: block;
  width: 100%;
  height: 0;
}

/*** INSERT NEW ATOMS HERE ***/
/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
.section-major {
  display: grid;
}
.section-major-title {
  margin-top: 0;
}
.section-major-title::after {
  content: "";
  display: block;
  right: 0;
  bottom: -0.83em;
  left: 0;
  position: absolute;
  margin: 0 auto;
}
.section-major-body {
  padding-top: 2em;
}

/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.section-major {
  background-color: #FFFFFF;
}
.section-major {
  transition: padding 0.25s ease;
}
@media (max-width: 600px) {
  .section-major {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .section-major {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 901px) {
  .section-major {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1200px) {
  .section-major {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1290px) {
  .section-major {
    padding-left: calc((100vw - 1250px) / 2);
    padding-right: calc((100vw - 1250px) / 2);
  }
}
@media (max-width: 600px) {
  .section-major {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .section-major {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 901px) {
  .section-major {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section-major {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.section-major-title {
  text-align: center;
}
.section-major-title {
  font-family: "Cardo", serif !important;
  font-size: 26px !important;
  font-weight: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-transform: none !important;
  color: #605858 !important;
}
.section-major-title.is-anchored:hover .anchor, .section-major-title.is-anchored.is-hover .anchor, .section-major-title.is-anchored:focus .anchor, .section-major-title.is-anchored.is-focus .anchor {
  visibility: visible;
  opacity: 1;
}
.section-major-title .anchor {
  transition: visibility 0s, opacity 0.25s ease;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
}
.section-major-title::after {
  border-top: 6px solid #E9BF55;
  width: 60px;
  background-color: transparent;
  color: transparent;
}
@media (min-width: 601px) and (max-width: 900px) {
  .section-major-title {
    font-family: "Cardo", serif !important;
    font-size: 48px !important;
    font-weight: normal !important;
    font-style: normal !important;
    line-height: 1.0833 !important;
    letter-spacing: normal !important;
    text-transform: none !important;
  }
}
@media (min-width: 901px) {
  .section-major-title {
    font-family: "Cardo", serif !important;
    font-size: 48px !important;
    font-weight: normal !important;
    font-style: normal !important;
    line-height: 1.0833 !important;
    letter-spacing: normal !important;
    text-transform: none !important;
  }
}
.section-major-body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.9375;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.section-major.-light {
  background-color: #FFFFFF;
}
.section-major.-light .section-major-title {
  color: #605858 !important;
}
.section-major.-light .section-major-body {
  color: #605858;
}
.section-major.-dark {
  background-color: #091C44;
}
.section-major.-dark .section-major-title {
  color: #FFFFFF !important;
}
.section-major.-dark .section-major-body {
  color: #FFFFFF;
}