.section-major-title::after {
  display: block;
  width: 100%;
  height: 0;
}

.section-major {
  display: grid;
}
.section-major-title {
  margin-top: 0;
}
.section-major-title::after {
  content: "";
  display: block;
  right: 0;
  bottom: -0.83em;
  left: 0;
  position: absolute;
  margin: 0 auto;
}
.section-major-body {
  padding-top: 2em;
}

.section-major {
  background-color: #FFFFFF;
}
.section-major {
  -webkit-transition: padding 0.25s ease;
  transition: padding 0.25s ease;
}
@media (max-width: 600px) {
  .section-major {
    padding: 30px 20px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .section-major {
    padding: 30px 20px;
  }
}
@media (min-width: 901px) {
  .section-major {
    padding: 60px 40px;
  }
}
@media (min-width: 1200px) {
  .section-major {
    padding: 60px 40px;
  }
}
@media (min-width: 1290px) {
  .section-major {
    padding: 0 calc((100vw - 1250px) / 2);
  }
}
.section-major-title {
  font: normal normal 26px/normal "Cardo", serif !important;
  letter-spacing: normal !important;
  text-transform: none !important;
  color: #605858 !important;
  text-align: center;
}
.section-major-title::after {
  border-top: 6px solid #E9BF55;
  width: 60px;
  background-color: transparent;
  color: transparent;
}
@media (min-width: 601px) and (max-width: 900px) {
  .section-major-title {
    font: normal normal 48px/1.0833 "Cardo", serif !important;
    letter-spacing: normal !important;
    text-transform: none !important;
  }
}
@media (min-width: 901px) {
  .section-major-title {
    font: normal normal 48px/1.0833 "Cardo", serif !important;
    letter-spacing: normal !important;
    text-transform: none !important;
  }
}
.section-major-body {
  font: normal normal 16px/1.9375 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.section-major.-light {
  background-color: #FFFFFF;
}
.section-major.-light .section-major-title {
  color: #605858 !important;
}
.section-major.-light .section-major-body {
  color: #605858;
}
.section-major.-dark {
  background-color: #091C44;
}
.section-major.-dark .section-major-title {
  color: #FFFFFF !important;
}
.section-major.-dark .section-major-body {
  color: #FFFFFF;
}