<div class="research-page">
  <header class="research-page-header"></header>
  {{> organisms-main type="research-help-page" classes="research-help-page-main"}}
  <footer class="research-page-footer"></footer>
</div>
