<div class="material-page">
  <header class="material-page-header"></header>
  {{> organisms-main type="research-help-page" classes="research-help-page-main"}}
  {{> compounds-related-cards }}
  <footer class="material-page-footer"></footer>
</div>
