<footer>

  {{#sites}}{{> molecules-site-footer-links }}{{/sites}}
  {{#library}}{{> molecules-library-footer-links }}{{/library}}
  {{#emory}}{{> molecules-emory-footer-links }}{{/emory}}
  {{> molecules-copyright }}
  
</footer>