<nav class="nav-menu-utility">
  <ul class="utility-left">
    {{#each left-links}}
    <li>{{>atoms-nav-button-utility}}</li>
    {{/each}}
  </ul>
  <ul class="utility-right">
    {{#each right-links}}
    <li>{{>atoms-nav-button-flyout}}</li>
    {{/each}}
  </ul>
</nav