.subnav-menu-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 901px) {
  .subnav-menu-main {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100vw;
  }
}
@media (min-width: 1200px) {
  .subnav-menu-main {
    width: 350px;
  }
  .has-resources.subnav-menu-main {
    width: 690px;
  }
}
.-grouped.subnav-menu-main {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 901px) {
  .-grouped.subnav-menu-main {
    grid-template-columns: 1em [left-start] 1fr [left-end right-start] 1fr [right-end] 1em;
  }
  .-grouped.subnav-menu-main > *:nth-child(odd) {
    grid-column: left;
  }
  .-grouped.subnav-menu-main > *:nth-child(even) {
    grid-column: right;
  }
  .-grouped.has-search.subnav-menu-main > *:nth-child(odd) {
    grid-column: right;
  }
  .-grouped.has-search.subnav-menu-main > *:nth-child(even) {
    grid-column: left;
  }
  .-grouped.subnav-menu-main > *.-stretch {
    grid-column: left/right !important;
  }
  .-grouped.subnav-menu-main > *.-span {
    grid-column: 1/span 4 !important;
  }
  .-grouped.subnav-menu-main > *.-span:last-child {
    margin-bottom: -25px;
  }
}
@media (min-width: 1200px) {
  .-grouped.subnav-menu-main {
    width: 730px;
  }
}
.-categorized.subnav-menu-main > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .has-viewall.subnav-menu-main > .subnav-button:nth-last-child(2), .has-viewall.has-resources.subnav-menu-main > .subnav-button.-resource:last-of-type, .has-viewall.has-resources.subnav-menu-main > noscript:last-of-type .subnav-button.-resource {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: calc(100% - (25px * 2));
    min-height: 35px;
    padding-bottom: 65px;
  }
  .has-viewall.subnav-menu-main > .subnav-button:nth-last-child(2) .subnav-button-options, .has-viewall.has-resources.subnav-menu-main > .subnav-button.-resource:last-of-type .subnav-button-options, .has-viewall.has-resources.subnav-menu-main > noscript:last-of-type .subnav-button.-resource .subnav-button-options {
    height: 55px;
  }
  .has-viewall.-grouped.subnav-menu-main > .subnav-button-group:last-of-type {
    padding-bottom: 55px;
  }
  .has-viewall.-categorized.subnav-menu-main > .subnav-button-category:last-of-type {
    min-height: unset;
    padding-bottom: 55px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .has-viewall.subnav-menu-main > .subnav-button:nth-last-child(2), .has-viewall.has-resources.subnav-menu-main > .subnav-button.-resource:last-of-type, .has-viewall.has-resources.subnav-menu-main > noscript:last-of-type .subnav-button.-resource {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: calc(100% - (25px * 2));
    min-height: 35px;
    padding-bottom: 65px;
  }
  .has-viewall.subnav-menu-main > .subnav-button:nth-last-child(2) .subnav-button-options, .has-viewall.has-resources.subnav-menu-main > .subnav-button.-resource:last-of-type .subnav-button-options, .has-viewall.has-resources.subnav-menu-main > noscript:last-of-type .subnav-button.-resource .subnav-button-options {
    height: 55px;
  }
  .has-viewall.-grouped.subnav-menu-main > .subnav-button-group:last-of-type {
    padding-bottom: 55px;
  }
  .has-viewall.-categorized.subnav-menu-main > .subnav-button-category:last-of-type {
    min-height: unset;
    padding-bottom: 55px;
  }
}
.subnav-menu-main:not(.-grouped).has-viewall {
  padding-bottom: 0;
}
.subnav-menu-main:not(.-grouped).has-viewall > *:nth-last-child(2) {
  margin-bottom: 0;
}
.subnav-menu-main-heading {
  display: block;
}
@media (min-width: 901px) {
  .subnav-menu-main-heading {
    display: none;
  }
}

.subnav-menu-main {
  background-color: #091C44;
}
.subnav-menu-main-heading {
  font: normal bold 12px/1.6667 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #E9BF55;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #091C44;
}
@media (max-width: 600px) {
  .subnav-menu-main-heading {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .subnav-menu-main-heading {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (min-width: 901px) {
  .subnav-menu-main-heading {
    padding-left: 25px;
    padding-right: 25px;
  }
}