<section class="sg-alerts">

  <div class="sg-alert alert info" 
       data-start="09/20/17 1:45 PM"
       data-duration="1 month"
       data-end=""
       style="display: none;">
  
    <h1>Pattern Library Migration</h1>
    
    <p>The Emory Libraries' Pattern Library has recently migrated to a new, Node-based development environment. While this should not affect the patterns contained herein, you may notice subtle differences between this new edition of the Pattern Library and its <a href="http://template.library.emory.edu/styleguide/patternlibrary" target="_blank">legacy edition</a>.</p> <p>Report any problems encountered via <a href="https://github.com/emory-libraries/Pattern-Library/issues" target="_blank">Github Issues</a>.</p>
    
  </div>
  
</section>