<div class="sg-states">

  <div class="sg-pattern-state-spec">
    <div class="sg-pattern-state specification sg-pattern-state-spec-name">specification</div>
    <div class="sg-pattern-state-spec-desc">This pattern is newly requested and is under specification.</div>
  </div>
<div class="sg-pattern-state-spec">
    <div class="sg-pattern-state construction sg-pattern-state-spec-name">construction</div>
    <div class="sg-pattern-state-spec-desc">The pattern is under construction.</div>
  </div>
<div class="sg-pattern-state-spec">
    <div class="sg-pattern-state review sg-pattern-state-spec-name">review</div>
    <div class="sg-pattern-state-spec-desc">This pattern is under review and should be released soon. Please check back at a later time.</div>
  </div>
<div class="sg-pattern-state-spec">
    <div class="sg-pattern-state complete sg-pattern-state-spec-name">complete</div>
    <div class="sg-pattern-state-spec-desc">This pattern is complete and ready to use.</div>
  </div>
<div class="sg-pattern-state-spec">
    <div class="sg-pattern-state reconsideration sg-pattern-state-spec-name">reconsideration</div>
    <div class="sg-pattern-state-spec-desc">This pattern was previously released but is under reconsideration. Please hold off on using it.</div>
  </div>
<div class="sg-pattern-state-spec">
    <div class="sg-pattern-state deprecated sg-pattern-state-spec-name">deprecated</div>
    <div class="sg-pattern-state-spec-desc">This pattern is no longer in use in the latest version(s) of our stylesheet.</div>
  </div>
  
</div>