{{> atoms-radio:(for:"radio1", id:"radio1", name_value: "radio-elements", value:"Radio 1") }}
{{> atoms-radio:(for:"radio2", id:"radio2", name_value: "radio-elements", value:"Radio 2", booleans: "checked") }}
{{> atoms-radio:(for:"radio3", id:"radio3", name_value: "radio-elements", value:"Radio 3", booleans: "disabled") }}
