
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <script src="../../js/bundle.js?{{cacheBuster}}"></script>
  <script src="../../js/pattern-library.js?{{cacheBuster}}"></script>

  </body>
</html>
