/**
 * Defines the base button styles.
 */
#{$all-buttons} {
  -webkit-appearance: none;
}

/** 
 * Defines the preferred button styles.
 */
.button {
  
  $padding-y: 4px;
  $padding-x: 12px;
  $font-size: 1em;
  
  font-size: $font-size;
  font-weight: 400;
  font-family: font('heading');
  @include padding-y($padding-y);
  @include padding-x($padding-x);
  white-space: nowrap;
  line-height: 1.5;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  transition: all .15s ease;
  
  /** 
   * Defines the default button state.
   */
  background-color: color('white', 'off');
  color: color-contrast(color('white', 'off'));
  border: 1px solid color('grey');
  @include linear-gradient(to bottom, rgba(color('white'), .25), transparent);

  &:hover, 
  &:focus { 
    background-image: none; 
    background-color: color('blue', 'powder'); 
  }
  
  /**
   * Configures different button states. 
   */
  $backgrounds: (
    'primary': color('primary'),
    'info': color('info'),
    'success': color('success'),
    'warning': color('warning'),
    'danger': color('danger')
  );
  
  @each $state, $background in $backgrounds {
    
    &.#{$state},
    &.#{$state}:hover,
    &.#{$state}:focus {
      background-color: $background;
      color: color-contrast($background);
      border-color: transparent;
    }
    
  }
  
  /**
   * Configures different button sizes.
   */
  $sizes: (
    'large': 1.25,
    'small': .75,
    'mini': .65
  );
  
  @each $size, $ratio in $sizes {
    &.size-#{$size} {
      @include padding-y($padding-y * $ratio);
      @include padding-x($padding-x * $ratio);
      font-size: ($font-size * $ratio);
    }
  }
  
  /** 
   * Configures icon buttons.
   */
  &.icon {
    
    $spacing: 5px;
    $size: 2.5em;
    $background: rgba(color('black'), .05);
    
    .icon {
      margin-left: 0;
      margin-right: 0;
      vertical-align: baseline;
    }
    
    /**
     * Configure different icon positions.
     */
    &.icon-left {
      
      .icon {
        margin-left: 0;
        margin-right: $spacing;
      }
      
      /**
       * Configures different icon spacing.
       */
      @each $size, $ratio in $sizes {
        &.size-#{$size} {
          .icon { margin-right: ($spacing * $ratio); }
        }
      }
      
    }
    &.icon-right {

      .icon {
        margin-right: 0;
        margin-left: $spacing; 
      }
      
      /**
       * Configures different icon spacing.
       */
      @each $size, $ratio in $config-button-ratios {
        &.size-#{$size} {
          .icon { margin-left: ($spacing * $ratio); }
        }
      }
      
    }
    &.icon-block-left,
    &.icon-block-right {
      overflow: hidden;
      
      .icon {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        width: $size;
        text-align: center;
        line-height: 2;
        background-color: $background;
      }
      
    }
    &.icon-block-left {
      padding-left: calc(#{$size} + #{$padding-x});
      
      /**
       * Configures different icon block sizes.
       */
      @each $size, $ratio in $config-button-ratios {
        &.size-#{$size} {
          padding-left: calc((#{$size} * #{$ratio}) + (#{$padding-x} * #{$ratio}));
        }
      }
      
      .icon { left: 0; }
      
    }
    &.icon-block-right {
      padding-right: calc(#{$size} + #{$padding-x});
      
      /**
       * Configures different icon button sizes.
       */
      @each $size, $ratio in $config-button-ratios {
        &.size-#{$size} {
          padding-right: calc((#{$size} * #{$ratio}) + (#{$padding-x} * #{$ratio}));
        }
      }
      
      .icon { right: 0; }
      
    }
    
  }
  
  $disabled: .5;
  
  &.disabled,
  &[disabled] {
    opacity: $disabled;
    cursor: not-allowed;
  }
  
}