/**
 * Defines the base footer styles.
 */
footer {
  
  font-family: font('caption' 'sans');
  font-size: .6875em;
  max-width: config('page' 'max-width', $config-base);
  margin: 0 auto;
  
  p {
    margin-top: 1em;
  }
  
}