/**
 * Defines base form and form element styles.
 * The private() @mixin is used to create a 
 * private variable scope.
 */
@include private('FORMS') {

  input,
  select,
  optgroup,
  textarea {
    display: block;
    font-size: 1em;
    font-family: config('font' 'body', $config-base);
    line-height: 1.5;
    min-width: 220px;
  }

  textarea {
    resize: vertical;
  }

  select {
    margin-bottom: 1em;
    max-width: 100%;
  }

  select[multiple] {
    max-height: 220px;
  }

  /**
   * Defines base label styles.
   */
  $family: font('label');
  $weight: 400;
  
  label { 
    display: block; 
    font-family: $family;
    font-weight: $weight;
    margin-bottom: .5em;
    line-height: 1.5;

    &.required::after {
      content: '*';
    }

    &.disabled {
      color: color('grey');
    }

  }

  /**
   * Defines base fieldset styles.
   */
  fieldset {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
  }

  /**
   * Defines base legend styles.
   */
  legend {
    display: table;
    margin-bottom: .5em;
    padding: 0;
    font-family: $family;
    font-weight: $weight;
  }

  $placeholder: color('grey', 'medium');
  
  /**
   * Defines form element styles,
   */
  #{$all-verbage-inputs} {
    padding: .5em;
    margin-bottom: 1em;
    border-radius: 3px;
    background-color: color('white');
    transition: all .15s ease;
    border: 1px solid color('grey');
    box-shadow: 0 1px 3px rgba(color('black'), .06);

    @include placeholder(){
      color: $placeholder;
    }

  }

  #{$all-toggle-inputs} {
    display: inline;
    margin-right: .5em;
    width: auto;
  }

  /**
   * Change the scope of the config() function.
   */
  $brandy-config-map: $config-form-dropdown;

  /**
   * Defines styles specific to dropdown menus.
   * These styles do not include multiple selection
   * menus.
   */
  select:not([multiple]){
    background-color: rgb(248, 248, 248); // default
  }

  /**
   * Defines styles specific to file inputs.
   */
  input[type="file"] {
    width: 0.01px;
    height: 0.01px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left: -99999px;
    top: -99999px;

    &:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }

  }

  /**
   * Defines styles specific to search bars.
   */
  .searchbar {
    padding: .85em .85em .7em .6em;

    input[type="search"] { width: 100%; }

    button[type="submit"] {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border: 0;
      @include border-left-radius(0);
    }

  }
  
};