/**
 * Defines the base heading styles.
 * The private() @mixin is used to create
 * a private variable scope.
 */
@include private('HEADINGS') {
  
  #{$all-headings} {
    font-family: font('heading');
    line-height: 1.25;
    font-weight: normal;
    margin-top: 1em; 
    margin-bottom: .5em;
  }
  
  /**
   * Captures scaled heading sizes from the
   * scale-font() @mixin below.
   */
  $scale: ();

  /**
   * Apply proportional scaling to headings.
   */
  @include scale-font(
    $elements: $all-headings,
    $min: 1em,
    $max: 2em,
    $save: $scale,
    $increasing: false
  );
  
}