/**
 * Defines the base header styles.
 */
header {
  background-color: color('blue');
  max-width: config('page' 'max-width', $config-base);
  margin: 0 auto;
  
  #logo {
    fill: color('white');
    
    @include breakpoint( screen('large') ) { 
      max-height: 150px; 
    }
    
  }
  
}