/**
 * Defines the base link styles.
 */
a {
  
  $color: color('blue');
  
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip: ink;
  transition: all .15s ease;
  color: $color;
  
  &:hover,
  &:focus,
  &:active { 
    color: shade($color, 25%); 
  }
  
}