/**
 * Defines the base footer link styles.
 */
ul.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  
  li { 
    display: flex;
    align-self: stretch; 
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: all 0.15s ease;
  }
  
  /**
   * Defines styles for sites list.
   */
  &.sites {
    
    $background: color('grey', 'dark');
    $border: 2px solid color('white');
    $color: color-contrast($background);
    
    background-color: $background;
    border-top: $border;
    color: $color;
    
    a:hover,
    a:focus {
      
      $background: color('grey');
      $color: color('grey', 'dark');
      
      background-color: $background;
      color: $color;
      
    }
    
    li:first-child, a { padding: .25em 1em; }
    
  }
  
  /**
   * Defines styles for Library list.
   */
  &.library {
    
    $background: color('grey');
    $border: 2px solid color('white');
    $color: color('white');
    
    background-color: $background;
    border-top: $border;
    color: $color;
    
    a:hover,
    a:focus {
      
      $background: color('grey', 'medium');
      $color: color('grey', 'dark');
      
      background-color: $background;
      color: $color;
      
    }
    
    a { padding: 1em; }
    
  }
  
  /**
   * Defines styles for Emory list.
   */
  &.emory {
    
    $background: color('grey');
    $border: none;
    $color: color('blue');
    
    background-color: $background;
    border-top: $border;
    color: $color;
    
    a:hover,
    a:focus {
      
      $background: color('grey', 'medium');
      $color: color('white');
      
      background-color: $background;
      color: $color;
      
    }
    
    a { padding: 1em; }
    
  }
  
}