/**
 * Defines the base navigation styles.
 */
.nav {
  max-width: config('page-max-width');
  margin: 0 auto;
  
  .nav-input { display: none; }
  
  .nav-menu,
  .nav-submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a { 
    text-decoration: none; 
    color: inherit;
    transition: none;
  }
  
  /**
   * Defines primary navigation styles.
   */
  &.primary {
    
    $background: color('blue', 'powder');
    
    font-family: font('label');
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    background-color: $background;
    
    $border-primary: 1px solid color('grey');
    $border-secondary: 1px solid color('white', 'off');
    
    $button-background-normal: transparent;
    $button-background-hover: color('blue', 'light');
    $button-background-active: $button-background-hover;
    
    $button-color-normal: color('blue');
    $button-color-hover: color('white');
    $button-color-active: $button-color-hover;
    
    .nav-toggle {
      width: 100%;
      margin: 0;
      padding: .5em;
      background-color: $background;
      border: $border-primary;
      border-top: $border-secondary;
      border-left: $border-secondary;
      font: inherit;
      line-height: inherit;
      cursor: pointer;
      
      background-color: $button-background-normal;
      color: $button-color-normal;
      
      &::before { margin-right: 10px; }
      
      &:hover,
      &:focus {
        background-color: $button-background-hover;
        color: $button-color-hover;
      }
      
    }
    
    .nav-menu {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
      transition: all .2s ease-out;
    }
    .nav-submenu { display: none; }
    
    .nav-input:not(:checked) + .nav-menu { max-height: 0; overflow: hidden; }
    .nav-input:checked + .nav-menu { max-height: 500px; overflow: auto; }

    .nav-menu-item {
      align-self: stretch;
      text-align: center;
      
      width: 100%;
      flex-direction: column;
      display: flex;
      align-items: center;
      margin: 0;
      border: $border-primary;
      border-top: $border-secondary;
      border-left: $border-secondary;
      transition: all 0.2s ease-out;
      background-color: $button-background-normal;
      color: $button-color-normal;
      
      &.active {
        background-color: $button-background-active;
        color: $button-color-active;
      }
      
      &:hover,
      &:focus {
        background-color: $button-background-hover;
        color: $button-color-hover;
      }
      
      a { 
        align-self: stretch;
        padding: .5em; 
      }
      
    }
    
    $breaks: (
      'medium': min-width 480px,
      'large': min-width 768px
    );
    
    @include breakpoint( map-get($breaks, 'medium') ) {
      
      .nav-toggle { display: none; }
      
      .nav-input:checked, .nav-input:not(:checked) {
        + .nav-menu {
          max-height: none;
          overflow: auto;
        }
      }
      
      .nav-menu {
        font-size: .8em;
      }
      
      .nav-menu-item {
        width: 50%;
      }
      
    };
    @include breakpoint( map-get($breaks, 'large') ) {
      
      .nav-toggle { display: none; }
      
      .nav-input:checked, .nav-input:not(:checked) {
        + .nav-menu {
          justify-content: space-around;
          max-height: none;
          overflow: auto;
        }
      }
      
      .nav-menu-item {
        width: auto;
        flex-grow: 1;
      }
      
    };
    
  }
  
  /**
   * Defines secondary navigation styles.
   */
  &.secondary {
    font-family: font('label');
    font-size: .8rem;
    font-weight: normal;
    line-height: 1.75rem;
    margin-top: .5em;
    
    .nav-input, .nav-toggle { display: none; }
    
    $border: 1px solid color('grey');
    
    a { 
      display: block;
      border-bottom: $border; 
      color: inherit;
      line-height: inherit;
    }
    
    li {
      line-height: inherit;
    }
    
    .nav-menu-item {
      
      &.section {
        font-size: 16px;
        margin-bottom: 12px;
      }
      
      > a::after {
        content: "\f105";
        font-family: FontAwesome;
        display: block;
        position: absolute;
        right: .5em;
        line-height: inherit;
        bottom: 0;
        font-size: 14px;
      }
      
      &.has-submenu > a::after {
        content: "\f107";
      }
      
    }
    
    .nav-submenu {
      padding-left: 40px;
    }
    
    $button-color-normal: color('blue');
    $button-color-hover-primary: color('blue');
    $button-color-hover-secondary: color('blue', 'light');
    $button-color-active: $button-color-hover-secondary;
    
    .nav-menu-item,
    .nav-submenu-item {
      color:  $button-color-normal;
      
      > a {
        transition: all .15s ease;
      }
      
      &:hover > a,
      &:focus > a {
        color:  $button-color-hover-secondary;
      }
      
      &.section:hover > a,
      &.section:focus > a {
        color: $button-color-hover-primary;
      }
      
      &.active > a {
        font-weight: bold;
        color:  $button-color-active;
      }
      
    }
    
    @include breakpoint( screen('large') ) { margin-top: 0; }
    
  }
  
  /**
   * Defines breadcrumb navigation styles.
   */
  &.breadcrumb {
    max-width: none;
    margin: 0;
    
    a:hover,
    a:focus {
      text-decoration: underline;
    }
    
    .nav-input, .nav-toggle, .nav-submenu { display: none; }
    
    .nav-menu {
      font-family: font('label');
      font-size: .75em;
      font-weight: normal;
    }
    
    $crumb-color-item: color('blue');
    $crumb-color-slash: color('grey');
    $crumb-color-active: color('grey');
    
    .nav-menu-item {
      display: inline-block;
      color: $crumb-color-item;
      
      &::after {
        content: " / ";
        color: $crumb-color-slash;
      }
      
      &.active {
        color: $crumb-color-active;
        
        &::after { content: ""; }
        
      }
      
    }
    
  }
  
}