/**
 * Change the scope of the config() function.
 */
$brandy-config-map: $config-table-base;

/**
 * Defines the base table styles.
 */
table,
table.plain {
  border-collapse: collapse;
  font-family: config('font' 'family');
  font-size: config('font' 'size');
  font-weight: config('font' 'weight');
  color: config('font' 'color');
  
  caption {
    text-align: left;
    font-family: config('caption' 'font' 'family');
    font-size: config('caption' 'font' 'size');
    font-weight: config('caption' 'font' 'weight');
    color: config('caption' 'font' 'color');
  }
  
  td,
  th {
    padding: .25em .75em;
    vertical-align: middle;
  }
  
  td {
    font-family: config('data' 'font' 'family');
    font-size: config('data' 'font' 'size');
    font-weight: config('data' 'font' 'weight');
    color: config('data' 'font' 'color');
  }
  
  th {
    font-family: config('heading' 'font' 'family');
    font-size: config('heading' 'font' 'size');
    font-weight: config('heading' 'font' 'weight');
    color: config('heading' 'font' 'color');
  }
  
  /**
   * Defines the bordered table styles.
   */
  &:not(.plain).bordered {
    
    thead {
      tr { 
        border-bottom: config('head' 'border', $config-table-bordered); 
      }
    }
    
    tbody {
      tr { 
        border-bottom: config('body' 'border', $config-table-bordered); 
      }
    }
    
    tfoot {
      tr { 
        border-bottom: config('foot' 'border', $config-table-bordered); 
      }
    }
    
  }
  
  /**
   * Defines the bordered table styles.
   */
  &:not(.plain).striped {
    
    thead {
      border-bottom: config('head' 'border', $config-table-striped);
      background-color: config('head' 'background', $config-table-striped);
    }
    
    tbody {
      tr:nth-child(odd) {
        background-color: config('body' 'odd' 'background', $config-table-striped);
      }
      tr:nth-child(even) {
        background-color: config('body' 'even' 'background', $config-table-striped);
      }
    }
    
    tfoot {
      border-top: config('foot' 'border', $config-table-striped);
      background-color: config('foot' 'background', $config-table-striped);
    }
    
  }
  
}