/**
 * Defines the base table styles.
 */
table,
table.plain {
  border-collapse: collapse;
  font-family: font('label');
  font-size: 1em;
  
  caption {
    text-align: left;
    font-family: font('caption' 'sans');
    font-size: .9em;
  }
  
  td,
  th {
    padding: .25em .75em;
    vertical-align: middle;
  }
  
  th {
    font-family: font('heading');
    font-size: 1.25em;
    font-weight: normal;
    color: color('grey', 'dark');
  }
  
  /**
   * Defines the bordered table styles.
   */
  &:not(.plain).bordered {
    
    tbody tr {
      border-bottom: 1ox solid color('grey'); 
    }
    
  }
  
  /**
   * Defines the bordered table styles.
   */
  &:not(.plain).striped {
    
    thead {
      background-color: color('grey', 'light');
    }
    
    tbody tr:nth-child(even) {
      background-color: color('white', 'off');
    }
    
    tfoot {
      border-top: 1px solid color('grey');
    }
    
  }
  
}