/**
 * Uses private() @mixin to create a
 * private variable scope.
 */
@include private('TEXT') {
  
  /**
   * Defines different paragraph styles.
   */
  .lead { font-family: font('caption' 'serif'); }

  /**
   * Scales the font size of text according to
   * the texts' given class, and if text is 
   * configured to also scale responsively, makes
   * the font size scale proportinately across
   * breakpoints.
   */
  $default: 'copy';
  $base: config('base-font' 'size');
  $scale: (
    'copy': 1,
    'lead': 1.2,
    'meta': .8,
    'caption': .9,
    'disclaimer': .7
  );
  
  @each $class, $ratio in $scale {

    .#{$class}{ font-size: $base * $ratio; }

  }

  /**
   * Sets styles for the given inline text elements.
   */
  abbr[title] {
    text-decoration: underline dotted;
  }

  kbd {
    background-color: color('grey', 'light');
    box-shadow: 1px 1px 1px 0 color('black', 'off');
    font-size: .9em;
    color: color('black', 'off');
    padding: .25em;
    border-radius: 3px;
  }

  samp {
    font-size: .9em;
    color: color('grey');
    background-color: color('black', 'off');
    padding: .25em .5em;
  }

  dt {
    font-weight: 600;
  }

  dt,
  dd {
    margin: 0;
  }

  li, 
  dt, 
  dd {
    line-height: 1.5;
  }

};