@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
/*** INSERT NEW TOKENS HERE ***/
/*** INSERT NEW ATOMS HERE ***/
.breadcrumbs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.breadcrumbs li {
  font-size: 0.8125em !important;
  line-height: 1.4 !important;
}
.breadcrumbs li:not(:last-child)::after {
  margin: 0 0.5em;
  content: "›";
  color: #5387F7;
  font-weight: bold;
}