<table class="{{styleModifier}}">
    <caption>"Unstyled" table with caption, column and row headings, thead, tfoot, and tbody.</caption>
    <thead>
        <tr>
            <th></th>
            <th>Column one</th>
            <th>Column two</th>
            <th>Column three</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td></td>
            <td>Footer one</td>
            <td>Footer two</td>
            <td>Footer three</td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <th>Row one</th>
            <td>Cell one</td>
            <td>Cell two</td>
            <td>Cell three</td>
        </tr>
        <tr>
            <th>Row two</th>
            <td>Cell five</td>
            <td>Cell six</td>
            <td>Cell seven</td>
        </tr>
        <tr>
            <th>Row three</th>
            <td>Cell nine</td>
            <td>Cell ten</td>
            <td>Cell eleven</td>
        </tr>
        <tr>
            <th>Row four</th>
            <td>Cell thirteen</td>
            <td>Cell fourteen</td>
            <td>Cell fifteen</td>
        </tr>
    </tbody>
</table>
