<div class="sg-stack">

  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">h1</code>
    
    {{> atoms-heading(level: 1, text: "The quick, brown fox") }}
    
  </div>
<div class="sg-stack-item">
  
    <code class="sg-code-snippet">h2</code>
    
    {{> atoms-heading(level: 2, text: "The quick, brown fox") }}
    
  </div>
<div class="sg-stack-item">
  
    <code class="sg-code-snippet">h3</code>
    
    {{> atoms-heading(level: 3, text: "The quick, brown fox") }}
    
  </div>
<div class="sg-stack-item">
  
    <code class="sg-code-snippet">h4</code>
    
    {{> atoms-heading(level: 4, text: "The quick, brown fox") }}
    
  </div>
<div class="sg-stack-item">
  
    <code class="sg-code-snippet">h5</code>
    
    {{> atoms-heading(level: 5, text: "The quick, brown fox") }}
    
  </div>
<div class="sg-stack-item">
  
    <code class="sg-code-snippet">h6</code>
    
    {{> atoms-heading(level: 6, text: "The quick, brown fox") }}
    
  </div>

</div>