<eul-feed-item inline-template :defaults="{{#unless use}}{{JSONstringify this}}{{else}}{{use}}{{/unless}}"{{#if foreach}} v-for="{{foreach}}"{{/if}}>

  <div class="feed-item"
       :class="{'has-action': button.href}"
       :data-id="id">
    <span class="feed-item-date" v-html="date"></span>
    <a class="link feed-item-title" :href="link.href" :target="link.target || '_self'" v-html="title" v-html="title"></a>
    <a class="button -hollow feed-item-action" v-if="button.href" :href="button.href" :target="button.target || '_self'"><% button.label %></a>
  </div>

</eul-feed-item>
