@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
ico,
[class^=ico-],
[class*=ico-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-arrow-down-circle::before {
  content: "";
}

.ico-arrow-left-circle::before {
  content: "";
}

.ico-arrow-right-circle::before {
  content: "";
}

.ico-arrow-up-circle::before {
  content: "";
}

.ico-arrow-down-left::before {
  content: "";
}

.ico-arrow-down-right::before {
  content: "";
}

.ico-arrow-up-right::before {
  content: "";
}

.ico-arrow-up-left::before {
  content: "";
}

.ico-arrow-down::before {
  content: "";
}

.ico-arrow-left::before {
  content: "";
}

.ico-arrow-right::before {
  content: "";
}

.ico-arrow-up::before {
  content: "";
}

.ico-chevron-down::before {
  content: "";
}

.ico-chevron-left::before {
  content: "";
}

.ico-chevron-right::before {
  content: "";
}

.ico-chevron-up::before {
  content: "";
}

.ico-chevrons-down::before {
  content: "";
}

.ico-chevrons-left::before {
  content: "";
}

.ico-chevrons-right::before {
  content: "";
}

.ico-chevrons-up::before {
  content: "";
}

.ico-corner-down-left::before {
  content: "";
}

.ico-corner-down-right::before {
  content: "";
}

.ico-corner-left-down::before {
  content: "";
}

.ico-corner-left-up::before {
  content: "";
}

.ico-corner-right-down::before {
  content: "";
}

.ico-corner-right-up::before {
  content: "";
}

.ico-corner-up-left::before {
  content: "";
}

.ico-corner-up-right::before {
  content: "";
}

.grid {
  display: grid;
}

/*** INSERT NEW TOKENS HERE ***/
/*** INSERT NEW ATOMS HERE ***/
/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.grid {
  --gap-cols: 25px;
  --gap-rows: 25px;
  --align-cols: start;
  --align-rows: start;
  --cols: 1fr;
  --rows: auto;
  grid-column-gap: var(--gap-cols);
  grid-row-gap: var(--gap-rows);
  grid-template-rows: var(--rows);
  grid-template-columns: var(--cols);
  justify-content: var(--align-cols);
  align-items: var(--align-rows);
}
@media (max-width: 600px) {
  .grid.-s {
    --gap-cols-s: 25px;
    --gap-rows-s: 25px;
    --align-cols-s: start;
    --align-rows-s: start;
    --cols-s: 1fr;
    --rows-s: auto;
    grid-column-gap: var(--gap-cols-s);
    grid-row-gap: var(--gap-rows-s);
    grid-template-rows: var(--rows-s);
    grid-template-columns: var(--cols-s);
    justify-content: var(--align-cols-s);
    align-items: var(--align-rows-s);
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .grid.-m {
    --gap-cols-m: 25px;
    --gap-rows-m: 25px;
    --align-cols-m: start;
    --align-rows-m: start;
    --cols-m: 1fr;
    --rows-m: auto;
    grid-column-gap: var(--gap-cols-m);
    grid-row-gap: var(--gap-rows-m);
    grid-template-rows: var(--rows-m);
    grid-template-columns: var(--cols-m);
    justify-content: var(--align-cols-m);
    align-items: var(--align-rows-m);
  }
}
@media (min-width: 901px) {
  .grid.-l {
    --gap-cols-l: 25px;
    --gap-rows-l: 25px;
    --align-cols-l: start;
    --align-rows-l: start;
    --cols-l: 1fr;
    --rows-l: auto;
    grid-column-gap: var(--gap-cols-l);
    grid-row-gap: var(--gap-rows-l);
    grid-template-rows: var(--rows-l);
    grid-template-columns: var(--cols-l);
    justify-content: var(--align-cols-l);
    align-items: var(--align-rows-l);
  }
}
@media (min-width: 1200px) {
  .grid.-xl {
    --gap-cols-xl: 25px;
    --gap-rows-xl: 25px;
    --align-cols-xl: start;
    --align-rows-xl: start;
    --cols-xl: 1fr;
    --rows-xl: auto;
    grid-column-gap: var(--gap-cols-xl);
    grid-row-gap: var(--gap-rows-xl);
    grid-template-rows: var(--rows-xl);
    grid-template-columns: var(--cols-xl);
    justify-content: var(--align-cols-xl);
    align-items: var(--align-rows-xl);
  }
}