.grid {
  display: grid;
}

.grid {
  --gap-cols: 25px;
  --gap-rows: 25px;
  --align-cols: start;
  --align-rows: start;
  --cols: 1fr;
  --rows: auto;
  grid-gap: var(--gap-rows) var(--gap-cols);
  grid-template: var(--rows)/var(--cols);
  -webkit-box-pack: var(--align-cols);
      -ms-flex-pack: var(--align-cols);
          justify-content: var(--align-cols);
  -webkit-box-align: var(--align-rows);
      -ms-flex-align: var(--align-rows);
          align-items: var(--align-rows);
}
@media (max-width: 600px) {
  .grid.-s {
    --gap-cols-s: 25px;
    --gap-rows-s: 25px;
    --align-cols-s: start;
    --align-rows-s: start;
    --cols-s: 1fr;
    --rows-s: auto;
    grid-gap: var(--gap-rows-s) var(--gap-cols-s);
    grid-template: var(--rows-s)/var(--cols-s);
    -webkit-box-pack: var(--align-cols-s);
        -ms-flex-pack: var(--align-cols-s);
            justify-content: var(--align-cols-s);
    -webkit-box-align: var(--align-rows-s);
        -ms-flex-align: var(--align-rows-s);
            align-items: var(--align-rows-s);
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .grid.-m {
    --gap-cols-m: 25px;
    --gap-rows-m: 25px;
    --align-cols-m: start;
    --align-rows-m: start;
    --cols-m: 1fr;
    --rows-m: auto;
    grid-gap: var(--gap-rows-m) var(--gap-cols-m);
    grid-template: var(--rows-m)/var(--cols-m);
    -webkit-box-pack: var(--align-cols-m);
        -ms-flex-pack: var(--align-cols-m);
            justify-content: var(--align-cols-m);
    -webkit-box-align: var(--align-rows-m);
        -ms-flex-align: var(--align-rows-m);
            align-items: var(--align-rows-m);
  }
}
@media (min-width: 901px) {
  .grid.-l {
    --gap-cols-l: 25px;
    --gap-rows-l: 25px;
    --align-cols-l: start;
    --align-rows-l: start;
    --cols-l: 1fr;
    --rows-l: auto;
    grid-gap: var(--gap-rows-l) var(--gap-cols-l);
    grid-template: var(--rows-l)/var(--cols-l);
    -webkit-box-pack: var(--align-cols-l);
        -ms-flex-pack: var(--align-cols-l);
            justify-content: var(--align-cols-l);
    -webkit-box-align: var(--align-rows-l);
        -ms-flex-align: var(--align-rows-l);
            align-items: var(--align-rows-l);
  }
}
@media (min-width: 1200px) {
  .grid.-xl {
    --gap-cols-xl: 25px;
    --gap-rows-xl: 25px;
    --align-cols-xl: start;
    --align-rows-xl: start;
    --cols-xl: 1fr;
    --rows-xl: auto;
    grid-gap: var(--gap-rows-xl) var(--gap-cols-xl);
    grid-template: var(--rows-xl)/var(--cols-xl);
    -webkit-box-pack: var(--align-cols-xl);
        -ms-flex-pack: var(--align-cols-xl);
            justify-content: var(--align-cols-xl);
    -webkit-box-align: var(--align-rows-xl);
        -ms-flex-align: var(--align-rows-xl);
            align-items: var(--align-rows-xl);
  }
}