.heading.-h6 .anchor, .heading.-h5-alt .anchor, .heading.-h5 .anchor, .heading.-h4 .anchor, .heading.-h3 .anchor, .heading.-h2 .anchor, .heading.-h1-hero .anchor, .heading.-h1-alt .anchor, .heading.-h1 .anchor {
  display: none;
}
.is-anchored.heading.-h6 .anchor, .is-anchored.heading.-h5-alt .anchor, .is-anchored.heading.-h5 .anchor, .is-anchored.heading.-h4 .anchor, .is-anchored.heading.-h3 .anchor, .is-anchored.heading.-h2 .anchor, .is-anchored.heading.-h1-hero .anchor, .is-anchored.heading.-h1-alt .anchor, .is-anchored.heading.-h1 .anchor {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: -5px;
}
.is-anchored.heading.-h6 .anchor .icon, .is-anchored.heading.-h5-alt .anchor .icon, .is-anchored.heading.-h5 .anchor .icon, .is-anchored.heading.-h4 .anchor .icon, .is-anchored.heading.-h3 .anchor .icon, .is-anchored.heading.-h2 .anchor .icon, .is-anchored.heading.-h1-hero .anchor .icon, .is-anchored.heading.-h1-alt .anchor .icon, .is-anchored.heading.-h1 .anchor .icon {
  margin: 0 !important;
}

.heading.-h1 {
  font: normal bold 72px/normal "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  color: #091C44;
}
.heading.-h1.is-anchored:hover .anchor, .heading.-h1.is-anchored.is-hover .anchor, .heading.-h1.is-anchored:focus .anchor, .heading.-h1.is-anchored.is-focus .anchor {
  visibility: visible;
  opacity: 1;
}
.heading.-h1 .anchor {
  -webkit-transition: visibility 0s, opacity 0.25s ease;
  transition: visibility 0s, opacity 0.25s ease;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
}
.heading.-h1 .anchor .icon,
.heading.-h1 .anchor .icon svg {
  width: 25px;
  height: 25px;
}
.heading.-h1-alt {
  font: normal bold 48px/normal "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  color: #091C44;
}
.heading.-h1-alt.is-anchored:hover .anchor, .heading.-h1-alt.is-anchored.is-hover .anchor, .heading.-h1-alt.is-anchored:focus .anchor, .heading.-h1-alt.is-anchored.is-focus .anchor {
  visibility: visible;
  opacity: 1;
}
.heading.-h1-alt .anchor {
  -webkit-transition: visibility 0s, opacity 0.25s ease;
  transition: visibility 0s, opacity 0.25s ease;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
}
.heading.-h1-alt .anchor .icon,
.heading.-h1-alt .anchor .icon svg {
  width: 25px;
  height: 25px;
}
.heading.-h1-hero {
  font: normal bold 50px/1.36 "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  color: #FFFFFF;
}
.heading.-h1-hero.is-anchored:hover .anchor, .heading.-h1-hero.is-anchored.is-hover .anchor, .heading.-h1-hero.is-anchored:focus .anchor, .heading.-h1-hero.is-anchored.is-focus .anchor {
  visibility: visible;
  opacity: 1;
}
.heading.-h1-hero .anchor {
  -webkit-transition: visibility 0s, opacity 0.25s ease;
  transition: visibility 0s, opacity 0.25s ease;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
}
.heading.-h1-hero .anchor .icon,
.heading.-h1-hero .anchor .icon svg {
  width: 25px;
  height: 25px;
}
.heading.-h2 {
  font: normal normal 48px/1.0833 "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  color: #091C44;
}
.heading.-h2.is-anchored:hover .anchor, .heading.-h2.is-anchored.is-hover .anchor, .heading.-h2.is-anchored:focus .anchor, .heading.-h2.is-anchored.is-focus .anchor {
  visibility: visible;
  opacity: 1;
}
.heading.-h2 .anchor {
  -webkit-transition: visibility 0s, opacity 0.25s ease;
  transition: visibility 0s, opacity 0.25s ease;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
}
.heading.-h2 .anchor .icon,
.heading.-h2 .anchor .icon svg {
  width: 25px;
  height: 25px;
}
.heading.-h3 {
  font: normal bold 24px/1.7083 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  color: #605858;
}
.heading.-h3.is-anchored:hover .anchor, .heading.-h3.is-anchored.is-hover .anchor, .heading.-h3.is-anchored:focus .anchor, .heading.-h3.is-anchored.is-focus .anchor {
  visibility: visible;
  opacity: 1;
}
.heading.-h3 .anchor {
  -webkit-transition: visibility 0s, opacity 0.25s ease;
  transition: visibility 0s, opacity 0.25s ease;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
}
.heading.-h3 .anchor .icon,
.heading.-h3 .anchor .icon svg {
  width: 25px;
  height: 25px;
}
.heading.-h4 {
  font: normal normal 28px/1.5 "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  color: #605858;
}
.heading.-h4.is-anchored:hover .anchor, .heading.-h4.is-anchored.is-hover .anchor, .heading.-h4.is-anchored:focus .anchor, .heading.-h4.is-anchored.is-focus .anchor {
  visibility: visible;
  opacity: 1;
}
.heading.-h4 .anchor {
  -webkit-transition: visibility 0s, opacity 0.25s ease;
  transition: visibility 0s, opacity 0.25s ease;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
}
.heading.-h4 .anchor .icon,
.heading.-h4 .anchor .icon svg {
  width: 25px;
  height: 25px;
}
.heading.-h5 {
  font: normal normal 26px/normal "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  color: #605858;
}
.heading.-h5.is-anchored:hover .anchor, .heading.-h5.is-anchored.is-hover .anchor, .heading.-h5.is-anchored:focus .anchor, .heading.-h5.is-anchored.is-focus .anchor {
  visibility: visible;
  opacity: 1;
}
.heading.-h5 .anchor {
  -webkit-transition: visibility 0s, opacity 0.25s ease;
  transition: visibility 0s, opacity 0.25s ease;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
}
.heading.-h5 .anchor .icon,
.heading.-h5 .anchor .icon svg {
  width: 25px;
  height: 25px;
}
.heading.-h5-alt {
  font: normal normal 22px/1.6364 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  color: #605858;
}
.heading.-h5-alt.is-anchored:hover .anchor, .heading.-h5-alt.is-anchored.is-hover .anchor, .heading.-h5-alt.is-anchored:focus .anchor, .heading.-h5-alt.is-anchored.is-focus .anchor {
  visibility: visible;
  opacity: 1;
}
.heading.-h5-alt .anchor {
  -webkit-transition: visibility 0s, opacity 0.25s ease;
  transition: visibility 0s, opacity 0.25s ease;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
}
.heading.-h5-alt .anchor .icon,
.heading.-h5-alt .anchor .icon svg {
  width: 25px;
  height: 25px;
}
.heading.-h6 {
  font: normal bold 12px/1.6667 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #605858;
}
.heading.-h6.is-anchored:hover .anchor, .heading.-h6.is-anchored.is-hover .anchor, .heading.-h6.is-anchored:focus .anchor, .heading.-h6.is-anchored.is-focus .anchor {
  visibility: visible;
  opacity: 1;
}
.heading.-h6 .anchor {
  -webkit-transition: visibility 0s, opacity 0.25s ease;
  transition: visibility 0s, opacity 0.25s ease;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
}
.heading.-h6 .anchor .icon,
.heading.-h6 .anchor .icon svg {
  width: 25px;
  height: 25px;
}