@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
.big-reveal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.big-reveal-toggle {
  display: none;
}
.big-reveal-content {
  order: 1;
  overflow: hidden;
}
.big-reveal-toggle:not(:checked) + .big-reveal-content {
  max-height: 0;
  opacity: 0;
}
.big-reveal-toggle:checked + .big-reveal-content {
  max-height: 1000vh;
  opacity: 1;
}
.big-reveal-button {
  order: 2;
  margin-top: 2em;
}
.big-reveal-toggle:not(:checked) ~ .big-reveal-button:not(.-once)::before {
  content: attr(data-show) " ";
}
.big-reveal-toggle:checked ~ .big-reveal-button:not(.-once)::before {
  content: attr(data-hide) " ";
}
.big-reveal-toggle:checked ~ .-once.big-reveal-button {
  display: none;
}

/*** INSERT NEW TOKENS HERE ***/
/*** INSERT NEW ATOMS HERE ***/
/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.big-reveal-content {
  transition: all 0.25s ease;
}