.text {
  font: normal normal 16px/1.9375 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.text.-body {
  font: normal normal 16px/1.9375 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.text.-body-alt {
  font: normal normal 14px/1.6429 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.text.-lead {
  font: normal normal 28px/1.5 "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #004990;
}
.text.-blockquote {
  font: normal bold 48px/normal "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  color: #004990;
}
.text.-button {
  font: normal bold 11px/1.6364 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #605858;
}
.text.-badge {
  font: normal bold 12px/1.6667 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #605858;
}
.text.-listing {
  font: normal normal 22px/1.6364 "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.text.-accent {
  font: normal normal 18px/1.6111 "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.text.-label {
  font: normal bold 10px/1.2 "Open Sans", sans-serif;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  text-align: left;
  color: #091C44;
}
.text.-data {
  font: normal normal 12px/1.6667 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.text.-caption {
  font: italic normal 16px/1.5 "Cardo", serif;
  text-transform: none;
  text-align: left;
  color: #605858;
}