<div class="sg-stack">

  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.alert</code>
    <h5 class="sg-variation-label">Default</h5>
    
    {{> molecules-alert }}
  
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.alert.info</code>
    <h5 class="sg-variation-label">Information</h5>
    
    {{> molecules-alert:info }}
  
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.alert.success</code>
    <h5 class="sg-variation-label">Success</h5>
    
    {{> molecules-alert:success }}
  
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.alert.warning</code>
    <h5 class="sg-variation-label">Warning</h5>
    
    {{> molecules-alert:warning }}
  
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">.alert.danger</code>
    <h5 class="sg-variation-label">Danger</h5>
    
    {{> molecules-alert:danger }}
  
  </div>
  
</div>