<select id="{{id}}"
        {{#required}}required{{/required}}
        {{#disabled}}disabled{{/disabled}}>
  {{#options}}
    {{#group}}
    <optgroup label="{{label}}"
              {{#disabled}}disabled{{/disabled}}>
      {{#options}}
      <option value="{{value}}"
              {{#selected}}selected{{/selected}}
              {{#disabled}}disabled{{/disabled}}>{{label}}</option>
      {{/options}}
    </optgroup>
    {{/group}}
    {{^group}}
    <option value="{{value}}"
            {{#selected}}selected{{/selected}}
            {{#disabled}}disabled{{/disabled}}>{{label}}</option>
    {{/group}}
  {{/options}}
</select>