/**
 * Use this file to load and/or define fonts.
 */

/** 
 * GOOGLE FONTS
 *
 * Import any Google Fonts.
 */
@include google-font('PT Serif');
@include google-font('PT Sans');
@include google-font('PT Sans Narrow');
@include google-font('PT Mono');
@include google-font('PT Serif Caption');
@include google-font('PT Sans Caption');

$fonts: (
  'body': ('PT Serif', serif),
  'heading': ('PT Sans Narrow', sans-serif),
  'code': ('PT Mono', monospace),
  'label': ('PT Sans', sans-serif),
  'caption': (
    'serif': ('PT Serif Caption', serif),
    'sans': ('PT Sans Caption', sans-serif)
  )
);

/**
 * Override default configurations for Brandy, and/or
 * define new configurations to be used by Brandy.
 */
$brandy-fonts-map: $fonts;

/**
 * Unclude color variables for backwards
 * compatability with the older version of
 * the Pattern Library.
 */
$base-font-family:                  font('body');
$heading-font-family:               font('heading');
$code-font-family:                  font('code');
$label-font-family:                 font('label');
$caption-serif-font-family:         font('caption' 'serif');
$caption-sans-serif-font-family:    font('caption' 'sans');