<div class="sg-fonts">

  {{#fonts}}
  <div class="sg-fonts-font">
    
    <code class="sg-code-snippet">
      .{{class}}
    </code>
    <div class="sg-fonts-font-sample {{class}}">
      The quick brown fox jumps over the lazy dog.
    </div>
    <div class="sg-fonts-font-family sg-copy-here" data-clipboard-text="{{family}}">
      {{family}}
    </div>
    <div class="sg-fonts-font-sass sg-copy-here" data-clipboard-text="{{sass}}">
      {{sass}}
    </div>
    
  </div>
  {{/fonts}}

</div>