<div class="sg-stack">

  <div class="sg-stack-item">
    
    <code class="sg-code-snippet">.button</code>
    <h5 class="sg-variation-label">Enabled</h5>
    
    {{> atoms-button(text: "Enabled") }}
  
  </div>
  
  <div class="sg-stack-item">
    
    <code class="sg-code-snippet">.button.disabled</code>
    <h5 class="sg-variation-label">Disabled</h5>
    
    {{> atoms-button(text: "Disabled", disabled: true) }}
  
  </div>

</div>