<div class="utility-list">
  <h4 class="heading -h4 utility-list-title">
    {{#if icon}}{{> tokens-icon id=icon}}{{/if}}
    {{title}}
  </h4>
  <ul class="utility-list-list">
    {{#each items}}
    <li class="utility-list-list-item{{#if image}} has-image{{/if}}{{#if (or context ../context)}} has-context{{/if}}">
      {{#if image}}
      <div class="utility-list-list-item-image">
        {{#with image }}{{> atoms-image}}{{/with}}
      </div>
      {{/if}}
      {{#if (or context ../context)}}
      <span class="utility-list-list-item-context">
        {{default context ../context}}
      </span>
      {{/if}}
      {{#if link}}
      {{#with link}}{{> atoms-link label=../title classes="utility-list-list-item-title"}}{{/with}}
      {{else}}
      <span class="utility-list-list-item-title">{{title}}</span>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</div>
