<textarea id="{{id}}" name="{{name}}" placeholder="{{placeholder}}"
          {{#disabled}}disabled{{/disabled}}
          {{#required}}required{{/required}}>
  {{#value}}{{value}}{{/value}}
</textarea>