<div class="sg-stack">

  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">table</code>  
    <h5 class="sg-variation-label">Default</h5>
    
    {{> molecules-table }}
    
  </div>

  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">table.plain</code>  
    <h5 class="sg-variation-label">Plain</h5>
    
    {{> molecules-table:plain }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">table.bordered</code>  
    <h5 class="sg-variation-label">Bordered</h5>
    
    {{> molecules-table:bordered }}
    
  </div>
  
  <div class="sg-stack-item">
  
    <code class="sg-code-snippet">table.striped</code>  
    <h5 class="sg-variation-label">Striped</h5>
    
    {{> molecules-table:striped }}
    
  </div>
  
</div>