.tab-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.tab-menu:not(.-dropdown):not(.-noscript) {
  display: none;
}
@media (min-width: 901px) {
  .tab-menu:not(.-dropdown):not(.-noscript) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.-dropdown.tab-menu {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
}
.-dropdown.tab-menu::after {
  content: "";
  display: block;
  top: unset;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
.-dropdown.tab-menu select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
}
@media (min-width: 901px) {
  .-dropdown.tab-menu {
    display: none;
  }
}
.-noscript.tab-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 901px) {
  .-noscript.tab-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.tab-menu.-dropdown {
  padding-top: 5px;
  padding-bottom: 5px;
  font: normal bold 16px/1.9375 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: left;
  color: #336BE6;
  font-size: 18px !important;
}
.tab-menu.-dropdown::after {
  width: calc(100% - 20px);
  height: 1px;
  background-color: #336BE6;
  bottom: 5px;
}
.tab-menu.-dropdown select {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  background-image: url(../assets/icons/php/icon.php?id=material-chevron_down&color=336BE6&size[width]=20&size[height]=20);
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: center right;
  color: inherit;
  font: inherit;
  text-transform: inherit;
}
.tab-menu.-dropdown select option {
  color: #605858;
  font: initial;
  font-family: sans-serif;
}
.tab-menu.-light.-dropdown {
  color: #336BE6;
}
.tab-menu.-light.-dropdown::after {
  background-color: #336BE6;
}
.tab-menu.-light.-dropdown select {
  background-image: url(../assets/icons/php/icon.php?id=material-chevron_down&color=336BE6&size[width]=20&size[height]=20);
}
.tab-menu.-dark.-dropdown {
  color: #E9BF55;
}
.tab-menu.-dark.-dropdown::after {
  background-color: #E9BF55;
}
.tab-menu.-dark.-dropdown select {
  background-image: url(../assets/icons/php/icon.php?id=material-chevron_down&color=E9BF55&size[width]=20&size[height]=20);
}