<div class="sg-classes">
  
  {{#colors}}
  <div class="sg-classes-class {{class}}">
    
    <div class="sg-classes-class-data sg-classes-class-name">.{{class}}</div>
    <div class="sg-classes-class-data sg-classes-class-hex">{{hex}}</div>
    
  </div>
  {{/colors}}
  
</div>
