{{> organisms-header }}
{{#nav.primary}}{{> organisms-primary-navigation }}{{/nav.primary}}

<main role="main" {{#subsection}}class="subsection"{{/subsection}}>

  {{#nav.breadcrumbs}}{{> organisms-breadcrumbs }}{{/nav.breadcrumbs}}
  
  <section class="page-section">
  
    {{> atoms-heading(level: 1, text: "Section Title") }}
    
    {{> atoms-paragraph:lead(text: "Ubi eram mentitum, ut quae exercitation. Nam eram summis esse deserunt eu enim possumus exercitation. Sed sed veniam aliquip, nisi ita do sunt eiusmod, elit iudicem ita admodum et ipsum ad fabulas.") }}
    
    {{#cards}}
      {{> organisms-card }}
    {{/cards}}
  
  </section>
  
  {{#subsection}}
    {{#nav.secondary}}{{> organisms-secondary-navigation }}{{/nav.secondary}}
  {{/subsection}}
  
</main>
{{#footer}}{{> organisms-footer }}{{/footer}}