article#section-page {
    @include display(flex);
    @include flex-wrap(wrap);

    section {
        @include display(flex);
        @include flex-wrap(wrap);
        @include flex-basis(100%);
        @include align-content(flex-start);

        h2 {

            a {
                text-decoration: none;
            }

        }

        figure {
            border: none;
            padding: 0;
            @include flex-basis(100%);
        }

        p {

            a {
                text-decoration: none;
            }

        }

        ul {
            margin: 0;
            padding: 0;

            li {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: inline-block;

                &:not(:last-child):after {
                    content: ' | '
                }

            }

        }

        @include media($s-up) {

            h2 {
                @include flex-basis(100%);
                @include order(1);
            }

            figure {
                @include order(2);
                overflow: hidden;

                img {
                    width: 100%;
                }

            }

            p {
                @include order(3);
            }

            ul {
                @include flex-basis(100%);
                @include order(4);
            }

        }

    }

    &.row-layout {

        section {

            @include media($s-up) {

                figure {
                    margin: 0 0 1em 1%;
                    @include flex-basis(39%);
                    @include order(3);
                }

                p {
                    @include flex-basis(60%);
                    @include order(2);
                }

            }

            @include media($m-up) {

                figure {
                    @include flex-basis(24%);
                }

                p {
                    @include flex-basis(75%);
                }

            }

        }

    }

    &.card-layout {
        @include justify-content(space-between);

        section {
            font-size: .9em;

            @include media($s-up) {
                margin-top: .5em;
                padding: .5em 1em;
                /* border: $base-border;
                border-radius: $base-border-radius;
                box-shadow: 1px 1px 6px $light-gray; */
                @include flex-basis(49%);

                h2 {
                    @include order(2);
                    font-size: em(21px);
                }

                figure {
                    @include order(1);
                }
            }

            @include media($m-up) {
                @include flex-basis(32%);
            }

            @include media($l-up) {
                @include flex-basis(24%);
            }

        }

    }


}
