nav[role=navigation] {
    font-family: $label-font-family;
    font-size: 1em;
    font-weight: 400;
    line-height: $base-line-height;
    //border-bottom: $base-border;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: $primary-nav-background-color;
        position: absolute;
        left: -10000px;

        @include display(flex);
        @include flex-wrap(wrap);
        @include align-content(center);

        @include media($s-up) {
            font-size: .8em;
            position: initial;
        }

        @include media($m-up) {
            @include justify-content(space-around);
        }

        &>li {
            text-align: center;
            @include flex-direction(column);
            @include justify-content(center);
            @include align-self(stretch);
            @include flex-basis(100%);
            display: flex;
            @include align-items(center);
            @include margin(0);
            @include padding(.5em);
            border: $base-border;
            @include border-color($ultra-light-gray null null $ultra-light-gray);

            // Adjust li width at larger screen sizes.
            @include media($s-up) {
                @include flex-basis(50%);
            }

            @include media($m-up) {
                @include flex-basis(auto);
                @include flex-grow(1);
            }

            @include transition(background-color .2s ease-out, color .2s ease-out);

            a {
                text-decoration: none;
            }

            &.active,
            &:hover {
                background-color: $light-blue;

                a {
                    color: $white;
                }

            }

        }

        &.is-visible {
            position: relative;
            left: inherit;
        }

    }

    .mobile-menu {
        display: block;
        width: 100%;
        @include margin(0);
        @include padding(.5em);
        background-color: $primary-nav-background-color;
        text-decoration: none;
        border: $base-border;
        @include border-color($ultra-light-gray null null $ultra-light-gray);

        @include media($s-up) {
            display: none;
        }

    }

}
