$swatch-size: em(100px);

.color-pallette {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    @include media($s-up) {
        flex-direction: row;
        justify-content: flex-start;
    }

    .color-tile {
        //display: inline-block;
        //@include padding(1em);
        height: $swatch-size*2;
        @include pad(.5em);
        margin-top: 1em;
        border: $base-border;
        border-radius: $base-border-radius;
        font-family: $caption-sans-serif-font-family;

        @include media($s-up) {
            flex-basis: 33%;
        }

        @include media($m-up) {
            flex-basis: 25%;
        }

        @include media($l-up) {
            flex-basis: 20%;
        }

        .color-swatch {
            //height: $swatch-size;
            width: 100%;
            border-radius: $base-border-radius;
            height: $swatch-size;

            @include media($s-up) {
                height: $swatch-size;
            }

            @include media($l-up) {
                //height: $swatch-size*2;
            }

            @include media($xl-up) {
                //height: $swatch-size*2.5;
            }

        }

        .color-value {
            margin-top: 1em;
            text-align: center;
        }

    }

}


