{{> molecules-checkbox(label: "Checkbox 1", value: "Checkbox 1", name: "checkboxes-demo") }}
{{> molecules-checkbox(label: "Checkbox 2", value: "Checkbox 2", name: "checkboxes-demo", checked: true) }}
{{> molecules-checkbox(label: "Checkbox 3", value: "Checkbox 3", name: "checkboxes-demo", disabled: true) }}