<form>

  {{> molecules-textboxes }}
  {{> molecules-textareas }}
  {{> molecules-dropdowns }}
  {{> molecules-fieldset }}
  
  {{> atoms-button:primary(text: "Submit", type: "submit") }}
  {{> atoms-button:primary(text: "Reset", type: "reset") }}

</form>