.leaflet-fade-anim {

  .leaflet-tile {
    will-change: opacity;
  }

  .leaflet-popup {
    opacity: 0;
    transition: opacity .2s linear;
  }

  .leaflet-map-pane {

    .leaflet-popup { opacity: 1; }

  }

}

.leaflet-zoom-animated {
  transform-origin: 0 0;
}

.leaflet-zoom-anim {

  .leaflet-zoom-animated {
    will-change: transform;
    transition: transform .25s cubic-bezier(0, 0, .25, 1);
  }

  .leaflet-zoom-hide {
    visibility: hidden;
  }

  .leaflet-tile {
    transition: none;
  }

}

.leaflet-pan-anim {

  .leaflet-tile {
    transition: none;
  }

}
