.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-container {
  overflow: hidden;
  tap-highlight-color: transparent;
  font: $font;
  background: $color--background;
  outline: 0;

  &.leaflet-touch-zoom {
    touch-action: pan-x pan-y;
  }

  &.leaflet-touch-drag {
    touch-action: none;
    touch-action: pinch-zoom;
  }

  &.leaflet-touch-zoom.leaflet-touch-drag {
    touch-action: none;
  }

  .leaflet-overlay-pane svg,
  .leaflet-marker-pane img,
  .leaflet-shadow-pane img,
  .leaflet-tile-pane img,
  img.leaflet-image-layer,
  .leaflet-tile {
    max-width: none !important;
    max-height: none !important;
  }

  .leafleft-overlay-pane svg {
    user-select: none;
  }

  a {
    tap-highlight-color: $color--link--tap;
    color: $color--link;

    &.leaflet-active {
      outline: 2px solid $color--link--outline;
    }

  }

}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  user-select: none;
  user-drag: none;
}

.leaflet-safari {

  .leaflet-tile {
    image-rendering: -webkit-optimize-contrast;
  }

  .leaflet-tile-container {
    width: 1600px;
    height: 1600px;
    transform-origin: 0 0;
  }

}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}


.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

.leaflet-tile-loaded {
  visibility: inherit;
}

.leaflet-zoom-box {
  width: 0;
  height: 0;
  box-sizing: border-box;
  z-index: $z-index--zoom;
  border: 2px dotted $color--zoom--border;
  background: $color--zoom--background;
}

.leaflet-pane {
  z-index: $z-index--pane;
}

.leaflet-tile-pane {
  z-index: $z-index--tile;
}

.leaflet-overlay-pane {
  z-index: $z-index--overlay;
}

.leaflet-shadow-pane {
  z-index: $z-index--shadow;
}

.leaflet-marker-pane {
  z-index: $z-index--marker;
}

.leaflet-tooltip-pane {
  z-index: $z-index--tooltip;
}

.leaflet-popup-pane {
  z-index: $z-index--popup;
}

.leaflet-map-pane canvas {
  z-index: $z-index--map--canvas;
}

.leaflet-map-pane svg {
  z-index: $z-index--map--svg;
}

.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}

.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
}
