
<p class="copyright">
  <a href="{{policy}}{{^policy}}http://www.emory.edu/home/about-this-site/copyright.html{{/policy}}" 
     class="copyright-policy" 
     title="Copyright">Copyright</a> 
  <span>
    {{#origin}}<span class="copyright-origin">{{origin}}</span>&ndash;{{/origin}}<span class="copyright-year">{{year}}</span>
  </span>
  <a href="{{ownerURL}}{{^ownerURL}}http://www.emory.edu/{{/ownerURL}}" 
     class="copyright-owner">{{owner}}{{^owner}}Emory University{{/owner}}</a> 
  All Rights Reserved | 
  <span class="copyright-address">
    {{address}}{{^address}}201 Dowman Drive Atlanta, Georgia 30322 USA{{/address}}
  </span> 
  <a href="tel:{{phone}}{{^phone}}404.727.6123{{/phone}}" 
     class="copyright-phone">{{phone}}{{^phone}}404.727.6123{{/phone}}</a>
</p>