@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
ico,
[class^=ico-],
[class*=ico-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-arrow-down-circle::before {
  content: "";
}

.ico-arrow-left-circle::before {
  content: "";
}

.ico-arrow-right-circle::before {
  content: "";
}

.ico-arrow-up-circle::before {
  content: "";
}

.ico-arrow-down-left::before {
  content: "";
}

.ico-arrow-down-right::before {
  content: "";
}

.ico-arrow-up-right::before {
  content: "";
}

.ico-arrow-up-left::before {
  content: "";
}

.ico-arrow-down::before {
  content: "";
}

.ico-arrow-left::before {
  content: "";
}

.ico-arrow-right::before {
  content: "";
}

.ico-arrow-up::before {
  content: "";
}

.ico-chevron-down::before {
  content: "";
}

.ico-chevron-left::before {
  content: "";
}

.ico-chevron-right::before {
  content: "";
}

.ico-chevron-up::before {
  content: "";
}

.ico-chevrons-down::before {
  content: "";
}

.ico-chevrons-left::before {
  content: "";
}

.ico-chevrons-right::before {
  content: "";
}

.ico-chevrons-up::before {
  content: "";
}

.ico-corner-down-left::before {
  content: "";
}

.ico-corner-down-right::before {
  content: "";
}

.ico-corner-left-down::before {
  content: "";
}

.ico-corner-left-up::before {
  content: "";
}

.ico-corner-right-down::before {
  content: "";
}

.ico-corner-right-up::before {
  content: "";
}

.ico-corner-up-left::before {
  content: "";
}

.ico-corner-up-right::before {
  content: "";
}

/*** INSERT NEW TOKENS HERE ***/
.card-contact-email, .card-contact-name {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.card-contact-email::after, .card-contact-name::after {
  content: attr(data-subtext);
  display: block;
}
.card-contact-email .icon, .card-contact-name .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*** INSERT NEW ATOMS HERE ***/
.card-contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(3, min-content);
  justify-content: center;
}
.card-contact-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.card-contact-image img {
  width: 100%;
}
.card-contact-name {
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.card-contact-title {
  margin: 0;
}
.card-contact-email {
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.card-contact {
  grid-gap: 5px;
  padding: 40px 25px 25px;
  border: 1px solid #dbdee6;
  border-top: 2px solid #336BE6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #FFFFFF;
  background-image: -webkit-linear-gradient(to bottom, #f3f5f8 70px, transparent 70px);
  background-image: -moz-linear-gradient(to bottom, #f3f5f8 70px, transparent 70px);
  background-image: -o-linear-gradient(to bottom, #f3f5f8 70px, transparent 70px);
  background-image: linear-gradient(to bottom, #f3f5f8 70px, transparent 70px);
}
.card-contact {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6429;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #082B73;
}
.card-contact-image {
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.card-contact-name {
  text-align: center;
  font-size: 18px;
}
.card-contact-name {
  font-weight: bold;
  font-style: normal;
  color: #091C44;
  transition: all 0.25s ease;
  background: none;
  border: none;
}
.card-contact-name .icon {
  width: 24px;
  height: 24px;
  margin-right: 1ex;
}
.card-contact-name .icon svg {
  fill: #091C44;
}
.card-contact-name:hover, .card-contact-name.is-hover, .card-contact-name:focus, .card-contact-name.is-focus {
  color: #5387F7;
}
.card-contact-name:hover .icon svg, .card-contact-name.is-hover .icon svg, .card-contact-name:focus .icon svg, .card-contact-name.is-focus .icon svg {
  fill: #5387F7;
}
.card-contact-name:active, .card-contact-name.is-active {
  color: #5387F7;
}
.card-contact-name:active .icon svg, .card-contact-name.is-active .icon svg {
  fill: #5387F7;
}
.card-contact-name::after {
  font-size: 12px !important;
  line-height: 1 !important;
}
.card-contact-name::after {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.9375;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.card-contact-name.-popular {
  font-size: 20px !important;
  color: #FFFFFF;
}
.card-contact-name.-popular {
  font-family: "Cardo", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #FFFFFF;
}
.card-contact-name.-popular:hover, .card-contact-name.-popular.is-hover, .card-contact-name.-popular:focus, .card-contact-name.-popular.is-focus {
  color: #336BE6;
}
.card-contact-name.-popular:active, .card-contact-name.-popular.is-active {
  color: #336BE6;
}
.card-contact-name.-underline {
  text-decoration: underline;
}
.card-contact-title {
  text-align: center;
}
.card-contact-email {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
}
.card-contact-email {
  font-weight: bold;
  font-style: normal;
  color: #336BE6;
  transition: all 0.25s ease;
  background: none;
  border: none;
}
.card-contact-email .icon {
  width: 24px;
  height: 24px;
  margin-right: 1ex;
}
.card-contact-email .icon svg {
  fill: #336BE6;
}
.card-contact-email:hover, .card-contact-email.is-hover, .card-contact-email:focus, .card-contact-email.is-focus {
  color: #004990;
}
.card-contact-email:hover .icon svg, .card-contact-email.is-hover .icon svg, .card-contact-email:focus .icon svg, .card-contact-email.is-focus .icon svg {
  fill: #004990;
}
.card-contact-email:active, .card-contact-email.is-active {
  color: #004990;
}
.card-contact-email:active .icon svg, .card-contact-email.is-active .icon svg {
  fill: #004990;
}
.card-contact-email::after {
  font-size: 12px !important;
  line-height: 1 !important;
}
.card-contact-email::after {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.9375;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.card-contact-email.-popular {
  font-size: 20px !important;
  color: #FFFFFF;
}
.card-contact-email.-popular {
  font-family: "Cardo", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #FFFFFF;
}
.card-contact-email.-popular:hover, .card-contact-email.-popular.is-hover, .card-contact-email.-popular:focus, .card-contact-email.-popular.is-focus {
  color: #336BE6;
}
.card-contact-email.-popular:active, .card-contact-email.-popular.is-active {
  color: #336BE6;
}
.card-contact-email.-underline {
  text-decoration: underline;
}