<div class="card-librarian">
  <div class="card-librarian-about">
    <div class="card-librarian-image">{{> atoms-image src=(default image (combine '/images/avatars/placeholder.' (default gender 'male') '.jpg'))}}</div>
    {{> atoms-link href=href label=name target=(default target '_self') classes="card-librarian-name"}}
    <span class="card-librarian-title">{{title}}</span>
    <span class="card-librarian-library">{{library}}</span>
  </div>
  <div class="card-librarian-subjects">
    <span class="card-librarian-context">Subject Areas</span>
    <ul class="card-librarian-subjects-list">
      {{#each subjects as |subject|}}
      <li class="card-librarian-subjects-list-item">{{subject}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="card-librarian-contact">
    <span class="card-librarian-context">Contact</span>
    <ul class="card-librarian-contact-info">
      <li class="card-librarian-contact-info-item">
        {{> tokens-icon id='material-phone'}}
        {{> atoms-link href=(combine 'tel:+' phone) label=(formatPhone phone '000-000-0000')}}
      </li>
      <li class="card-librarian-contact-info-item">
        {{> tokens-icon id='material-email'}}
        {{> atoms-link href=(combine 'mailto:' email) label=email}}
      </li>
    </ul>
    <ul class="card-librarian-contact-links">
      {{#if cv}}
      <li class="card-librarian-contact-links-item">
        {{> atoms-link href=(default cv.href cv) label='Download CV' target=(default cv.target '_blank')}}
      </li>
      {{/if}}
      {{#if guides}}
      <li class="card-librarian-contact-links-item">
        {{> atoms-link href=(default guide.href guides) label='View Research Guides' target=(default guides.target '_self')}}
      </li>
      {{/if}}
    </ul>
  </div>
</div>
