<div class="card-contact">
  <div class="card-contact-image">{{> atoms-image src=(default image (combine '/images/avatars/placeholder.' (default gender 'male') '.jpg')) alt=name}}</div>
  {{> atoms-link href=href label=name target=(default target '_self') classes="card-contact-name"}}
  <span class="card-contact-title">{{title}}</span>
  {{> atoms-link href=(combine 'mailto:' email) label=email classes="card-contact-email"}}
</div>
