<div class="card-library-aid">
  <div class="card-library-aid-icon">{{> tokens-icon id='material-lightbulb_on'}}</div>
  <div class="card-library-aid-context">{{default context 'Library Aid'}}</div>
  {{> atoms-link href=href label=title target=(default target '_self') classes='card-library-aid-title'}}
</div>
