{{#with header}}
<header role="banner" aria-label="Main navigation and search" class="header{{#if ../classes}} {{../classes}}{{/if}}" v-cloak>

  <div class="header-notifications">
    {{> compounds-notification notification=notifications.notification noscript=false}}
  </div>

  <div class="header-main">

    {{#with navigation}}{{> compounds-nav-menu-utility desktop-only=true classes='header-main-utility' noscript=false}}{{/with}}
    {{> organisms-nav-bar-main classes='header-main-main' noscript=false}}
    {{> atoms-input-toggle classes='header-main-toggle' id='nav-menu-main--search' noscript=false}}
    {{#with navigation.search}}{{> atoms-nav-button-search classes='header-main-search' for-suffix='search' noscript=false}}{{/with}}
    {{#with search}}{{> organisms-search-menu classes='header-main-overlay' uid='nav-menu-main--search' tab-prefix='nav-menu-main--search--' noscript=false}}{{/with}}

  </div>

</header>

<noscript>

  <header role="banner" aria-label="Main navigation and search"  class="header{{#if ../classes}} {{../classes}}{{/if}}">

    <div class="header-notifications">
      {{> compounds-notification notification=notifications.notification noscript=true}}
    </div>

    <div class="header-main">

      {{#with navigation}}{{> compounds-nav-menu-utility desktop-only=true classes='header-main-utility' noscript=true}}{{/with}}
      {{> organisms-nav-bar-main classes='header-main-main' noscript=true}}
      {{> atoms-input-toggle classes='header-main-toggle' id='nav-menu-main--search--noscript' noscript=true}}
      {{#with navigation.search}}{{> atoms-nav-button-search classes='header-main-search' for='nav-menu-main--search--noscript' noscript=true}}{{/with}}
      {{#with search}}{{> organisms-search-menu classes='header-main-overlay' uid='nav-menu-main--search--noscript' tab-prefix='nav-menu-main--search--noscript--' noscript=true}}{{/with}}

    </div>

  </header>

</noscript>

{{/with}}
