<div class="search-menu{{#if home}} -home{{/if}}">
  <div class="tab-menu-row">
      {{>compounds-tab-menu}}
  </div>
  <div class="search-row">
    <div class="search -form">
      {{#if home}}
      {{> atoms-search mode='big' layout='contained' classes="intro-home-search" id=search.id }}
      {{else}}
      {{>atoms-search mode='small'}}
      {{/if}}
    </div>
    {{#unless home}}
    {{>atoms-link classes="search-clear -underline" label="Cancel" icon=false}}
    {{>atoms-button-toggle id=icon.id position="icon.position" classes="-toggle"}}
    {{/unless}}
  </div>
</div>