{{#unless (eq noscript true)}}
    <div class="search-menu{{#if home}} -home {{/if}} {{#if (eq theme 'dark')}}-dark{{/if}}">
      <div class="search-menu-tabs">
          {{>compounds-tab-menu theme="dark"}}
      </div>
      <div class="search-menu-search">
        <div class="search -form">
          {{#if home}}
          {{> atoms-search mode='big' layout='contained' classes="intro-home-search" id=search.id }}
          {{else}}
          {{>atoms-search cancelable=true mode='small'}}
          {{/if}}
        </div>
      </div>
      {{> atoms-button-toggle classes="search-menu-back"}}
    </div>
{{/unless}}
