.branding-footer {
  display: grid;
  grid-template-areas: "logo" "dropdown";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  max-width: 145px;
}
@media (min-width: 901px) {
  .branding-footer {
    max-width: 155px;
  }
}
.branding-footer-logo {
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.branding-footer-logo .logo {
  width: 100%;
  z-index: 1;
}
.branding-footer-logo .logo svg {
  width: 100%;
}
.branding-footer-dropdown {
  grid-area: dropdown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.branding-footer-dropdown-menu {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  max-width: 145px;
  background-repeat: no-repeat;
  background-position: right 50%;
}
.branding-footer-dropdown-menu option {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.branding-footer {
  grid-column-gap: 5px;
  background-color: #091C44;
}
.branding-footer-logo {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  margin-top: -40px;
}
.branding-footer-logo .logo svg {
  fill: #FFFFFF;
}
.branding-footer-logo .logo svg #badge-bg {
  opacity: 1 !important;
  fill: #091C44;
}
.branding-footer-dropdown-menu {
  font: inherit;
  font: normal bold 11px/1.6364 "Open Sans", sans-serif !important;
  letter-spacing: 0.05em !important;
  text-transform: uppercase !important;
  text-align: left !important;
  color: #E9BF55;
  background-image: url(../icons/php/icon.php?id=material-chevron_down&color=E9BF55&size[width]=15&size[height]=15);
  background-size: 15px;
  padding-right: 15px;
}
.branding-footer-dropdown-menu option {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: initial;
  font-family: sans-serif;
  color: #605858;
}