.social-media-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.social-media-link-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.-inline.social-media-link-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
[disabled].social-media-link, .is-disabled.social-media-link {
  cursor: not-allowed;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.social-media-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.social-media-link .icon {
  width: 20px;
  height: 20px;
}
@media (max-width: 600px) {
  .social-media-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.social-media-link {
  border: 1px solid #091C44;
  background-color: #091C44;
  font: normal bold 11px/1.6364 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #E9BF55;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding-left: 25px;
  padding-right: 25px;
  height: 75px;
}
.social-media-link .icon.-left {
  margin-right: 1em;
}
.social-media-link .icon.-right {
  margin-left: 1em;
}
.social-media-link .icon svg {
  fill: #E9BF55;
}
.social-media-link.-hollow {
  background-color: transparent;
  font: normal bold 11px/1.6364 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #091C44;
}
.social-media-link.-hollow .icon svg {
  fill: #091C44;
}
.social-media-link.-pill {
  border-radius: 37.5px;
}
.social-media-link.-uncapitalize {
  text-transform: none !important;
}
.social-media-link:hover, .social-media-link:focus, .social-media-link.is-hover, .social-media-link.is-focus {
  border-color: #091C44;
  background-color: #091C44;
  font: normal bold 11px/1.6364 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #5387F7;
}
.social-media-link:hover .icon svg, .social-media-link:focus .icon svg, .social-media-link.is-hover .icon svg, .social-media-link.is-focus .icon svg {
  fill: #5387F7;
}
.social-media-link:hover.-hollow, .social-media-link:focus.-hollow, .social-media-link.is-hover.-hollow, .social-media-link.is-focus.-hollow {
  border-color: #091C44;
  background-color: #D0DEFD;
  font: normal bold 11px/1.6364 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #091C44;
}
.social-media-link:hover.-hollow .icon svg, .social-media-link:focus.-hollow .icon svg, .social-media-link.is-hover.-hollow .icon svg, .social-media-link.is-focus.-hollow .icon svg {
  fill: #091C44;
}
.social-media-link:active, .social-media-link.is-active {
  border-color: #091C44;
  background-color: #091C44;
  font: normal bold 11px/1.6364 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: rgba(83, 135, 247, 0.5);
}
.social-media-link:active.-hollow, .social-media-link.is-active.-hollow {
  border-color: #091C44;
  background-color: #D0DEFD;
  font: normal bold 11px/1.6364 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: rgba(9, 28, 68, 0.5);
}
.social-media-link[disabled], .social-media-link.is-disabled {
  opacity: 0.5;
}
.social-media-link-group > * {
  margin-right: 15px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}