@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
ico,
[class^=ico-],
[class*=ico-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-arrow-down-circle::before {
  content: "";
}

.ico-arrow-left-circle::before {
  content: "";
}

.ico-arrow-right-circle::before {
  content: "";
}

.ico-arrow-up-circle::before {
  content: "";
}

.ico-arrow-down-left::before {
  content: "";
}

.ico-arrow-down-right::before {
  content: "";
}

.ico-arrow-up-right::before {
  content: "";
}

.ico-arrow-up-left::before {
  content: "";
}

.ico-arrow-down::before {
  content: "";
}

.ico-arrow-left::before {
  content: "";
}

.ico-arrow-right::before {
  content: "";
}

.ico-arrow-up::before {
  content: "";
}

.ico-chevron-down::before {
  content: "";
}

.ico-chevron-left::before {
  content: "";
}

.ico-chevron-right::before {
  content: "";
}

.ico-chevron-up::before {
  content: "";
}

.ico-chevrons-down::before {
  content: "";
}

.ico-chevrons-left::before {
  content: "";
}

.ico-chevrons-right::before {
  content: "";
}

.ico-chevrons-up::before {
  content: "";
}

.ico-corner-down-left::before {
  content: "";
}

.ico-corner-down-right::before {
  content: "";
}

.ico-corner-left-down::before {
  content: "";
}

.ico-corner-left-up::before {
  content: "";
}

.ico-corner-right-down::before {
  content: "";
}

.ico-corner-right-up::before {
  content: "";
}

.ico-corner-up-left::before {
  content: "";
}

.ico-corner-up-right::before {
  content: "";
}

.panel-toggle .panel-title .anchor {
  display: inline-flex;
  align-items: center;
}
.panel-toggle .panel-title .anchor .icon {
  margin: 0 !important;
}
.panel-toggle .panel-title:not(.is-anchored) .panel-title .anchor {
  display: none;
}

/*** INSERT NEW TOKENS HERE ***/
/*** INSERT NEW ATOMS HERE ***/
.panel {
  display: grid;
  grid-template-areas: "toggle" "content";
  grid-template-columns: 1fr;
}
.panel-switch {
  display: none;
}
.panel-toggle {
  grid-area: toggle;
  display: grid;
  grid-template-areas: "title indicator";
  cursor: pointer;
}
.panel-toggle .panel-title,
.panel-toggle .panel-indicator {
  display: flex;
  align-items: center;
}
.panel-toggle .panel-title {
  grid-area: title;
  justify-content: flex-start;
}
.panel-toggle .panel-indicator {
  grid-area: indicator;
  justify-content: center;
}
.panel-toggle .panel-indicator .icon svg {
  width: 100%;
  height: 100%;
}
.panel-content {
  grid-area: content;
}

/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.panel {
  grid-template-rows: 100px 1fr;
  border-top: 1px solid #B6BDCC;
  border-bottom: 1px solid #B6BDCC;
  transition: all 0.25s ease;
}
.panel-switch:checked ~ .panel-content {
  clip: auto;
  width: auto;
  height: auto;
  margin: auto;
  overflow: auto;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  opacity: 1;
}
.panel-switch:not(:checked) ~ .panel-content {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}
.panel-switch:checked ~ .panel-toggle > .panel-indicator .icon {
  transform: rotate(180deg);
}
.panel-switch:not(:checked) ~ .panel-toggle > .panel-indicator .icon {
  transform: rotate(0deg);
}
.panel-switch:checked ~ .panel-toggle, .panel-switch:checked ~ .panel-content {
  background-color: rgba(231, 234, 241, 0.5);
}
.panel-switch:not(:checked) ~ .panel-toggle, .panel-switch:not(:checked) ~ .panel-content {
  background-color: transparent;
}
.panel-toggle {
  grid-template-columns: 1fr minmax(50px, auto);
  grid-template-rows: 100px;
  transition: all 0.25s ease;
}
.panel-toggle .panel-title {
  padding: 25px;
}
.panel-toggle .panel-title {
  font-family: "Cardo", serif;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-transform: none;
  color: #091C44;
}
.panel-toggle .panel-title.is-anchored:hover .anchor, .panel-toggle .panel-title.is-anchored.is-hover .anchor, .panel-toggle .panel-title.is-anchored:focus .anchor, .panel-toggle .panel-title.is-anchored.is-focus .anchor {
  visibility: visible;
  opacity: 1;
}
.panel-toggle .panel-title .anchor {
  transition: visibility 0s, opacity 0.25s ease;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
}
.panel-toggle .panel-indicator {
  padding: 25px;
}
.panel-toggle .panel-indicator .icon {
  width: 25px;
  height: 25px;
  transition: all 0.25s ease;
}
.panel-toggle .panel-indicator .icon svg {
  fill: #336BE6;
}
.panel-content {
  padding: 25px;
  transform-origin: top center;
  transform-style: preserve-3d;
  position: relative !important;
  width: 100% !important;
  transition: all 0.25s ease;
}
.panel-content {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.9375;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}