@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
/*** INSERT NEW TOKENS HERE ***/
.accordion-toggles-toggle {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.accordion-toggles-toggle::after {
  content: attr(data-subtext);
  display: block;
}
.accordion-toggles-toggle .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*** INSERT NEW ATOMS HERE ***/
/*** INSERT NEW MOLECULES HERE ***/
.accordion {
  display: grid;
  grid-template-columns: 1fr max-content;
}
.accordion-title, .accordion-toggles {
  display: flex;
  align-items: center;
}
.accordion-title {
  grid-column: 1;
  justify-content: flex-start;
}
.accordion-toggles {
  grid-column: 2;
  justify-content: flex-end;
}
.accordion-panel {
  grid-column: 1/span 2;
}

/*** INSERT NEW COMPOUNDS HERE ***/
/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.accordion {
  margin-top: 2em;
  margin-bottom: 2em;
}
.accordion-title, .accordion-toggles {
  padding-top: 15px;
  padding-bottom: 15px;
}
.accordion-title {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6667;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #004990;
}
.accordion-toggles-toggle {
  line-height: 1 !important;
}
.accordion-toggles-toggle {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6667;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #605858;
}
.accordion-toggles-toggle {
  font-weight: bold;
  font-style: normal;
  color: #336BE6;
  transition: all 0.25s ease;
  background: none;
  border: none;
}
.accordion-toggles-toggle .icon {
  width: 24px;
  height: 24px;
  margin-right: 1ex;
}
.accordion-toggles-toggle .icon svg {
  fill: #336BE6;
}
.accordion-toggles-toggle:hover, .accordion-toggles-toggle.is-hover, .accordion-toggles-toggle:focus, .accordion-toggles-toggle.is-focus {
  color: #004990;
}
.accordion-toggles-toggle:hover .icon svg, .accordion-toggles-toggle.is-hover .icon svg, .accordion-toggles-toggle:focus .icon svg, .accordion-toggles-toggle.is-focus .icon svg {
  fill: #004990;
}
.accordion-toggles-toggle:active, .accordion-toggles-toggle.is-active {
  color: #004990;
}
.accordion-toggles-toggle:active .icon svg, .accordion-toggles-toggle.is-active .icon svg {
  fill: #004990;
}
.accordion-toggles-toggle::after {
  font-size: 12px !important;
  line-height: 1 !important;
}
.accordion-toggles-toggle::after {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.9375;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
.accordion-toggles-toggle.-popular {
  font-family: "Cardo", serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 2.05;
  color: #FFFFFF;
}
.accordion-toggles-toggle.-popular:hover, .accordion-toggles-toggle.-popular.is-hover, .accordion-toggles-toggle.-popular:focus, .accordion-toggles-toggle.-popular.is-focus {
  color: #336BE6;
}
.accordion-toggles-toggle.-popular:active, .accordion-toggles-toggle.-popular.is-active {
  color: #336BE6;
}
.accordion-toggles-toggle.-underline {
  text-decoration: underline;
}
.accordion-toggles-toggle + .accordion-toggles-toggle {
  border-left: 1px solid #B6BDCC;
}
.accordion-panel + .accordion-panel {
  border-top: none !important;
}