.slider {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  overflow: visible;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.slider-slides .slide {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.slider-indicator {
  margin: 0 auto;
  -webkit-transform: translatey(50%);
          transform: translatey(50%);
  z-index: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.slider-toggle {
  display: none;
}
@media (min-width: 601px) and (max-width: 900px) {
  .slider-toggle {
    display: block;
    position: absolute;
    margin: auto 0;
    top: 50%;
    z-index: 1;
    border: none;
    background: transparent;
    line-height: 0;
    font-size: 0;
    color: transparent;
    cursor: pointer;
  }
  .slider-toggle::after {
    content: "";
    display: block;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  .-previous.slider-toggle {
    left: 50px;
    -webkit-transform: translatey(-50%) translatex(-50%);
            transform: translatey(-50%) translatex(-50%);
  }
  .-next.slider-toggle {
    right: 50px;
    -webkit-transform: translatey(-50%) translatex(50%);
            transform: translatey(-50%) translatex(50%);
  }
  [disabled].slider-toggle {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
@media (min-width: 901px) {
  .slider-toggle {
    display: block;
    position: absolute;
    margin: auto 0;
    top: 50%;
    z-index: 1;
    border: none;
    background: transparent;
    line-height: 0;
    font-size: 0;
    color: transparent;
    cursor: pointer;
  }
  .slider-toggle::after {
    content: "";
    display: block;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  .-previous.slider-toggle {
    left: 50px;
    -webkit-transform: translatey(-50%) translatex(-50%);
            transform: translatey(-50%) translatex(-50%);
  }
  .-next.slider-toggle {
    right: 50px;
    -webkit-transform: translatey(-50%) translatex(50%);
            transform: translatey(-50%) translatex(50%);
  }
  [disabled].slider-toggle {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.slider-indicator {
  width: 11px;
  height: 11px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -31px;
  border-radius: 100%;
  border: 2px solid #5387F7;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  background-color: transparent;
}
.slider-indicator:checked {
  background-color: #5387F7;
}
.slider-indicator:nth-of-type(1):checked ~ .slider-slides {
  left: 0%;
}
.slider-indicator:nth-of-type(2):checked ~ .slider-slides {
  left: -100%;
}
.slider-indicator:nth-of-type(3):checked ~ .slider-slides {
  left: -200%;
}
.slider-indicator:nth-of-type(4):checked ~ .slider-slides {
  left: -300%;
}
.slider-indicator:nth-of-type(5):checked ~ .slider-slides {
  left: -400%;
}
.slider-indicator:nth-of-type(6):checked ~ .slider-slides {
  left: -500%;
}
.slider-indicator:nth-of-type(7):checked ~ .slider-slides {
  left: -600%;
}
.slider-indicator:nth-of-type(8):checked ~ .slider-slides {
  left: -700%;
}
.slider-toggle {
  width: 50px;
  height: 50px;
}
.slider-toggle.-previous::after {
  content: url(../assets/icons/php/icon.php?id=material-chevron_left&color=5387F7&size[width]=50&size[height]=50);
}
.slider-toggle.-next::after {
  content: url(../assets/icons/php/icon.php?id=material-chevron_right&color=5387F7&size[width]=50&size[height]=50);
}
@media (max-width: 600px) {
  .slider-toggle.-previous {
    left: 3.5%;
  }
  .slider-toggle.-next {
    right: 3.5%;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .slider-toggle.-previous {
    left: 5%;
  }
  .slider-toggle.-next {
    right: 5%;
  }
}
@media (min-width: 901px) {
  .slider-toggle.-previous {
    left: 10%;
  }
  .slider-toggle.-next {
    right: 10%;
  }
}
.slider-indicator:focus, .slider-toggle:focus {
  outline: 1px dotted #FFFFFF;
}
.slider-slides {
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}