<div class="sg-stack">

  {{#figures}}
  <div class="sg-stack-item">
  
    <h5 class="sg-variation-label">{{styleModifier}}{{^styleModifier}}Default{{/styleModifier}}</h5>
    <code class="sg-code-snippet">figure{{#styleModifier}}.{{styleModifier}}{{/styleModifier}}</code>
    
    {{> organisms-figure }}
  
  </div>
  {{/figures}}

</div>