@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
ico,
[class^=ico-],
[class*=ico-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-arrow-down-circle::before {
  content: "";
}

.ico-arrow-left-circle::before {
  content: "";
}

.ico-arrow-right-circle::before {
  content: "";
}

.ico-arrow-up-circle::before {
  content: "";
}

.ico-arrow-down-left::before {
  content: "";
}

.ico-arrow-down-right::before {
  content: "";
}

.ico-arrow-up-right::before {
  content: "";
}

.ico-arrow-up-left::before {
  content: "";
}

.ico-arrow-down::before {
  content: "";
}

.ico-arrow-left::before {
  content: "";
}

.ico-arrow-right::before {
  content: "";
}

.ico-arrow-up::before {
  content: "";
}

.ico-chevron-down::before {
  content: "";
}

.ico-chevron-left::before {
  content: "";
}

.ico-chevron-right::before {
  content: "";
}

.ico-chevron-up::before {
  content: "";
}

.ico-chevrons-down::before {
  content: "";
}

.ico-chevrons-left::before {
  content: "";
}

.ico-chevrons-right::before {
  content: "";
}

.ico-chevrons-up::before {
  content: "";
}

.ico-corner-down-left::before {
  content: "";
}

.ico-corner-down-right::before {
  content: "";
}

.ico-corner-left-down::before {
  content: "";
}

.ico-corner-left-up::before {
  content: "";
}

.ico-corner-right-down::before {
  content: "";
}

.ico-corner-right-up::before {
  content: "";
}

.ico-corner-up-left::before {
  content: "";
}

.ico-corner-up-right::before {
  content: "";
}

/*** INSERT NEW TOKENS HERE ***/
/*** INSERT NEW ATOMS HERE ***/
.flyout-info-item {
  display: table-row;
}
.flyout-info-item-label, .flyout-info-item-data {
  display: table-cell;
}
/*** INSERT NEW MOLECULES HERE ***/
/*** INSERT NEW COMPOUNDS HERE ***/
/*** INSERT NEW ORGANISMS HERE ***/
/*** INSERT NEW TEMPLATES HERE ***/
.flyout-info-item {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6429;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}
@media (max-width: 600px) {
  .flyout-info-item {
    background-color: #091C44;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .flyout-info-item {
    background-color: #FFFFFF;
  }
}
@media (min-width: 901px) {
  .flyout-info-item {
    background-color: #FFFFFF;
  }
}
.flyout-info-item-label, .flyout-info-item-data {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}
.flyout-info-item-label:first-child, .flyout-info-item-data:first-child {
  padding-right: 12.5px;
}
.flyout-info-item-label:last-child, .flyout-info-item-data:last-child {
  padding-left: 12.5px;
}
@media (max-width: 600px) {
  .flyout-info-item-label {
    color: #D0DEFD;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .flyout-info-item-label {
    color: #605858;
  }
}
@media (min-width: 901px) {
  .flyout-info-item-label {
    color: #605858;
  }
}
.flyout-info-item-data {
  font-weight: bold;
}
@media (max-width: 600px) {
  .flyout-info-item-data {
    color: #FFFFFF;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .flyout-info-item-data {
    color: #082B73;
  }
}
@media (min-width: 901px) {
  .flyout-info-item-data {
    color: #082B73;
  }
}
@media (max-width: 600px) {
  .flyout-info-item-data.-faded {
    color: #B6BDCC;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .flyout-info-item-data.-faded {
    color: #B6BDCC;
  }
}
@media (min-width: 901px) {
  .flyout-info-item-data.-faded {
    color: #B6BDCC;
  }
}