
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <script src="http://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>

  <script src="../../js/index.js?{{cacheBuster}}" type=""></script>
<script src="../../js/plugins/clipboard/clipboard.min.js?{{cacheBuster}}" type=""></script>
<script src="../../js/patternlab.js?{{cacheBuster}}" type=""></script>

  </body>
</html>
